= render partial: 'spree/admin/shared/configuration_menu'

= render partial: 'js_head'

- content_for :page_title do
  = t("spree.taxonomy_edit")

- content_for :page_actions do
  %li
    = button_link_to t("spree.back_to_taxonomies_list"), spree.admin_taxonomies_path, icon: 'icon-arrow-left'

#ajax_error.errorExplanation{style: "display:none;"}
= form_for [:admin, @taxonomy] do |f|
  %fieldset.no-border-top
    = render partial: 'form', locals: { f: f }
    %div
      = label_tag nil, t("spree.tree")
      %br/
      :javascript
        Spree.routes.taxonomy_taxons = "#{main_app.api_v0_taxonomy_taxons_url(@taxonomy)}";
        Spree.routes.admin_taxonomy_taxons = "#{spree.admin_taxonomy_taxons_url(@taxonomy)}";
      #taxonomy_tree.tree
    .info= t("spree.taxonomy_tree_instruction")
    %br/
    .filter-actions.actions
      = button t('spree.actions.update'), 'icon-refresh'
      = button_link_to t('spree.actions.cancel'), admin_taxonomies_path, icon: 'icon-remove'
