= admin_inject_spree_api_key
= admin_inject_hubs(module: 'admin.variantOverrides')
= admin_inject_hub_permissions
= admin_inject_producers(module: 'admin.variantOverrides')
= admin_inject_column_preferences(module: 'admin.variantOverrides')
= admin_inject_variant_overrides
= admin_inject_inventory_items(module: 'admin.variantOverrides')
