= render 'admin/variant_overrides/header'
= render 'admin/variant_overrides/data'

.margin-bottom-50{ ng: { app: 'admin.variantOverrides', controller: 'AdminVariantOverridesCtrl', init: 'initialise()' } }
  = render 'admin/variant_overrides/filters'
  = render 'admin/variant_overrides/new_variants'
  %hr.divider.sixteen.columns.alpha.omega{ ng: { show: 'hub' } }
  .controls.sixteen.columns.alpha.omega{ ng: { show: 'hub' } }
    %input.four.columns.alpha{ type: 'button', value: 'Reset Stock to Defaults', 'ng-click' => 'resetStock()' }
    %input.four.columns{ type: 'button', ng: { value: "showHidden ? 'Hide Hidden' : 'Show Hidden'", click: 'showHidden = !showHidden' } }
    %div.five.columns &nbsp;
    = render 'admin/shared/columns_dropdown'

  %form{ name: 'variant_overrides_form' }
    %save-bar{ save: "update()", form: "variant_overrides_form" }
    = render 'admin/variant_overrides/products'
