= render 'admin/variant_overrides/header'
= render 'admin/variant_overrides/data'

%div{ ng: { app: 'admin.variantOverrides', controller: 'AdminVariantOverridesCtrl', init: 'initialise()' } }
  = render 'admin/variant_overrides/filters'

  %div{ng: {show: 'hub'}}
    %h2 {{ hub.name }}
    = render 'admin/variant_overrides/actions'

  = render 'admin/variant_overrides/products'
