.closed-shop-header
  .row
    .small-12.columns
      .content{ "darker-background" => true }
        %h4
          .warning-sign
            .rectangle
            %strong !
          .message
            = t :shopping_oc_closed
        %p
          = render partial: "shopping_shared/next_order_cycle"
          = render partial: "shopping_shared/last_order_cycle"

.row
  .small-12.columns
    .content
      .shopfront_closed_message
      - if shopfront_closed_message?
        = current_distributor.preferred_shopfront_closed_message.html_safe
      - else
        = t :shopping_oc_closed_description
