- content_for :page_title do
  = Spree.t(:payment_methods)

- content_for :page_actions do
  %li
    = button_link_to Spree.t(:new_payment_method), new_object_url, icon: 'icon-plus', id: 'admin_new_payment_methods_link'

- if @payment_methods.any?
  %table#listing_payment_methods.index
    %colgroup
      %col{style: "width: 13%"}
      %col{style: "width: 14%"}
      %col{style: "width: 32%"}
      %col{style: "width: 14%"}
      %col{style: "width:  8%"}
      %col{style: "width:  8%"}
      %col{style: "width: 11%"}
    %thead
      %tr
        %th= Spree.t(:name)
        %th= t(:products_distributor)
        %th= Spree.t(:provider)
        %th= Spree.t(:environment)
        %th= Spree.t(:display)
        %th= Spree.t(:active)
        %th.actions
    %tbody
      - @payment_methods.each do |method|
        %tr{class: "#{cycle('odd', 'even')}", id: "#{spree_dom_id method}"}
          %td.align-center= method.name
          %td.align-center
            - method.distributors.each do |distributor|
              = distributor.name
              %br/
          %td= method.type
          %td.align-center= method.environment.to_s.titleize
          %td.align-center= method.display_on.blank? ? Spree.t(:both) : Spree.t(method.display_on)
          %td.align-center= method.active ? Spree.t(:say_yes) : Spree.t(:say_no)
          %td.actions
            = link_to_edit method, no_text: true
            = link_to_delete method, no_text: true
- else
  .alpha.twelve.columns.no-objects-found= Spree.t(:no_payment_methods_found)
