- if spree_current_user.admin?
  = render 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t('.new_payment_method')
- content_for :page_actions do
  %li
    = button_link_to t('.back_to_payment_methods_list'), admin_payment_methods_path, icon: 'icon-arrow-left'
= render partial: 'spree/shared/error_messages', locals: { target: @payment_method }
= form_for @payment_method, url: collection_url do |f|
  %fieldset.no-border-top
    = render partial: 'form', locals: { f: f }
    .one.column &nbsp;
    = render partial: 'spree/admin/shared/hubs_sidebar', locals: { f: f, klass: :payment_method }
    .clear
    .filter-actions.actions
      = button t(:create), 'icon-ok'
