.row
  .columns.small-12.medium-5
    - if current_order.nil? || current_order.distributor.nil? || current_order.distributor == @order.distributor
      - if current_order&.line_items.present?
        = link_to main_app.cart_path, :class => "button expand" do
          = t(:order_back_to_cart)
      - else
        .columns.small-12.medium-6
          = link_to "#{main_app.enterprise_shop_path(@order.distributor)}#/shop", class: "button expand" do
            = t(:order_back_to_store)
        .columns.small-12.medium-6
          - if @order.distributor.website.present?
            = link_to_service "https://", @order.distributor.website, class: "button expand" do
              = t(:order_back_to_website)
    - else
      &nbsp;
  - if order.changes_allowed?
    .columns.show-for-medium-up.medium-1 &nbsp;
    .columns.small-12.medium-3
      = link_to main_app.cancel_order_path(@order), method: :put, class: "button secondary expand", "data-confirm": t('orders_confirm_cancel') do
        %i.ofn-i_009-close
        = t(:cancel_order)
    .columns.small-12.medium-3
      = button_tag :class => 'button primary expand', :id => 'update-button', "ng-disabled" => 'update_order_form.$pristine' do
        %i.ofn-i_051-check-big
        %span{ ng: { show: 'update_order_form.$dirty' } }= t(:save_changes)
        %span{ ng: { hide: 'update_order_form.$dirty' } }= t(:order_saved)
