<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>

<div id="forgot-password">
  <h6><%= Spree.t(:forgot_password) %></h6>

  <p><%= Spree.t(:instructions_to_reset_password) %></p>

  <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
    <p>
      <%= f.label :email, Spree.t(:email) %><br />
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.submit Spree.t(:reset_password), :class => 'button primary' %>
    </p>
  <% end %>
</div>
