= cms_elrte_include_tags

%table{'data-hook' => "suppliers"}
  %tr{'data-hook' => "name"}
    %td Name:
    %td= f.text_field :name
  %tr{'data-hook' => "description"}
    %td Description:
    %td= f.text_field :description
  %tr{'data-hook' => "long_description"}
    %td Extended Description:
    %td= f.text_area :long_description, :class => 'rich_text'
  = f.fields_for :address do |address_form|
    = render 'spree/admin/shared/address_form', :f => address_form
  %tr{'data-hook' => "email"}
    %td Email:
    %td= f.text_field :email
  %tr{'data-hook' => "website"}
    %td Website:
    %td= f.text_field :website
  %tr{'data-hook' => "twitter"}
    %td Twitter:
    %td= f.text_field :twitter
