.toolbar{'data-hook' => "suppliers"}
  %ul.actions
    %li= button_link_to "New Supplier", spree.new_admin_supplier_path, :icon => 'add', :id => 'admin_new_supplier_link'
  %br.clear
%table#listing_suppliers.index
  %thead
    %tr{'data-hook' => "suppliers_header"}
      %th Name
      %th Description
      %th
  %tbody
    - @suppliers.each do |supplier|
      %tr
        %td= link_to supplier.name, spree.admin_supplier_path(supplier)
        %td= supplier.description
        %td{'data-hook' => "admin_supplier_index_row_actions"}
          = link_to_edit supplier, :class => 'edit'
          &nbsp;
          = link_to_delete supplier
    - if @suppliers.empty?
      %tr
        %td{:colspan => "2"}= t(:none)
