
<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to "New Supplier", spree.new_admin_supplier_path, :icon => 'add', :id => 'admin_new_supplier_link' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<table class="index" id='listing_suppliers'>
  <thead>
    <tr data-hook="suppliers_header">
      <th>Name</th>
      <th>
        Description
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr >
        <td><%= link_to supplier.name, spree.admin_supplier_path(supplier) %></td>
        <td><%=supplier.description %></td>
        <td data-hook="admin_supplier_index_row_actions">
          <%= link_to_edit supplier, :class => 'edit' %> &nbsp;
          <%= link_to_delete supplier %>
        </td>
      </tr>
    <% end %>
    <% if @suppliers.empty? %>
      <tr><td colspan="2"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>