%h1 Supplier
%table
  %tr
    %th Name
    %td= @supplier.name
  %tr
    %th Description
    %td= @supplier.description
  %tr
    %th Address
    %td= @supplier.address
  %tr
    %th City:
    %td= @supplier.city
  %tr
    %th Post Code:
    %td= @supplier.postcode
  %tr
    %th Country:
    %td= @supplier.country.name if @supplier.country
  %tr
    %th State:
    %td= @supplier.state.name if @supplier.state
  %tr
    %th Email
    %td= @supplier.email
  %tr
    %th Website
    %td= @supplier.website
  %tr
    %th Twitter
    %td= @supplier.twitter
%p
  = link_to :Edit, spree.edit_admin_supplier_path(@supplier), :class => 'edit_supplier'
  = t(:or)
  = link_to t(:back), spree.admin_suppliers_path
