= render :partial => 'spree/admin/shared/configuration_menu'

- content_for :app_wrapper_attrs do
  = "ng-app='admin.businessModelConfiguration'"

- content_for :page_title do
  %h1.page-title= t('.business_model_configuration')
  %a{ 'ofn-with-tip' => t('.business_model_configuration_tip') }
    = t('admin.whats_this')

= render 'spree/shared/error_messages', target: @settings

.row{ ng: { controller: "BusinessModelConfigCtrl" } }
  .five.columns.omega
    %fieldset.no-border-bottom
      %legend=t('.bill_calculation_settings')
      %p
        = t('.bill_calculation_settings_tip')
      %br
      = form_for @settings, as: :settings, url: main_app.admin_business_model_configuration_path, :method => :put do |f|
        .row
          .three.columns.alpha
            = f.label :shop_trial_length_days, t('.shop_trial_length')
            %span.icon-question-sign{'ofn-with-tip' => t('.shop_trial_length_tip')}
          .two.columns.omega
            = f.number_field :shop_trial_length_days, min: 0.0, step: 1.0, class: "fullwidth"
        .row
          .three.columns.alpha
            = f.label :account_invoices_monthly_fixed, t('.fixed_monthly_charge')
            %span.icon-question-sign{'ofn-with-tip' => t('.fixed_monthly_charge_tip')}
          .two.columns.omega
            .input-symbol.before
              %span= Spree::Money.currency_symbol
              = f.number_field :account_invoices_monthly_fixed, min: 0.0, class: "fullwidth", 'watch-value-as' => 'fixed'
        .row
          .three.columns.alpha
            = f.label :account_invoices_monthly_rate, t('.percentage_of_turnover')
            %span.icon-question-sign{'ofn-with-tip' => t('.percentage_of_turnover_tip')}
          .two.columns.omega
            = f.number_field :account_invoices_monthly_rate, min: 0.0, max: 1.0, step: 0.01, class: "fullwidth", 'watch-value-as' => 'rate'
        .row
          .three.columns.alpha
            = f.label :account_invoices_monthly_cap, t('.monthly_cap_excl_tax')
            %span.icon-question-sign{'ofn-with-tip' => t('.monthly_cap_excl_tax_tip')}
          .two.columns.omega
            .input-symbol.before
              %span= Spree::Money.currency_symbol
              = f.number_field :account_invoices_monthly_cap, min: 0.0, class: "fullwidth", 'watch-value-as' => 'cap'
        .row
          .three.columns.alpha
            = f.label :account_invoices_tax_rate, t('.tax_rate')
            %span.icon-question-sign{'ofn-with-tip' => t('.tax_rate_tip')}
          .two.columns.omega
            = f.number_field :account_invoices_tax_rate, min: 0.0, max: 1.0, step: 0.01, class: "fullwidth", 'watch-value-as' => 'taxRate'
        .row
          .three.columns.alpha
            = f.label :minimum_billable_turnover, t('.minimum_monthly_billable_turnover')
            %span.icon-question-sign{'ofn-with-tip' => t('.minimum_monthly_billable_turnover_tip')}
          .two.columns.omega
            .input-symbol.before
              %span= Spree::Money.currency_symbol
              = f.number_field :minimum_billable_turnover, min: 0, class: "fullwidth", 'watch-value-as' => 'minBillableTurnover'

        .row
          .five.columns.alpha.omega.form-buttons{"data-hook" => "buttons"}
            = button t(:update), 'icon-refresh', value: "update"

  .two.columns
    &nbsp;

  .five.columns.alpha
    %fieldset.no-border-bottom
      %legend= t('.example_bill_calculator')
      %p
        = t('.example_bill_calculator_legend')
      %br
      .row
        .three.columns.alpha
          = label_tag :turnover, t('.example_monthly_turnover')
          %span.icon-question-sign{'ofn-with-tip' => t('.example_monthly_turnover_tip')}
        .two.columns.omega
          .input-symbol.before
            %span= Spree::Money.currency_symbol
            %input.fullwidth{ id: 'turnover', type: "number", ng: { model: 'turnover' } }
      .row
        .three.columns.alpha
          = label_tag :cap_reached, t('.cap_reached?')
          %span.icon-question-sign{'ofn-with-tip' => t('.cap_reached?_tip')}
        .two.columns.omega
          %input.fullwidth{ id: 'cap_reached', type: "text", readonly: true, ng: { value: 'capReached()' } }
      .row
        .three.columns.alpha
          = label_tag :included_tax, t('.included_tax')
          %span.icon-question-sign{'ofn-with-tip' => t('.included_tax_tip')}
        .two.columns.omega
          %span= Spree::Money.currency_symbol
          %input.fullwidth{ id: 'included_tax', type: "text", readonly: true, ng: { value: 'includedTax()' } }
      .row
        .three.columns.alpha
          = label_tag :total_incl_tax, t('.total_monthly_bill_incl_tax')
          %span.icon-question-sign{'ofn-with-tip' => t('.total_monthly_bill_incl_tax_tip')}
        .two.columns.omega
          %span= Spree::Money.currency_symbol
          %input.fullwidth{ id: 'total_incl_tax', type: "text", readonly: true, ng: { value: 'total()' } }
