= render :partial => 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  %h1.page-title= t(:business_model_configuration)
  %a.with-tip{ 'data-powertip' => "Configure the rate at which shops will be charged each month for use of the Open Food Network." } What's this?

= render 'spree/shared/error_messages', target: @settings

%fieldset.no-border-bottom
  %legend=t(:monthly_bill_calculation_settings)
  = form_for @settings, as: :settings, url: main_app.admin_business_model_configuration_path, :method => :put do |f|
    .row
      .one.column.alpha
        .field
          = label :nothing, ""
          %br
          %h6 Bill&nbsp;&nbsp;&nbsp;=
      .two.columns
        .field
          = f.label :account_invoices_monthly_fixed, t(:fixed_charge)
          %span.with-tip.icon-question-sign{'data-powertip' => "A fixed monthly charge for ALL enterprises who are set up as a shop, regardless of how much produce they sell."}
          %br
          = f.number_field :account_invoices_monthly_fixed, min: 0.0, class: "fullwidth"
      .one.column.text-center
        .field
          = label :nothing, ""
          %br
          %h6 +
      .two.columns
        .field
          = label :nothing, ""
          %br
          %h6 (&nbsp;&nbsp;Turnover&nbsp;&nbsp;&nbsp;&times;
      .two.columns
        .field
          = f.label :account_invoices_monthly_rate, t(:percentage)
          %span.with-tip.icon-question-sign{'data-powertip' => "When greater than zero, this rate (0.0 - 1.0) will be applied to the total turnover of each shop and added to any fixed charges (to the left) to calculate the monthly bill."}
          %br
          = f.number_field :account_invoices_monthly_rate, min: 0.0, max: 1.0, step: 0.01, class: "fullwidth"
      .one.column
        .field
          = label :nothing, ""
          %br
          %h6 )
      .two.columns.omega
        .field
          = f.label :account_invoices_monthly_cap, t(:capped_at)
          %span.with-tip.icon-question-sign{'data-powertip' => "When greater than zero, this value will be used as a cap on the amount that shops will be charged each month."}
          %br
          = f.number_field :account_invoices_monthly_cap, min: 0.0, class: "fullwidth"

    .row
      .twelve.columns.alpha.omega.form-buttons{"data-hook" => "buttons"}
        = button t(:update), 'icon-refresh', value: "update"
