.columns.two= image_tag 'pickup.png'
.columns.nine
  %h2
    = t :ocs_closed_headline
  %p
    - if most_recently_closed = OrderCycle.most_recently_closed_for(@enterprise)
      = t :ocs_closed_time, time: distance_of_time_in_words_to_now(most_recently_closed.orders_close_at)
    = t :ocs_closed_contact

  - if next_oc = OrderCycle.first_opening_for(@enterprise)
    %h4
      = t :ocs_closed_opens, time: distance_of_time_in_words_to_now(next_oc.orders_open_at)

  %p
    = t(:ocs_closed_email, email: current_distributor.email_address) if current_distributor.email_address
    %br/
    = t(:ocs_closed_phone, phone: current_distributor.phone) if current_distributor.phone
