.columns.two= image_tag 'pickup.png'
.columns.six
  %h2
    = t :ocs_when_headline
  %p
    = t :ocs_when_text
.columns.three
  = form_for current_order(true), :html => {:id => 'order_cycle_select'} do |f|
    = f.hidden_field :distributor_id, :value => @enterprise.id
    .order-cycles
      = f.select :order_cycle_id, order_cycle_options, {include_blank: t(:ocs_when_closing)}
    = hidden_field_tag :commit, t(:ocs_when_choose)
