.columns.six
  %h1
    = t :ocs_pickup_time, pickup_time: pickup_time
  %i
    = link_to t(:ocs_change_date), spree.clear_orders_path, :id => 'reset_order_cycle'
    = t :ocs_change_date_notice
.columns.five
  .row
    %strong
      = t :ocs_close_time
  .countdown-panel
    %h1= distance_of_time_in_words_to_now(current_order_cycle.orders_close_at)
