- greeting_key = "mailers_shared.general_greeting"
- intro_key = ".welcome"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key),
                   intro: t(intro_key, sitename: @instance) }

%p
  = t('.activate_account')

%p.callout
  = t('.click_link')
  %br
  %strong
    = link_to t('.link_label'), spree.spree_user_confirmation_url(:confirmation_token => @user.confirmation_token)

= render 'shared/mailers/signoff_instance'

%p.notice
  = t('.notice_unexpected', sitename: @instance, contact: @contact)
