- greeting_key = "mailers_shared.general_greeting"
- intro_key = ".welcome"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key),
                   intro: t(intro_key, sitename: @instance) }

%p= t :email_confirmation_activate_account

%p.callout
  = t :email_confirmation_click_link
  %br
  %strong
    = link_to t(:email_confirmation_link_label), spree.spree_user_confirmation_url(:confirmation_token => @user.confirmation_token)

= render 'shared/mailers/signoff'

%p.notice
  = t :email_confirmation_notice_unexpected, sitename: @instance, contact: @contact
