- greeting_key = "mailers_shared.general_greeting"
- intro_key = ".request_sent_text"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key),
                   intro: t(intro_key) }

%p.callout
  = t('.click_link')
  %br
  %strong
    = link_to t('.link_label'), @edit_password_reset_url

%p
  = t('.issue_text')

= render 'shared/mailers/signoff_instance'
