%tr
  %td
    %p
      %strong
        = cookie_name
      %span /
      {{ 'legal.cookies_policy.cookie_domain' | t }}
      - if cookie_domain
        = cookie_domain
      - else
        = "{{ instance_hostname }}"
    %p
      = "{{ '#{cookie_desc}' | t }}"
