%h2
  = t 'legal.cookies_policy.header'
%p
  = t 'legal.cookies_policy.desc_part_1'
%p
  = t 'legal.cookies_policy.desc_part_2'
%p
  = t 'legal.cookies_policy.desc_part_3'

%h2
  = t 'legal.cookies_policy.essential_cookies'
%p
  = t 'legal.cookies_policy.essential_cookies_desc'

%table{ng: { controller:"CookiesPolicyModalCtrl"}}
  = render_cookie_entry( "_ofn_session_id", t( "legal.cookies_policy.cookie_session_desc" ) )
  = render_cookie_entry( "cookies_consent", t( "legal.cookies_policy.cookie_consent_desc" ) )
  = render_cookie_entry( "remember_spree_user_token", t( "legal.cookies_policy.cookie_remember_me_desc" ) )
  = render_cookie_entry( "qos_token", t( "legal.cookies_policy.cookie_openstreemap_desc" ), "openstreetmap.org" )
  %tr
    %td
      %p
        %strong m
        %span /
        = t 'legal.cookies_policy.cookie_domain'
        = "m.stripe.com"
      %p
        %strong nsr
        %span /
        = t 'legal.cookies_policy.cookie_domain'
        = "m.stripe.network"
      %p
        %strong __stripe_sid
        %span /
        = t 'legal.cookies_policy.cookie_domain'
        = "{{ instance_hostname }}"
      %p
        %strong __stripe_mid
        %span /
        = t 'legal.cookies_policy.cookie_domain'
        = "{{ instance_hostname }}"
      %p
        = t 'legal.cookies_policy.cookie_stripe_desc'
%p
  = t 'legal.cookies_policy.essential_cookies_note'

- if Spree::Config.cookies_policy_matomo_section
  %h2
    = t 'legal.cookies_policy.statistics_cookies'
  %p
    = t 'legal.cookies_policy.statistics_cookies_desc'
  %p
    = t 'legal.cookies_policy.statistics_cookies_matomo_desc_html'

  %table{ng: { controller:"CookiesPolicyModalCtrl"}}
    = render_cookie_entry( "_pk_ref, _pk_cvar, _pk_id and _pk_ses", t( "legal.cookies_policy.cookie_matomo_basics_desc" ) )
    = render_cookie_entry( "_pk_hsr, _pk_cvar, _pk_id and _pk_ses", t( "legal.cookies_policy.cookie_matomo_heatmap_desc" ) )
    = render_cookie_entry( "piwik_ignore, _pk_cvar, _pk_id and _pk_ses", t( "legal.cookies_policy.cookie_matomo_ignore_desc" ) )

  - if Spree::Config.matomo_url.present?
    %p
      = t 'legal.cookies_policy.statistics_cookies_matomo_optout'
    %p
      %iframe{ src: matomo_iframe_src }

%h2
  = t 'legal.cookies_policy.disabling_cookies_header'
%p
  = t 'legal.cookies_policy.disabling_cookies_desc'
%ul
  %li
    %a{ href: t( 'legal.cookies_policy.disabling_cookies_firefox_link' ), target: "_blank" }
      Firefox
  %li
    %a{ href: t( 'legal.cookies_policy.disabling_cookies_chrome_link' ), target: "_blank" }
      Chrome
  %li
    %a{ href: t( 'legal.cookies_policy.disabling_cookies_ie_link' ), target: "_blank" }
      Internet Explorer
  %li
    %a{ href: t( 'legal.cookies_policy.disabling_cookies_safari_link' ), target: "_blank" }
      Safari
%p
  = t 'legal.cookies_policy.disabling_cookies_note'

%a.close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close

%a.mobile-close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close
