- content_for :page_title do
  = t('admin.standing_orders.standing_orders')

- content_for :app_wrapper_attrs do
  = "ng-app='admin.standingOrders'"

- content_for :page_actions do
  %li
    %a.button.icon-plus#new-standing-order{ href: "javascript:void(0)", "new-standing-order-dialog" => true }
      = t('admin.standing_orders.new')

= admin_inject_column_preferences module: 'admin.standingOrders'
= render 'data'
= render 'order_update_issues_dialog'

%div{ ng: { controller: 'StandingOrdersController' } }
  = render 'filters'
  = render 'controls'
  = render 'table'
