%html{ lang: "en" }
  %head{"data-hook" => "admin_inside_head"}= render :partial => 'spree/admin/shared/head'
  %body.admin{"data-ajax-root-path" => main_app.root_path}
    #wrapper{"data-hook" => ""}
      - if flash[:error]
        .flash.error= flash[:error]
      - if notice
        .flash.notice= notice
      - if flash[:success]
        .flash.success= flash[:success]
      = render partial: "spree/layouts/admin/progress_spinner"

      %header#header{"data-hook" => ""}
        .container
          %figure.columns.five{"data-hook" => "logo-wrapper"}= link_to image_pack_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), spree.admin_dashboard_path
          %nav.columns.eleven{"data-hook" => "admin_login_navigation_bar"}
            = render partial: "spree/layouts/admin/login_nav"

      .container
        .row
          #content{"data-hook" => ""}
            %div{:class => "sixteen columns"}
              = yield
    %div{"data-hook" => "admin_footer_scripts"}