.contact.small-2.large-3.columns
  %h3 Contact
  %ul
    %li= @distributor.email
    %li= @distributor.website
  = @distributor.address.address1
  = @distributor.address.address2
  = @distributor.address.city
