%shop.darkswarm{"ng-app" => "Shop"}
  - content_for :order_cycle_form do
    %strong.avenir Ready for
    %select.avenir#order_cycle_id{"ng-model" => "order_cycle.order_cycle_id", 
            "ng-change" => "changeOrderCycle()",
            "ng-options" => "oc.id as oc.time for oc in #{@order_cycles.map {|oc| {time: pickup_time(oc), id: oc.id}}.to_json}"}

    %closing
      -#%img{src: "/icon/goes/here"}
      Orders close
      %strong {{ order_cycle.orders_close_at | date_in_words }} 
  = render partial: "shop/details"

  -# This partial generates the producer and group sibling modals 
  = render partial: "shop/shop/modals"
 
  %tabs
    .row
      .section-container.auto{"data-section" => "", "data-options" => "one_up: false"}

        = render 'shop/shop/about_us'
        = render 'shop/shop/producers'
        = render 'shop/shop/groups'
        = render 'shop/shop/contact'

    
  %products.row
    = render partial: "shop/shop/products"
