-# redo denoting required fields in the whole project
.row
  = t(:required_fields)
  (
  %span.required *
  )
.row
  .three.columns.alpha
    = af.label :address1, t(:address)
    %span.required *
  .eight.columns.omega
    = af.text_field :address1, { placeholder: t(:address_placeholder) }
.row
  .alpha.three.columns
    = af.label :address2, t(:address2)
  .eight.columns.omega
    = af.text_field :address2
.row
  .three.columns.alpha
    = af.label :city, t(:city)
    \/
    = af.label :zipcode, t(:postcode)
    %span.required *
  .four.columns
    = af.text_field :city, { placeholder: t(:city_placeholder) }
  .four.columns.omega
    = af.text_field :zipcode, { placeholder: t(:postcode_placeholder) }
.row
  .three.columns.alpha
    = af.label :state_id, t(:state)
    \/
    = af.label :country_id, t(:country)
    %span.required *
  %div{ "ng-controller" => "countryCtrl" }
    .four.columns
      = af.collection_select :state_id, {}, :id, :name, {}, :class => "select2 fullwidth", "ng-init" => "enterprise_address_attributes_state.id = Enterprise.address.address.state_id", "ng-options" => "s as s.name for s in countriesById[enterprise_address_attributes_country.id || Enterprise.address.address.country_id].states track by s.id", "ng-model" => "enterprise_address_attributes_state"
    .four.columns.omega
      = af.collection_select :country_id, {}, :id, :name, {}, :class => "select2 fullwidth", "ng-init" => "enterprise_address_attributes_country.id = Enterprise.address.address.country_id", "ng-options" => "c as c.name for c in countries track by c.id", "ng-model" => "enterprise_address_attributes_country", "ng-change" => "countryOnChange('s2id_enterprise_address_attributes_state_id')"