= f.fields_for :address do |af|
  %fieldset.eleven.columns.alpha.no-border-bottom
    %legend Address
    -# redo denoting required fields in the whole project
    .row
      Required fields are denoted with an asterisk (
      %span.required *
      )
    .row
      .three.columns.alpha
        = af.label :address1
        %span.required *
      .eight.columns.omega
        = af.text_field :address1, { placeholder: "eg. 123 High Street"}
    .row
      .alpha.three.columns
        = af.label :address2
      .eight.columns.omega
        = af.text_field :address2
    .row
      .three.columns.alpha
        = af.label :city, 'Suburb'
        \/
        = af.label :zipcode, 'Postcode'
        %span.required *
      .four.columns
        = af.text_field :city, { placeholder: "eg. Northcote"}
      .four.columns.omega
        = af.text_field :zipcode, { placeholder: "eg. 3070"}
    .row
      .three.columns.alpha
        = af.label :state_id, 'State'
        \/
        = af.label :country_id, 'Country'
        %span.required *
      .four.columns
        = af.collection_select :state_id, af.object.country.states, :id, :name, {}, :class => "select2 fullwidth"
      .four.columns.omega
        = af.collection_select :country_id, available_countries, :id, :name, {}, :class => "select2 fullwidth"