-# redo denoting required fields in the whole project
.row
  = t(:required_fields)
  (
  %span.required *
  )
.row
  .three.columns.alpha
    = af.label :address1, t(:address)
    %span.required *
  .eight.columns.omega
    = af.text_field :address1, { placeholder: t(:address_placeholder) }
.row
  .alpha.three.columns
    = af.label :address2, t(:address2)
  .eight.columns.omega
    = af.text_field :address2
.row
  .three.columns.alpha
    = af.label :city, t(:city)
    \/
    = af.label :zipcode, t(:postcode)
    %span.required *
  .four.columns
    = af.text_field :city, { placeholder: t(:city_placeholder) }
  .four.columns.omega
    = af.text_field :zipcode, { placeholder: t(:postcode_placeholder) }
.row
  .three.columns.alpha
    = af.label :state_id, t(:state)
    \/
    = af.label :country_id, t(:country)
    %span.required *
  %div{ "ng-controller" => "countryCtrl" }
    .four.columns
      %input.ofn-select2.fullwidth#enterprise_address_attributes_state_id{ name: 'enterprise[address_attributes][state_id]', type: 'number', data: 'countriesById[Enterprise.address.country_id].states', placeholder: t('admin.choose'), ng: { model: 'Enterprise.address.state_id' } }
    .four.columns.omega
      %input.ofn-select2.fullwidth#enterprise_address_attributes_country_id{ name: 'enterprise[address_attributes][country_id]', type: 'number', data: 'countries', placeholder: t('admin.choose'), ng: { model: 'Enterprise.address.country_id' } }
