.row
  .three.columns.alpha
    = f.label :sells, t('.sells')
    = render partial: 'admin/shared/whats_this_tooltip', locals: {tooltip_text: t('.sells_tip')}
  .two.columns
    = f.radio_button :sells, "none", 'ng-model' => 'Enterprise.sells', data: {action: "change->primary-details#enterpriseSellsChanged"}
    = f.label :sells, t('.none'), value: "none"
  .two.columns
    = f.radio_button :sells, "own", 'ng-model' => 'Enterprise.sells', data: {action: "change->primary-details#enterpriseSellsChanged"}
    = f.label :sells, t('.own'), value: "own"
  .four.columns.omega
    = f.radio_button :sells, "any", 'ng-model' => 'Enterprise.sells', data: {action: "change->primary-details#enterpriseSellsChanged"}
    = f.label :sells, t('.any'), value: "any"
    %span{ style: "width: 30px; height: 30px;", class: "hidden", data: { "primary-details-target": "spinner" } }
      = render partial: "components/admin_spinner"
.row
  .three.columns.alpha
    = f.label :external_billing_id, t('.external_billing_id')
    = render partial: 'admin/shared/whats_this_tooltip', locals: {tooltip_text: t('.external_billing_id_tip')}
  .four.columns
    = f.text_field :external_billing_id, { placeholder: t(:external_billing_id_placeholder) }
