.row
  .alpha.three.columns
    = f.label :abn, t('.abn')
  .omega.eight.columns
    = f.text_field :abn, { placeholder: t('.abn_placeholder') }

.row
  .alpha.three.columns
    = f.label :acn, t('.acn')
  .omega.eight.columns
    = f.text_field :acn, { placeholder: t('.acn_placeholder') }

.row
  .three.columns.alpha
    %label= t('charges_sales_tax')
  .two.columns
    = f.radio_button :charges_sales_tax, true
    &nbsp;
    = f.label :charges_sales_tax, t(:say_yes), value: 'true'
  .five.columns.omega
    = f.radio_button :charges_sales_tax, false
    &nbsp;
    = f.label :charges_sales_tax, t(:say_no), value: 'false'
