.row
  .alpha.three.columns
    = f.label :contact, t('.name')
  .omega.eight.columns
    = f.text_field :contact, { placeholder: t('.name_placeholder') }
.row
  .alpha.three.columns
    = f.label :email_address, t('.email_address')
  .omega.eight.columns
    = f.text_field :email_address, { placeholder: t('.email_address_placeholder') }
.row
  .alpha.three.columns
    = f.label :phone, t('.phone')
  .omega.eight.columns
    = f.text_field :phone, { placeholder: t('.phone_placeholder') }
.row
  .alpha.three.columns
    = f.label :website, t('.website')
  .omega.eight.columns
    = f.text_field :website, { placeholder: t('.website_placeholder') }
