.row
  .alpha.three.columns
    = f.label :contact_name, t('.name')
  .omega.eight.columns
    = f.text_field :contact_name, { placeholder: t('.name_placeholder') }
.row
  .alpha.three.columns
    = f.label :email_address, t('.email_address')
    %div{'ofn-with-tip' => t('.email_address_tip')}
      %a= t('admin.whats_this')
  .omega.eight.columns
    = f.text_field :email_address, { placeholder: t('.email_address_placeholder') }
.row
  .alpha.three.columns
    = f.label :phone, t('.phone')
  .omega.eight.columns
    = f.text_field :phone, { placeholder: t('.phone_placeholder') }
.row
  .alpha.three.columns
    = f.label :whatsapp_phone, t('.whatsapp_phone')
    %div{'ofn-with-tip' => t('.whatsapp_phone_tip')}
      %a= t('admin.whats_this')
  .omega.eight.columns
    = f.text_field :whatsapp_phone, { placeholder: t('.whatsapp_phone_placeholder') }
.row
  .alpha.three.columns
    = f.label :website, t('.website')
  .omega.eight.columns
    = f.text_field :website, { placeholder: t('.website_placeholder') }
