.row
  .alpha.three.columns
    = f.label :contact, 'Name'
  .omega.eight.columns
    = f.text_field :contact, { placeholder: "eg. Gustav Plum"}
.row
  .alpha.three.columns
    = f.label :email_address
  .omega.eight.columns
    = f.text_field :email_address, { placeholder: "eg. gustav@truffles.com" }
.row
  .alpha.three.columns
    = f.label :phone
  .omega.eight.columns
    = f.text_field :phone, { placeholder: "eg. 98 7654 3210"}
.row
  .alpha.three.columns
    = f.label :website
  .omega.eight.columns
    = f.text_field :website, { placeholder: "eg. www.truffles.com"}
