- enterprise ||= f.object
#connected-app-discover-regen
  .connected-app__head
    %div
      %h3= t ".title"
      %p= t ".tagline"
    %div
      - if enterprise.connected_apps.empty?
        = button_to t(".enable"), admin_enterprise_connected_apps_path(enterprise.id), method: :post
      - elsif enterprise.connected_apps.connecting.present?
        %button{ disabled: true }
          %i.spinner.fa.fa-spin.fa-circle-o-notch
          &nbsp;
          = t ".loading"
      - else
        = button_to t(".disable"), admin_enterprise_connected_app_path(0, enterprise_id: enterprise.id), method: :delete

  .connected-app__connection
    - if enterprise.connected_apps.ready.present?
      .connected-app__note
        - link = enterprise.connected_apps[0].data["link"]
        %p= t ".note"
        %div
          %a{ href: link, target: "_blank", class: "button secondary" }
            = t ".link_label"

  %hr
  .connected-app__description
    = t ".description_html"
