- if @enterprise_fees.count > 0
  %table
    %thead
      %tr
        %th= t('.name')
        %th= t('.fee_type')
        -# %th Calculator
        -# %th Calculator Values
    %tbody
      - @enterprise_fees.each do |enterprise_fee|
        %tr
          %td= enterprise_fee.name
          %td= enterprise_fee.fee_type
          -# %td= enterprise_fee.calculator.preferred_flat_percent
          -# %td= enterprise_fee.fee_type
  %br
  %div
    %a.button{ href: "#{main_app.admin_enterprise_fees_path}"}
      = t('.manage_fees')
      %i.icon-arrow-right

- else
  %p.text-center
    = t('.no_fees_yet')

  %br
  .text-center
    %a.button{ href: "#{main_app.admin_enterprise_fees_path}"}
      = t('.create_button')
      %i.icon-arrow-right
