.row.page-admin-enterprises-form__logo-field-group.image-field-group
  .alpha.three.columns
    = f.label :logo
    %br
    100 x 100 pixels
  .omega.eight.columns
    %img{ class: 'image-field-group__preview-image', ng: { src: '{{ Enterprise.logo.thumb }}', if: 'Enterprise.logo' } }
    %br
    = f.file_field :logo
    %a.button.red{ href: '', ng: {click: 'removeLogo()', if: 'Enterprise.logo'} }
      = t('.remove_logo')

.row.page-admin-enterprises-form__promo-image-field-group.image-field-group
  .alpha.three.columns
    = f.label :promo_image, 'ofn-with-tip' => t('.promo_image_placeholder')
    %br/
    %span{ style: 'font-weight:bold' }= t('.promo_image_note1')
    %br
    = t('.promo_image_note2')
    %br
    = t('.promo_image_note3')

  .omega.eight.columns
    %img{ class: 'image-field-group__preview-image', ng: { src: '{{ Enterprise.promo_image.large }}', if: 'Enterprise.promo_image' } }
    = f.file_field :promo_image
    %a.button.red{ href: '', ng: {click: 'removePromoImage()', if: 'Enterprise.promo_image'} }
      = t('.remove_promo_image')
