- if Spree::Config.stripe_connect_enabled || @enterprise.stripe_account
  = render 'admin/enterprises/form/stripe_connect'

- if @payment_methods.count > 0
  %table
    %thead
      %tr
        %th= t('.name')
        %th= t('.applies')
        %th
    %tbody
      - @payment_methods.each do |payment_method|
        %tr
          %td= payment_method.name
          %td= f.check_box :payment_method_ids, { multiple: true }, payment_method.id, nil
          %td= link_to t(:edit), edit_admin_payment_method_path(payment_method)
  %br
  .row
    .eight.columns
      %a.button{ href: "#{admin_payment_methods_path}"}
        = t('.manage')
        %i.icon-arrow-right
    .eight.columns.text-right
      %a.button{ href: "#{new_admin_payment_method_path}"}
        = t('.create_button')
        %i.icon-plus

- else
  %p.text-center
    = t('.no_method_yet')

  %br
  .text-center
    %a.button{ href: "#{new_admin_payment_method_path}"}
      = t('.create_one_button')
      %i.icon-arrow-right
