- if @shipping_methods.count > 0
  .row
    = t 'spree.admin.shipping_methods.form.deactivation_warning'
  %table
    %thead
      %tr
        %th= t('.name')
        %th= t('.applies')
        %th
    %tbody
      - @shipping_methods.each do |shipping_method|
        %tr
          %td= shipping_method.name
          %td= f.check_box :shipping_method_ids, { :multiple => true }, shipping_method.id, nil
          %td= link_to t(:edit), edit_admin_shipping_method_path(shipping_method)
  %br
  .row
    .eight.columns
      %a.button{ href: "#{admin_shipping_methods_path}"}
        = t('.manage')
        %i.icon-arrow-right
    .eight.columns.text-right
      %a.button{ href: "#{new_admin_shipping_method_path}"}
        = t('.create_button')
        %i.icon-plus

- else
  %p.text-center
    = t('.no_method_yet')

  %br
  .text-center
    %a.button{ href: "#{new_admin_shipping_method_path}"}
      = t('.create_one_button')
      %i.icon-arrow-right
