.row
  .alpha.eleven.columns
    .three.columns.alpha
      = f.label "enterprise_preferred_shopfront_message", t('.shopfront_message')
    .eight.columns.omega
      %text-angular{'ng-model' => 'Enterprise.preferred_shopfront_message', 'id' => 'enterprise_preferred_shopfront_message', 'name' => 'enterprise[preferred_shopfront_message]', 'class' => 'text-angular',
        'ta-toolbar' => "[['h1','h2','h3','h4','p'],['bold','italics','underline','clear'],['insertLink']]",
        'placeholder' => t('.shopfront_message_placeholder')}
.row
  .alpha.eleven.columns
    .three.columns.alpha
      = f.label "enterprise_preferred_shopfront_closed_message", t('.shopfront_closed_message')
    .eight.columns.omega
      %text-angular{'ng-model' => 'Enterprise.preferred_shopfront_closed_message', 'id' => 'enterprise_preferred_shopfront_closed_message', 'name' => 'enterprise[preferred_shopfront_closed_message]', 'class' => 'text-angular',
        'ta-toolbar' => "[['h1','h2','h3','h4','p'],['bold','italics','underline','clear'],['insertLink']]",
        'placeholder' => t('.shopfront_closed_message_placeholder')}
.row
  .alpha.eleven.columns
    .three.columns.alpha
      = f.label "enterprise_preferred_shopfront_taxon_order", t('.shopfront_category_ordering')
      %br
      (top to bottom)
    .eight.columns.omega
      %textarea.fullwidth{ id: 'enterprise_preferred_shopfront_taxon_order', name: 'enterprise[preferred_shopfront_taxon_order]', rows: 6, 'ng-model' => 'Enterprise.preferred_shopfront_taxon_order', 'ofn-taxon-autocomplete' => '', 'multiple-selection' => 'true', placeholder: 'Category' }

.row
  .alpha.eleven.columns
    .three.columns.alpha
      = f.label "enterprise_preferred_shopfront_order_cycle_order", t(:sort_order_cycles_on_shopfront_by)
    .three.columns
      = radio_button :enterprise, :preferred_shopfront_order_cycle_order, :orders_open_at, { 'ng-model' => 'Enterprise.preferred_shopfront_order_cycle_order' }
      = label :enterprise, :preferred_shopfront_order_cycle_order_orders_open_at, t('.open_date')
    .five.columns.omega
      = radio_button :enterprise, :preferred_shopfront_order_cycle_order, :orders_close_at, { 'ng-model' => 'Enterprise.preferred_shopfront_order_cycle_order' }
      = label :enterprise, :preferred_shopfront_order_cycle_order_orders_close_at, t('.close_date')
.row
  .alpha.eleven.columns
    .three.columns.alpha
      %label= t '.shopfront_requires_login'
      %div{'ofn-with-tip' => t('.shopfront_requires_login_tip')}
        %a= t 'admin.whats_this'
    .three.columns
      = f.radio_button :require_login, false, "ng-model" => "Enterprise.require_login", "ng-value" => "false"
      = f.label :require_login, t('.shopfront_requires_login_false'), value: :false
    .five.columns.omega
      = f.radio_button :require_login, true, "ng-model" => "Enterprise.require_login", "ng-value" => "true"
      = f.label :require_login, t('.shopfront_requires_login_true'), value: :true

.row{ng: {if: "!Enterprise.require_login"}}
  .alpha.eleven.columns
    .three.columns.alpha
      %label= t '.allow_guest_orders'
      %div{'ofn-with-tip' => t('.allow_guest_orders_tip')}
        %a= t 'admin.whats_this'
    .eight.columns.omega
      .row
        .three.columns.alpha
          = f.radio_button :allow_guest_orders, true, "ng-model" => "Enterprise.allow_guest_orders", "ng-value" => "true"
          = f.label :allow_guest_orders, t('.allow_guest_orders_true'), value: :true
        .five.columns.omega
          = f.radio_button :allow_guest_orders, false, "ng-model" => "Enterprise.allow_guest_orders", "ng-value" => "false"
          = f.label :allow_guest_orders, t('.allow_guest_orders_false'), value: :false
      .row.warning{ng: {show: 'Enterprise.allow_guest_orders && Enterprise.allow_order_changes'}}
        .eight.columns.alpha.omega
          %i.icon-warning-sign
          = t '.recommend_require_login'
.row
  .alpha.eleven.columns
    .three.columns.alpha
      %label= t '.allow_order_changes'
      %div{'ofn-with-tip' => t('.allow_order_changes_tip')}
        %a= t 'admin.whats_this'
    .three.columns
      = f.radio_button :allow_order_changes, false, "ng-model" => "Enterprise.allow_order_changes", "ng-value" => "false"
      = f.label :allow_order_changes, t('.allow_order_changes_false'), value: :false
    .five.columns.omega
      = f.radio_button :allow_order_changes, true, "ng-model" => "Enterprise.allow_order_changes", "ng-value" => "true"
      = f.label :allow_order_changes, t('.allow_order_changes_true'), value: :true


.row
  .alpha.eleven.columns
    .three.columns.alpha
      %label= t '.enable_standing_orders'
      %div{'ofn-with-tip' => t('.enable_standing_orders_tip')}
        %a= t 'admin.whats_this'
    .three.columns
      = f.radio_button :enable_standing_orders, true
      = f.label :enable_standing_orders, t('.enable_standing_orders_true'), value: :true
    .five.columns.omega
      = f.radio_button :enable_standing_orders, false
      = f.label :enable_standing_orders, t('.enable_standing_orders_false'), value: :false
