.row
  .alpha.three.columns
    = f.label :facebook, 'Facebook'
  .omega.eight.columns
    = f.text_field :facebook, { placeholder: t('.facebook_placeholder') }
.row
  .alpha.three.columns
    = f.label :instagram, 'Instagram'
  .omega.eight.columns
    = f.text_field :instagram, { placeholder: t('.instagram_placeholder') }
.row
  .alpha.three.columns
    = f.label :linkedin, 'LinkedIn'
  .omega.eight.columns
    = f.text_field :linkedin, { placeholder: t('.linkedin_placeholder') }
.row
  .alpha.three.columns
    = f.label :twitter
  .omega.eight.columns
    = f.text_field :twitter, { placeholder: t('.twitter_placeholder') }