- owner_email = @enterprise&.owner&.email || ""
- full_permissions = (spree_current_user.admin? || spree_current_user == @enterprise&.owner)

%div{ data: { controller: "enterprise-manager" }}
  .row
    .three.columns.alpha
      =f.label :owner_id, t('.owner')
      - if full_permissions
        %span.required *
      = render partial: 'admin/shared/tooltip', locals: {tooltip_text: t('.owner_tip')}
    .eight.columns.omega
      - if full_permissions
        = f.select :owner_id, @enterprise.users.collect { |u| [u.email, u.id] }, { selected: @enterprise.owner.id }, class: 'primary',
          data: {controller: 'tom-select', action: "change->enterprise-manager#update", "enterprise-manager-target": "owner"}
      - else
        = owner_email
  
  .row
    .three.columns.alpha
      =f.label :user_ids, t('.notifications')
      - if full_permissions
        %span.required *
      = render partial: 'admin/shared/tooltip', locals: {tooltip_text: t('.contact_tip')}
    .eight.columns.omega
      - if full_permissions
        = f.select "receives_notifications",
          @enterprise.users.filter { |user| user.confirmed? }.collect { |u| [u.email, u.id] }, { selected: @enterprise.contact.id  },
          class: 'primary',
          data: {controller: 'tom-select', action: "change->enterprise-manager#update", "enterprise-manager-target": "contact"},
          name: "receives_notifications"
      - else
        = @enterprise.contact.email

.row
  .three.columns.alpha
    =f.label :user_ids, t('.managers')
    - if full_permissions
      %span.required *
    = render partial: 'admin/shared/tooltip', locals: {tooltip_text: t('.managers_tip')}
  .eight.columns.omega
    - if full_permissions
      %table.managers
        %tr
          %td
            - # Ignore this input in the submit
            = collection_select '', '', [], nil, nil, {}, data: { controller: "remote-tom-select enterprise-manager",
              "remote-tom-select-url-value": "/admin/search/known_users?q=",
              "action": "change->enterprise-manager#createRegisteredManager" },
              class: "primary", placeholder: "Add an existing user"
        %tbody#managers{ data: { "manager-ids": JSON.generate(@enterprise.users.ids) }}
          = render partial: 'admin/enterprises/form/manager', collection: @enterprise.users, locals: { owner: @enterprise.owner, contact_person: @enterprise.contact }
    - else
      - @enterprise.users.each do |manager|
        = manager.email
        %br

- if full_permissions
  %form
    .row
      .three.columns.alpha
        %label
          = t('.invite_manager')
        = render partial: 'admin/shared/tooltip', locals: {tooltip_text: t('.invite_manager_tip')}
      .eight.columns.omega
        .row
          %a.button{ "data-controller": "help-modal-link", "data-action": "click->help-modal-link#open", "data-help-modal-link-target-value": "invite-manager-modal" }
            = t('.add_unregistered_user')

-# add to admin footer to avoid nesting invitation form inside enterprise form
- content_for :admin_footer do
  = render HelpModalComponent.new(id: "invite-manager-modal", close_button: false) do
    = form_with url: "/admin/manager_invitations", method: "POST",
      data: { controller: "enterprise-manager", "remote": true, type: "json",
      action: "ajax:response:error->enterprise-manager#displayError ajax:success->enterprise-manager#createUnregisteredManager",
      "dirty-form-type-param": "unverified" } do

      .margin-bottom-30.text-center
        .text-big
          = t('js.admin.modals.invite_title')

      %p.alert-box{ style: "display: none", data: { "enterprise-manager-target": "alert" }}

      = email_field_tag 'email', nil, class: 'fullwidth margin-bottom-20'
      = hidden_field_tag 'enterprise_id', @enterprise.id

      .margin-bottom-20.text-center
        = submit_tag t('js.admin.modals.invite'), "data-disable-with": "Submitting..."
