- owner_email = @enterprise.andand.owner.andand.email || ""
- full_permissions = (spree_current_user.admin? || spree_current_user == @enterprise.andand.owner)

.row
  .three.columns.alpha
    =f.label :owner_id, t('.owner')
    - if full_permissions
      %span.required *
    %div{'ofn-with-tip' => t('.owner_tip')}
      %a= t('admin.whats_this')
  .eight.columns.omega
    - if full_permissions
      = f.hidden_field :owner_id, class: "select2 fullwidth", 'user-select' => 'Enterprise.owner', 'ng-model' => 'Enterprise.owner'
    - else
      = owner_email

.row
  .three.columns.alpha
    =f.label :user_ids, t('.contact')
    - if full_permissions
      %span.required *
    %div{'ofn-with-tip' => t('.contact_tip')}
      %a= t('admin.whats_this')

  .eight.columns.omega
    - if full_permissions
      %select.select2.fullwidth{name: 'receives_notifications', ng: {model: 'receivesNotifications', init: "receivesNotifications = '#{@notification_user}'"}}
        %option{ng: {repeat: 'user in Enterprise.users', selected: "user.id == #{@notification_user}", hide: '!user.confirmed'}, value: '{{user.id}}'}
          {{user.email}}
    - else
      = @notification_user

.row
  .three.columns.alpha
    =f.label :user_ids, t('.managers')
    - if full_permissions
      %span.required *
    %div{'ofn-with-tip' => t('.managers_tip')}
      %a= t('admin.whats_this')
  .eight.columns.omega
    - if full_permissions
      %table.managers
        %tr
          %td
            - # Ignore this input in the submit
            = hidden_field_tag :ignored, :new_manager, class: "select2 fullwidth", 'user-select' => 'newManager', 'ng-model' => 'newManager'
          %td.actions
            %a{ 'ng-click' => 'addManager(newManager)', :class => "icon-plus no-text" }
        %tr.animate-repeat{ ng: { repeat: 'manager in Enterprise.users' }}
          %td
            = hidden_field_tag "enterprise[user_ids][]", nil, multiple: true, 'ng-value' => 'manager.id'
            {{ manager.email }}
            %i.confirmation.confirmed.fa.fa-check-circle{ 'ofn-with-tip' => t('.email_confirmed'), ng: {show: 'manager.confirmed'} }
            %i.confirmation.unconfirmed.fa.fa-exclamation-triangle{ 'ofn-with-tip' => t('.email_not_confirmed'), ng: {show: '!manager.confirmed'} }
            %i.role.contact.fa.fa-envelope-o{ 'ofn-with-tip' => t('.contact'), ng: {show: 'manager.id == receivesNotifications'} }
            %i.role.owner.fa.fa-star{ 'ofn-with-tip' => t('.owner'), ng: {show: 'manager.id == Enterprise.owner.id'} }
          %td.actions
            %a{ ng: {click: 'removeManager(manager)', class: "{disabled: manager.id == Enterprise.owner.id || manager.id == receivesNotifications}"}, :class => "icon-trash no-text" }

    - else
      - @enterprise.users.each do |manager|
        = manager.email
        %br
