%fieldset
  %legend 'Manage Enterprises'
  = f.field_container :enterprise_roles do
    - f.object.build_enterprise_roles
    %table
      = f.fields_for :enterprise_roles do |enterprise_form|
        %tr
          %td
            = hidden_field_tag "#{enterprise_form.object_name}[_destroy]", 1, :id => nil
            = check_box_tag "#{enterprise_form.object_name}[_destroy]", 0, !enterprise_form.object.new_record?
          %td
            = label_tag "#{enterprise_form.object_name}[_destroy]", enterprise_form.object.enterprise.name
            = enterprise_form.hidden_field :enterprise_id

