.row
  .alpha.five.columns
    = f.field_container :email do
      = f.label :email, t(".email")
      = f.email_field :email, class: "fullwidth"
      = error_message_on :user, :email
    .field
      = label_tag nil, t(".roles")
      %ul
        - @roles.each do |role|
          %li
            = check_box_tag "user[spree_role_ids][]", role.id, @user.spree_roles.include?(role), id: "user_spree_role_#{role.name}"
            = label_tag role.name
      = hidden_field_tag "user[spree_role_ids][]", ""
    = f.field_container :enterprise_limit do
      = f.label :enterprise_limit, t(".enterprise_limit")
      = f.text_field :enterprise_limit, class: "fullwidth"
  .omega.five.columns
    = f.field_container :password do
      = f.label :password, t(".password")
      = f.password_field :password, class: "fullwidth", autocomplete: "new-password"
      = f.error_message_on :password
    = f.field_container :password do
      = f.label :password_confirmation, t(".confirm_password")
      = f.password_field :password_confirmation, class: "fullwidth"
      = f.error_message_on :password_confirmation
    = f.field_container :disabled do
      = f.label :disabled, t(".disabled")
      = f.check_box :disabled
      = f.error_message_on :disabled
