= render :partial => 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t(:tax_settings)

= form_tag admin_tax_settings_path, :method => :put do

  .field.align-center
    = hidden_field_tag 'preferences[products_require_tax_category]', '0'
    = check_box_tag 'preferences[products_require_tax_category]', '1',  Spree::Config[:products_require_tax_category]
    = label_tag nil, t(:products_require_tax_category)

  .form-buttons
    = button t(:update), 'icon-refresh'
