%div
  .summary-subtitle
    = t("checkout.step3.delivery_details.address")
  %span
    = @order.ship_address.firstname
    = @order.ship_address.lastname
  %div
    = @order.ship_address.phone
  %div
    = @order.user.email if @order.user
  %br
  %div
    = @order.ship_address.address1
  - unless @order.ship_address.address2.blank?
    %div
      = @order.ship_address.address2
  %div
    = @order.ship_address.city
  %div
    = @order.ship_address.state
  %div
    = @order.ship_address.zipcode
  %div
    = @order.ship_address.country
  - if @order.special_instructions.present?
    %br
    %em
      = @order.special_instructions
