%fieldset#details
  %ng-form{"ng-controller" => "DetailsCtrl", name: "details"}

    %h5{"ng-class" => "{valid: details.$valid, dirty: details.$dirty}"}
      %span.right
        %i.fi-x.right
        %i.fi-check.right
      Customer details

    %accordion-group{"is-open" => "accordion.details", 
      "ng-class" => "{valid: details.$valid, open: accordion.details}"}
      %accordion-heading
        .row
          .small-11.columns
            %em 
              %small
                {{ order.bill_address.firstname }}
                {{ order.bill_address.lastname }}
          .small-1.columns.right
            %span.right
              %i.fi-arrow-up
              %i.fi-arrow-down  

      .row
        .small-6.columns
          = validated_input 'Email', 'order.email', type: :email, "ofn-focus" => "accordion['details']"

        = f.fields_for :bill_address, @order.bill_address do |ba|
          .small-6.columns
            = validated_input 'Phone', 'order.bill_address.phone'

      = f.fields_for :bill_address, @order.bill_address do |ba|
        .row
          .small-6.columns
            = validated_input "First Name", "order.bill_address.firstname"

          .small-6.columns
            = validated_input "Last Name", "order.bill_address.lastname"

      .row
        .small-12.columns.text-right
          %button{"ng-disabled" => "details.$invalid", "ng-click" => "next($event)"} Next
