= f_form_for current_order, url: main_app.update_checkout_path, 
  html: {name: "checkout", 
    id: "checkout_form",
    novalidate: true,
    name: "checkout"} do |f|

  :javascript
    angular.module('Darkswarm').value('order', #{render "checkout/order"})

  %div
    %h3.text-center.pad-top 
      Checkout from 
      = current_distributor.name

    = render partial: "checkout/details", locals: {f: f}
    = render partial: "checkout/billing", locals: {f: f}
    = render partial: "checkout/shipping", locals: {f: f}
    = render partial: "checkout/payment", locals: {f: f}
    %p
      %button.button.primary{type: :submit, 
      "ng-click" => "purchase($event)",
      "ng-disabled" => "checkout.$invalid"}
        Place order now
      / {{ checkout.$valid }}
