= f_form_for current_order,
  html: {name: "checkout",
    id: "checkout_form",
    novalidate: true,
    "ng-submit" => "purchase($event)"} do |f|

  = inject_available_shipping_methods
  = inject_available_payment_methods
  = inject_current_order

  = render partial: "checkout/details", locals: {f: f}
  = render partial: "checkout/billing", locals: {f: f}
  = render partial: "checkout/shipping", locals: {f: f}
  = render partial: "checkout/payment", locals: {f: f}
  %p
    %button.button.primary{type: :submit,
    "ng-disabled" => "checkout.$invalid"}
      Place order now
    / {{ checkout.$valid }}
