= f_form_for current_order,
  html: {name: "checkout",
    id: "checkout_form",
    novalidate: true,
    "ng-submit" => "purchase($event, checkout)"} do |f|

  = inject_available_shipping_methods
  = inject_available_payment_methods
  = inject_saved_credit_cards

  = render "checkout/details", f: f
  = render "checkout/billing", f: f
  = render "checkout/shipping", f: f
  = render "checkout/payment", f: f
  = render "checkout/already_ordered", f: f if show_bought_items?
  %p
    %button.button.primary{type: :submit}
      = t :checkout_send
    / {{ checkout.$valid }}
