.small-12.columns
  #ship_address{"ng-if" => "Checkout.requireShipAddress()"}
    %div.visible{"ng-if" => "!Checkout.ship_address_same_as_billing"}
      .row
        .small-6.columns
          = validated_input "First Name", "order.ship_address.firstname", "ofn-focus" => "accordion['shipping']"
        .small-6.columns
          = validated_input "Last Name", "order.ship_address.lastname"
      .row
        .small-12.columns
          = validated_input "Address", "order.ship_address.address1"
      .row
        .small-12.columns
          = validated_input "Address (contd.)", "order.ship_address.address2", required: false
      .row
        .small-6.columns
          = validated_input "City", "order.ship_address.city"
        .small-6.columns
          = validated_select "State", "order.ship_address.state_id", checkout_state_options(:shipping)
      .row
        .small-6.columns
          = validated_input "Postcode", "order.ship_address.zipcode"
        .small-6.columns.right
          = validated_select "Country", "order.ship_address.country_id", checkout_country_options

      .row
        .small-6.columns
          = validated_input "Phone", "order.ship_address.phone"
