%orderdetails
  = form_for current_order, url: "#", html: {"ng-submit" => "purchase($event, checkout)"} do |f|
    %fieldset
      %legend
        = t :checkout_your_order
      %table
        %tr.subtotal
          %th
            = t :checkout_cart_total
          %td.cart-total.text-right= display_checkout_subtotal(@order)

        - checkout_adjustments_for(current_order, exclude: [:shipping, :payment, :line_item]).reject{ |a| a.amount == 0 }.each do |adjustment|
          %tr.adjustment
            %th= adjustment.label
            %td.text-right= adjustment.display_amount.to_html

        %tr.shipping
          %th
            = t :checkout_shipping_price
          %td.text-right {{ Checkout.shippingPrice() | localizeCurrency }}

        %tr.transaction-fee
          %th
            = t :payment_method_fee
          %td.text-right {{ Checkout.paymentPrice() | localizeCurrency }}

        %tr.total
          %th
            = t :checkout_total_price
          %td.text-right {{ Checkout.cartTotal() | localizeCurrency }}

      //= f.submit "Purchase", class: "button", "ofn-focus" => "accordion['payment']"
      %a.button.secondary{href: cart_url}
        %i.ofn-i_008-caret-left
        = t :checkout_back_to_cart
