%div.flex
  %div.columns.three.text-center.checkout-tab{"class": [("selected" if checkout_step?(:details)), ("success" unless checkout_step?(:details))]}
    %div 
      %span.checkout-tab-number
        1 - 
      %span.checkout-tab-label
        = link_to_unless checkout_step?(:details), t("split_checkout.your_details_without_number"), main_app.checkout_step_path(:details) do
          = t("split_checkout.your_details_without_number")
  %div.columns.three.text-center.checkout-tab{"class": [("selected" if checkout_step?(:payment)), ("success" if checkout_step?(:summary))]}
    %div
      %span.checkout-tab-number
        2 - 
      %span.checkout-tab-label
        = link_to_if checkout_step?(:summary), t("split_checkout.payment_method_without_number"), main_app.checkout_step_path(:payment) do
          = t("split_checkout.payment_method_without_number")
  %div.columns.three.text-center.checkout-tab{"class": ("selected" if checkout_step?(:summary))}
    %div
      %span.checkout-tab-number
        3 - 
      %span.checkout-tab-label
        = t("split_checkout.order_summary_without_number")
