.darkswarm
  - content_for :order_cycle_form do
    %strong.avenir
      Order ready on
      = pickup_time current_order_cycle

  = render partial: "shopping_shared/details"
   
  %accordion.row{"close-others" => "true"}
    %checkout{"ng-controller" => "CheckoutCtrl"}
      .large-9.columns
        - unless spree_current_user
          = render partial: "checkout/authentication"
        .row{"ng-show" => "enabled", "ng-controller" => "AccordionCtrl"}
          = render partial: "checkout/form"
      .large-3.columns
        = render partial: "checkout/summary"
