= inject_enterprises 

.darkswarm
  - content_for :order_cycle_form do
    %strong.avenir
      Order ready on
      = pickup_time current_order_cycle

  = render partial: "shopping_shared/details"
   
  %accordion{"close-others" => "true"}
    %checkout.row{"ng-controller" => "CheckoutCtrl"}
      .small-9.columns
        - unless spree_current_user
          = render partial: "checkout/authentication"
        .row{"ng-show" => "enabled", "ng-controller" => "AccordionCtrl"}
          = render partial: "checkout/form"
      .small-3.columns
        = render partial: "checkout/summary"


= render partial: "shared/footer"

