- content_for(:title) do
  = t :checkout_title

= inject_enterprise_and_relatives

.darkswarm.footer-pad
  - content_for :order_cycle_form do

    %closing
      = t :checkout_now
    %p
      = t :checkout_order_ready
      %strong
        = pickup_time current_order_cycle

  = render partial: "shopping_shared/details"

  %accordion{"close-others" => "true"}
    %checkout{"ng-controller" => "CheckoutCtrl"}
      = render partial: "checkout/form"

= render partial: "shared/footer"
