= cache_with_locale do
  .row.active_table_row{"ng-show" => "open()", "ng-click" => "toggle($event)", "ng-class" => "{'open' : open()}"}
    .columns.small-12.fat.text-center{"ng-show" => "open() && shopfront_loading"}
      %p.fullwidth
        = render partial: "components/spinner"

    .columns.small-12.medium-6.large-5.fat{"ng-show" => "open() && !shopfront_loading"}
      %div{"ng-if" => "::hub.taxons"}
        %label
          = t :hubs_buy
        .trans-sentence
          %div
            %span.fat-taxons{"ng-repeat" => "taxon in hub.taxons"}
              %span{"ng-bind" => "::taxon.name"}
          %div
            %span.fat-properties{"ng-repeat" => "property in hub.distributed_properties"}
              %span{"ng-bind" => "property.presentation"}
      %div.show-for-medium-up{"ng-if" => "::hub.taxons.length==0"}
        &nbsp;
    .columns.small-12.medium-3.large-2.fat{"ng-show" => "open() && !shopfront_loading"}
      %div{"ng-if" => "::(hub.pickup || hub.delivery)"}
        %label
          = t :hubs_delivery_options
        %ul.small-block-grid-2.medium-block-grid-1.large-block-grid-1
          %li.pickup{"ng-if" => "::hub.pickup"}
            %i.ofn-i_038-takeaway
            = t :hubs_pickup
          %li.delivery{"ng-if" => "::hub.delivery"}
            %i.ofn-i_039-delivery
            = t :hubs_delivery
    .columns.small-12.medium-3.large-5.fat{"ng-show" => "open() && !shopfront_loading"}
      %div{"ng-if" => "::hub.producers"}
        %label
          = t :hubs_producers
        %ul.small-block-grid-2.medium-block-grid-1.large-block-grid-2{"ng-class" => "{'show-more-producers' : toggleMoreProducers}", "class" => "producers-list"}
          %li{"ng-repeat" => "enterprise in hub.producers | limitTo:7"}
            %enterprise-modal
              %i.ofn-i_036-producers
              %span{"ng-bind" => "::enterprise.name"}
          %li{"ng-repeat" => "enterprise in hub.producers.slice(7,hub.producers.length)", "class" => "additional-producer"}
            %enterprise-modal
              %i.ofn-i_036-producers
              %span{"ng-bind" => "::enterprise.name"}
          %li{"data-is-link" => "true", "class" => "more-producers-link", "ng-show" => "::hub.producers.length>7"}
            %a{"ng-click" => "toggleMoreProducers=!toggleMoreProducers; $event.stopPropagation()"}
              .more
                +
                %span{"ng-bind" => "::hub.producers.length-7"}
                = t :label_more
              .less
                = t :label_less

      %div.show-for-medium-up{"ng-if" => "::hub.producers.length==0"}
        &nbsp;
