= cache_with_locale enterprises do
  .active_table
    %hub.active_table_node.row{"ng-repeat" => "hub in #{enterprises}Filtered = (#{enterprises} | closedShops:show_closed | taxons:activeTaxons | properties:activeProperties:'distributed_properties' | shipping:shippingTypes | orderBy:['-active', '+distance', '+orders_close_at'])",
    "ng-class" => "{'is_profile' : hub.category == 'hub_profile', 'closed' : !open(), 'open' : open(), 'inactive' : !hub.active, 'current' : current()}",
    "ng-controller" => "HubNodeCtrl",
    id: "{{hub.hash}}"}
      .small-12.columns
        = render 'skinny'
        = render 'fat'

    = render 'shared/components/enterprise_no_results', enterprises: "#{enterprises}Filtered"
