- content_for(:title) do
  = t :shops_signup_title

#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :shops_signup_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :shops_signup_motivation
        %br
        %a.button.transparent{href: "/register"}
          = t :shops_signup_action
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2
          = t :shops_signup_pricing
        %br
        = ContentConfig.hub_signup_pricing_table_html.html_safe

  #shops-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :shops_signup_stories
        %br
        = ContentConfig.hub_signup_case_studies_html.html_safe

  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2
          = t :shops_signup_help
        %p.text-big
          = t :shops_signup_help_text
        %br
        %a.button.transparent{href: "/register"}
          = t :shops_signup_action

  #hub-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :shops_signup_detail
        = ContentConfig.hub_signup_detail_html.html_safe


= render partial: "shared/footer"
