- content_for(:title) do
  Sign up as a hub

#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2 Food hubs, unlimited.
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big Whatever your model, we support you. However you change, we're with you. We're non-profit, independent, and open-sourced. We're the software partners you've dreamed of.
        %br
        %a.button.transparent{href: "/register"}
          Join now
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2 Enterprise Accounts
        -# %p.text-big
        -#   If there is a time-sensitive offer you can write it here, e.g.
        -#   Sign up before 30th June for an extra month free!
        %br
        %table.signup-table.hubs-table{cellpadding: "0", cellspacing: "0"}
          %thead
            %tr
              %td
                %h5
              %td.text-center{width: "20%"}
                %h5 Basic
              %td.text-center{width: "24%"}
                %h5 Plus
          %tr
            %td
              %p
                %strong Profile
                %p
                  %span.text-small Get a profile on the Open Food Network - including a listing on the Shops page and a pin on the OFN Map. These help people to find and connect with you.
            %td.text-center
              %i.ofn-i_003-check.text-big
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tr
            %td
              %p
                %strong Shop
              %p.text-small Get a shopfront on OFN to sell food from multiple suppliers &amp; producers.
              %p.text-small Basic support included:
              %ul.small
                %li User manual
                %li Post queries to discussion forum/via contact form
                %li Report bugs/suggestions
                %li Regular release notes – what's new
            %td.text-center
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tfoot
            %tr
              %td
              %td.text-center{valign: "top"}
                %h2
                  Free
              %td.text-center{valign: "top"}
                %h2
                  .text-small
                    First
                    %br
                    month
                  Free
                %p.text-small
                  Then, 2% of transactions
                  %br
                  %em
                    Capped at
                    %strong $50
                    per month
                  %br
                  %em (Special offer for 2015)

  #shops-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Stories from our hubs.
        %br
        .row
          .small-12.medium-6.columns
            = render 'shared/case_study', img_src: "/assets/case-studies/bfc_logo_square.png", title: "Bondi Food Collective", description: "Bondi Food Collective is a member-based not for profit that provide weekly fruit & veg picked fresh to order, plus dry foods - all organic and all Australian-grown.", link: "http://www.bondifoodcollective.org"
          .small-12.medium-6.columns
            = render 'shared/case_study', img_src: "/assets/case-studies/bonnie-beef-growers.png", title: "Bonnie Beef Growers", description: "Bonnie Beef Growers work on monthly order cycles for their wide range of beef products and also act as a hub for products from neighboring farms on the Sunshine Coast.", link: "http://www.bonniebeef.com.au"
        .row
          .small-12.medium-6.columns
            = render 'shared/case_study', img_src: "/assets/case-studies/South_East_Food_Hub.png", title: "South East Food Hub", description: "South East Food Hub is a choose-your-own food box service supported by a collective of farmers in Melbourne’s south-east. It distributes food through buying groups or “food clubs”.", link: "http://www.southeastfoodhub.org"
          .small-12.medium-6.columns
            = render 'shared/case_study', img_src: "/assets/case-studies/baw-baw.png", title: "Baw Baw Organics", description: "A weekly seasonal vegetable box program, Baw Baw Organics services around 100 households with local produce in West Gippsland.", link: "https://bawbawfoodhub.org.au"


  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2 We're ready to help.
        %p.text-big You need a better return. You need new buyers and logistics partners. You need your story told across wholesale, retail, and the kitchen table.
        %br
        %a.button.transparent{href: "/register"}
          Join now

  #hub-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Here's the detail.
        = render 'shared/enterprise_type_flowchart', type: 'hubs'

        %h4 Join a marketplace of independent online food stores
        %p Create a hub profile on the Open Food Network and gain exposure to a new marketplace of potential buyers. Tell your story in words and images, provide your contact details, and drive connections to your social and online presence.   Set up a “Hub” shop and sell products from multiple producers.
        %h4 Connect with a new source of customers and suppliers
        %p Gain access to the growing crowd of conscientious buyers on the Open Food Network, all looking to make more ethical and sustainable choices when purchasing food.
        %p Access new supply opportunities by connecting with producers in your region, sell their products in your shop.
        %h4 Manage your business online
        %p The Open Food Network provides online tools to help with the day-to-day running of your business. Manage your product listing and stock levels. Create, receive and manage orders from your buyers, and organise payments online. Generate invoices for orders and export them to your accounting software, and access a range of reports.


= render partial: "shared/footer"
