= render ConfirmModalComponent.new(id: "ship_order", confirm_reflexes: "click->Admin::OrdersReflex#ship", controller: "orders", reflex: "Admin::Orders#ship") do
  %div{class: "margin-bottom-30"}
    %p= t('spree.admin.orders.shipment.mark_as_shipped_message_html')
  %div{class: "margin-bottom-30"}
    = hidden_field_tag :id, @order.id
    = check_box_tag :send_shipment_email, "1", true
    = label_tag :send_shipment_email, t('spree.admin.orders.shipment.mark_as_shipped_label_message')
