= render ModalComponent.new(id: dom_id(@order, :ship), modal_class: 'tiny', close_button: false) do
  %div{class: "margin-bottom-30"}
    %p= t('spree.admin.orders.shipment.mark_as_shipped_message_html')
  %div{class: "margin-bottom-30"}
    = hidden_field_tag :id, @order.id
    = label_tag do
      = check_box_tag :send_shipment_email, "1", true
      = t('spree.admin.orders.shipment.mark_as_shipped_label_message')
  %p.modal-actions.justify-space-around
    %button.button.secondary{ type: "button", 'data-action': 'click->modal#close' }
      = t('js.admin.modals.cancel')
    = link_to t('js.admin.modals.confirm'), helpers.ship_admin_order_path(@order), class: 'button primary', data: { turbo: true, turbo_method: :post, action: 'click->modal#close' }
