%fieldset.alpha.no-border-bottom#users_panel{ data: { "tabs-and-panels-target": "panel" } }
  %legend= t('.users')
  .row
    .three.columns.alpha
      =f.label :owner_id, t(:admin_enterprise_groups_owner)
      .with-tip{'data-powertip' => t(:admin_enterprise_groups_data_powertip)}
        %a
          = t 'admin.whats_this'
    .eight.columns.omega
    - if spree_current_user.admin?
      = f.hidden_field :owner_id,
        class: "select2 fullwidth",
        'user-select' => "{id:'#{@enterprise_group.owner&.id}', email:'#{@enterprise_group.owner&.email}'}"
    - else
      = @enterprise_group.owner&.email
