%fieldset.alpha.no-border-bottom#web_panel{ data: { "tabs-and-panels-target": "panel" } }
  %legend= t('.web')
  .row
    .alpha.three.columns
      = f.label :website
    .omega.eight.columns
      = f.text_field :website, { placeholder: t(:admin_enterprise_groups_web_website_placeholder)}
  .row
    .alpha.three.columns
      = f.label :facebook, 'Facebook'
    .omega.eight.columns
      = f.text_field :facebook
  .row
    .alpha.three.columns
      = f.label :instagram, 'Instagram'
    .omega.eight.columns
      = f.text_field :instagram
  .row
    .alpha.three.columns
      = f.label :linkedin, 'LinkedIn'
    .omega.eight.columns
      = f.text_field :linkedin
  .row
    .alpha.three.columns
      = f.label :twitter
    .omega.eight.columns
      = f.text_field :twitter, { placeholder: t(:admin_enterprise_groups_web_twitter) }
