= render 'spree/shared/error_messages', target: @enterprise

= form_for [main_app, :admin, @enterprise_group] do |f|
  .row{ ng: {app: 'admin.enterprise_groups', controller: 'enterpriseGroupCtrl'}, data: { controller: 'tabs-and-panels', "tabs-and-panels-class-name-value": "selected" } }
    .sixteen.columns.alpha
      .four.columns.alpha
        = render 'admin/shared/side_menu'
      .one.column &nbsp;
      .eight.columns.omega.fullwidth_inputs
        = render 'form_primary_details', f: f
        = render 'form_users', f: f
        = render 'form_about', f: f
        = render 'form_images', f: f
        = render 'form_address', f: f
        = render 'form_web', f: f
  = render "spree/admin/shared/#{action}_resource_links"
