%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='images'" } }
  %legend {{menu.selected.label}}
  .row
    .alpha.three.columns
      = f.label :logo, 'ofn-with-tip' => t('admin_entreprise_groups_data_powertip_logo')
      %div{'ofn-with-tip' => t('admin_entreprise_groups_data_powertip_logo')}
        %a= t 'admin.whats_this'
    .omega.eight.columns
      = image_tag @object.logo.url if @object.logo.present?
      = f.file_field :logo
  .row
    .alpha.three.columns
      = f.label :promo_image, 'ofn-with-tip' => t(:admin_entreprise_groups_data_powertip_promo_image)
      %div{'ofn-with-tip' => t('admin_entreprise_groups_data_powertip_promo_image')}
        %a= t 'admin.whats_this'
    .omega.eight.columns
      = image_tag @object.promo_image.url if @object.promo_image.present?
      = f.file_field :promo_image
