%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='users'" } }
  %legend {{menu.selected.label}}
  .row
    .three.columns.alpha
      =f.label :owner_id, t(:admin_entreprise_groups_owner)
      .with-tip{'data-powertip' => t(:admin_entreprise_groups_data_powertip)}
        %a
          = t 'admin.whats_this'
    .eight.columns.omega
    - if spree_current_user.admin?
      = f.hidden_field :owner_id,
        class: "select2 fullwidth",
        'user-select' => "{id:'#{@enterprise_group.owner.andand.id}', email:'#{@enterprise_group.owner.andand.email}'}"
    - else
      = @enterprise_group.owner.andand.email
