= fields_for :q, search do |f|
  .row
    .alpha.two.columns.date-label
      = label_tag nil, t(:date_range)
    .omega.fourteen.columns
      = label_tag nil, t(:start)
      = f.text_field :completed_at_gt, datepicker: 'q.completed_at_gt', 'ng-model' => 'q.completed_at_gt', class: 'datepicker-from'
      %span.range-divider
        %i.icon-arrow-right
      = f.text_field :completed_at_lt, datepicker: 'q.completed_at_lt', 'ng-model' => 'q.completed_at_lt', class: 'datepicker-to'
      = label_tag nil, t(:end), :class => 'inline'
