- if @show_old_version
  = form_for @report.search, :url => spree.bulk_coop_admin_reports_path do |f|
    = hidden_field_tag :show_old_version, 1
    = render 'date_range_form', f: f
    .row
      .four.columns.alpha
        = label_tag nil, "Distributor: "
        = f.collection_select(:distributor_id_eq, @distributors, :id, :name, {:include_blank => 'All'}, {:class => "select2 fullwidth"})
    = label_tag nil, "Report Type: "
    %br
    = select_tag(:report_type, options_for_select([['Bulk Co-op - Totals by Supplier',:bulk_coop_supplier_report],['Bulk Co-op - Allocation',:bulk_coop_allocation],['Bulk Co-op - Packing Sheets',:bulk_coop_packing_sheets],['Bulk Co-op - Customer Payments',:bulk_coop_customer_payments]], @report_type))
    %br
    %br
    = check_box_tag :csv
    = label_tag :csv, "Download as csv"
    %br
    .row
      .alpha.two.columns= button t(:search)
      .omega.fourteen.columns.align-right
        =link_to 'New version', spree.bulk_coop_admin_reports_path(show_old_version: 0), {class: 'button'}
  %br
  %br
  %table#listing_orders.index
    %thead
      %tr{'data-hook' => "orders_header"}
        - @report.header.each do |heading|
          %th=heading
    %tbody
      - @table.each do |row|
        %tr
          - row.each do |column|
            %td= column
      - if @table.empty?
        %tr
          %td{:colspan => "2"}= t(:none)

- else

  = admin_inject_json_ams_array "admin.reports", "distributors", @distributors, Api::Admin::Reports::EnterpriseSerializer
  = admin_inject_json_ams "admin.reports", "currencyConfig", {}, Api::CurrencyConfigSerializer
  = admin_inject_json "admin.reports", "reportType", @report_type

  %div{ ng: { app: 'admin.reports', controller: 'bulkCoopCtrl' } }
    %form{ name: 'bulk_coop_report_form', ng: { submit: 'load()' } }
      = render 'ng_date_range_form', search: @search
      .row
        .alpha.two.columns= label_tag :distributor_id_in, t(:distributor)
        .omega.fourteen.columns
          %input.ofn-select2.fullwidth#distributor_id_in{ type: 'text', name: 'q[distributor_id_in]', data: 'distributors', multiple: 'true', ng: { model: 'q.distributor_id_in' } }
      .row
        .alpha.two.columns= label_tag :report_type, t(:report_type)
        .omega.fourteen.columns
          = select_tag('q[report_type]', options_for_select(@report_types, @report_type), {'ng-model' => 'q.report_type', 'ng-change' => 'reload()'})

      .row
        .alpha.two.columns= submit_tag t(:search)
        .omega.fourteen.columns.align-right
          =button_tag 'Download Visible As PDF', {class: 'button', 'ng-show' => 'gridOptions.data.length', 'ng-click' => 'download($event, "pdf", "visible")'}
          =button_tag 'Download All As PDF', {class: 'button', 'ng-show' => 'gridOptions.data.length', 'ng-click' => 'download($event, "pdf", "all")'}
          =button_tag 'Download Visible As CSV', {class: 'button', 'ng-show' => 'gridOptions.data.length', 'ng-click' => 'download($event, "csv", "visible")'}
          =button_tag 'Download All As CSV', {class: 'button', 'ng-show' => 'gridOptions.data.length', 'ng-click' => 'download($event, "csv", "all")'}

          =link_to 'Old version', spree.bulk_coop_admin_reports_path(show_old_version: 1), {class: 'button'}
    %br
      -#
      .report-grid{ 'ui-grid' => 'gridOptions',
        'ui-grid-tree-view' => true,
        'ui-grid-resize-columns' => true,
        'ui-grid-exporter' => true,
        'ui-grid-grouping' => true,
        'ui-grid-move-columns' => true,
        style: 'height: 80vh; width: 100%' }
        .no-data-label.sixteen.columns.align-center{ 'ng-show' => '!gridOptions.data.length && loadAttempted' }
          =t('spree.admin.no_results')
        .loading-data-label.sixteen.columns.align-center{ 'ng-hide' => '!gridOptions.data.length && !loading || gridOptions.data.length' }
          =t(:loading)


