= form_for @report.search, :url => spree.bulk_coop_admin_reports_path do |f|
  = render 'date_range_form', f: f

  .row
    .four.columns.alpha
      = label_tag nil, "Distributor: "
      = f.collection_select(:distributor_id_eq, @distributors, :id, :name, {:include_blank => 'All'}, {:class => "select2 fullwidth"})
  = label_tag nil, "Report Type: "
  %br
  = select_tag(:report_type, options_for_select([['Bulk Co-op - Totals by Supplier',:bulk_coop_supplier_report],['Bulk Co-op - Allocation',:bulk_coop_allocation],['Bulk Co-op - Packing Sheets',:bulk_coop_packing_sheets],['Bulk Co-op - Customer Payments',:bulk_coop_customer_payments]], @report_type))
  %br
  %br
  = check_box_tag :csv
  = label_tag :csv, "Download as csv"
  %br
  %br
  = button t(:search)
%br
%br
%table#listing_orders.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @report.header.each do |heading|
        %th=heading
  %tbody
    - @table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)
