= admin_inject_json_ams_array "admin.reports", "distributors", @distributors, Api::Admin::Reports::EnterpriseSerializer
= admin_inject_json_ams "admin.reports", "currencyConfig", {}, Api::CurrencyConfigSerializer

%div{ ng: { app: 'admin.reports', controller: 'bulkCoopController' } }
  %form{ name: 'bulk_coop_report_form', ng: { submit: 'load()' } }
    = render 'ng_date_range_form', search: @search
    .row
      .alpha.two.columns= label_tag :distributor_id_in, t(:distributor)
      .omega.fourteen.columns
        %input.ofn-select2.fullwidth#distributor_id_in{ type: 'text', name: 'q[distributor_id_in]', data: 'distributors', multiple: 'true', ng: { model: 'q.distributor_id_in' } }
    .row
      .alpha.two.columns= label_tag :report_type, t(:report_type)
      .omega.fourteen.columns
        = select_tag('q[report_type]', options_for_select(@report_types, @report_type), {'ng-model' => 'q.report_type', 'ng-change' => 'reload()'})

    .row
      = submit_tag t(:search)
  %br
    -#
    .report-grid{ 'ui-grid' => 'gridOptions',
      'ui-grid-tree-view' => true,
      'ui-grid-resize-columns' => true,
      'ui-grid-exporter' => true,
      'ui-grid-grouping' => true,
      'ui-grid-move-columns' => true,
      style: 'height: 80vh; width: 100%' }
      .no-data-label.sixteen.columns.align-center{ 'ng-show' => '!gridOptions.data.length && loadAttempted' }
        =t('spree.admin.no_results')
      .loading-data-label.sixteen.columns.align-center{ 'ng-hide' => '!gridOptions.data.length && !loading || gridOptions.data.length' }
        =t(:loading)
