= form_tag spree.customers_admin_reports_url do |f|
  %br
  .row
    .four.columns.alpha
      = label_tag nil, t(:report_customers_distributor)
      = select_tag(:distributor_id,
        options_from_collection_for_select(@distributors, :id, :name, params[:distributor_id]),
        {:include_blank => true, :class => "select2 fullwidth"})

    .four.columns
      = label_tag nil, t(:report_customers_supplier)
      = select_tag(:supplier_id,
        options_from_collection_for_select(@suppliers, :id, :name, params[:supplier_id]),
        {:include_blank => true, :class => "select2 fullwidth"})

    .six.columns
      = label_tag nil, t(:report_customers_cycle)
      = select_tag(:order_cycle_id,
        options_for_select(report_order_cycle_options(@order_cycles), params[:order_cycle_id]),
        {:include_blank => true, :class => "select2 fullwidth"})

  = label_tag nil, t(:report_customers_type)
  = select_tag(:report_type, options_for_select(@report_types, @report_type))

  %br
  %br
  = check_box_tag :csv
  = label_tag :csv, t(:report_customers_csv)
  %br
  = button t(:search)

%br
%br
%table#listing_customers.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @report.header.each do |heading|
        %th=heading
  %tbody
    - @report.table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @report.table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)
