= form_for @search, :url => spree.group_buys_admin_reports_path  do |s|
  = label_tag nil, t(:date_range)
  %br
  .date-range-filter
    %div{"class" => "left sub-field"}
      = s.text_field :created_at_gt, :class => 'datepicker'
      %br
      = label_tag nil, t(:start), :class => 'sub'
    %div{"class" => "right sub-field"}
      = s.text_field :created_at_lt, :class => 'datepicker'
      %br
      = label_tag nil, t(:stop)
    %br
  = label_tag nil, "Distributor: "
  = collection_select(:q, :distributor_id_eq, Spree::Distributor.all, :id, :name)
  %br
  %br
  = check_box_tag :csv
  = label_tag :csv, "Download as csv"
  %br
  = button t(:search)
%br
%br
%table#listing_orders.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @report.header.each do |heading|
        %th=heading
  %tbody
    - @report.table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @report.table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)

