= form_for @search, :url => spree.orders_and_distributors_admin_reports_path do |f|
  = render 'date_range_form', f: f

  = check_box_tag :csv
  = label_tag :csv, t(:report_customers_csv)
  %br
  = button t(:search)

%br
%br
%table#listing_orders.index
  %thead
    %tr{'data-hook' => 'orders_header'}
      - @report.header.each do |heading|
        %th=heading
  %tbody
    - @report.table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @report.table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)
