= form_for @search, :url => spree.orders_and_distributors_admin_reports_path do |f|
  = render 'date_range_form', f: f

  = check_box_tag :csv
  = label_tag :csv, t(:report_customers_csv)
  %br
  = button t(:search)

- if render_content?
  = render partial: "customer_names_message"

= render "table", id: "listing_orders", msg_option: t(:search)
