
%table#listing_orders.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @report.header.each do |heading|
        %th=heading
  %tbody
    - @report.table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @report.table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)

- content_for :sidebar do
  = form_for @search, :url => spree.orders_and_distributors_admin_reports_path  do |s|
    = label_tag nil, t(:date_range)
    %br
    .date-range-filter
      %div{"class" => "left sub-field"}
        = s.text_field :created_at_gt, :class => 'datepicker'
        %br
        = label_tag nil, t(:start), :class => 'sub'
      %div{"class" => "right sub-field"}
        = s.text_field :created_at_lt, :class => 'datepicker'
        %br
        = label_tag nil, t(:stop)
    = check_box_tag :csv
    = label_tag :csv, "Download as csv"
    %br
    = button t(:search)