= form_for @search, :url => spree.orders_and_fulfillment_admin_reports_path do |f|
  .row.date-range-filter
    = label_tag nil, t(:date_range)
    %br
    = label_tag nil, t(:start), :class => 'inline'
    = f.text_field :completed_at_gt, :class => 'datetimepicker datepicker-from'    
    %span.range-divider
      %i.icon-arrow-right
    = f.text_field :completed_at_lt, :class => 'datetimepicker datepicker-to'
    = label_tag nil, t(:end), :class => 'inline'

  .row
    .alpha.two.columns= label_tag nil, "Hubs: "
    .omega.fourteen.columns= f.collection_select(:distributor_id_in, @distributors, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, "Producers: "
    .omega.fourteen.columns= select_tag(:supplier_id_in, options_from_collection_for_select(@suppliers, :id, :name, params[:supplier_id_in]), {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, "Order Cycles: "
    .omega.fourteen.columns
      = f.select(:order_cycle_id_in, report_order_cycle_options(@order_cycles), {selected: params[:q][:order_cycle_id_in]}, {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, "Report Type: "
    .omega.fourteen.columns= select_tag(:report_type, options_for_select(@report_types, @report_type))

  .row
    = check_box_tag :csv
    = label_tag :csv, "Download as csv"

  .row
  = button t(:search)

%br
%br
%table#listing_orders.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @header.each do |heading|
        %th=heading
  %tbody
    - @table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)
