- if @show_old_version
  = form_for @search, :url => spree.orders_and_distributors_admin_reports_path do |f|
    = hidden_field_tag :show_old_version, 1
    = render 'date_range_form', f: f

    = check_box_tag :csv
    = label_tag :csv, t(:report_customers_csv)
    %br
    .row
      .alpha.two.columns= button t(:search)
      .omega.fourteen.columns.align-right
        =link_to 'New version', spree.orders_and_distributors_admin_reports_path(show_old_version: 0), {class: 'button'}

  %br
  %br
  %table#listing_orders.index
    %thead
      %tr{'data-hook' => 'orders_header'}
        - @report.header.each do |heading|
          %th=heading
    %tbody
      - @report.table.each do |row|
        %tr
          - row.each do |column|
            %td= column
      - if @report.table.empty?
        %tr
          %td{:colspan => "2"}= t(:none)

- else
  = admin_inject_json_ams "admin.reports", "currencyConfig", {}, Api::CurrencyConfigSerializer

  %div{ ng: { app: 'admin.reports', controller: 'ordersAndDistributorsCtrl' } }
    %form{ name: 'orders_and_distributors_report_form', ng: { submit: 'load()' } }
      = render 'ng_date_range_form', search: @search

      .row
        .alpha.two.columns= submit_tag t(:search)
        .omega.fourteen.columns.align-right
          = render 'ng_download_buttons'
          =link_to 'Old version', spree.orders_and_distributors_admin_reports_path(show_old_version: 1), {class: 'button'}
    = render 'ng_report_grid'
