= form_for @report.search, :url => spree.order_cycle_management_admin_reports_path do |f|
  = render 'date_range_form', f: f

  .row
    .alpha.two.columns= label_tag nil, t(:report_hubs)
    .omega.fourteen.columns= f.collection_select(:distributor_id_in, @distributors, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, t(:report_customers_cycle)
    .omega.fourteen.columns
      = f.select(:order_cycle_id_in, report_order_cycle_options(@order_cycles), {selected: params[:q][:order_cycle_id_in]}, {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, t(:report_payment)
    .omega.fourteen.columns= select_tag(:payment_method_in, options_for_select(report_payment_method_options(@report.orders), params[:payment_method_in]), {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, "Shipping Methods: "
    .omega.fourteen.columns= select_tag(:shipping_method_in, options_for_select(report_shipping_method_options(@report.orders), params[:shipping_method_in]), {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, "Report Type: "
    .omega.fourteen.columns= select_tag(:report_type, options_for_select(@report_types, @report_type))

  .row
    = check_box_tag :csv
    = label_tag :csv, t(:report_customers_csv)

  .row
  = button t(:search)

%br
%br
%table#listing_ocm_orders.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @report.header.each do |heading|
        %th=heading
  %tbody
    - @table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)
