= form_for @search, :url => spree.payments_admin_reports_path do |f|
  = label_tag nil, t(:date_range)
  %br
  .date-range-filter
    .left.sub-field
      = f.text_field :completed_at_gt, :class => 'datepicker'
      %br
      = label_tag nil, t(:start), :class => 'sub'
    .right.sub-field
      = f.text_field :completed_at_lt, :class => 'datepicker'
      %br
      = label_tag nil, t(:stop)
  %br
  .row
    .four.columns.alpha
      = label_tag nil, "Distributor: "
      = f.collection_select(:distributor_id_eq, @distributors, :id, :name, {:include_blank => 'All'}, {:class => "select2 fullwidth"})
  = label_tag nil, "Report Type: "
  %br
  = select_tag(:report_type, options_for_select([['Payments By Type',:payments_by_payment_type],['Itemised Payment Totals',:itemised_payment_totals],['Payment Totals',:payment_totals]], @report_type))
  %br
  %br
  = check_box_tag :csv
  = label_tag :csv, "Download as csv"
  %br
  %br
  = button t(:search)
%br
%br
%table#listing_orders.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @header.each do |heading|
        %th=heading
  %tbody
    - @table.each do |row|
      %tr
        - row.each do |column|
          %td= column
    - if @table.empty?
      %tr
        %td{:colspan => "2"}= t(:none)
