= form_for @report.search, :url => spree.sales_tax_admin_reports_path do |f|
  = render 'date_range_form', f: f

  .row
    .four.columns.alpha
      = label_tag nil, t(:report_distributor)
      = f.collection_select(:distributor_id_eq, @distributors, :id, :name, {:include_blank => t(:all)}, {:class => "select2 fullwidth"})
  = label_tag nil, t(:report_customers_type)
  %br
  = select_tag(:report_type, options_for_select([[t(:report_tax_types),:tax_types],[t(:report_tax_rates),:tax_rates]], @report_type))
  %br
  %br
  = check_box_tag :csv
  = label_tag :csv, t(:report_customers_csv)
  %br
  %br
  = button t(:search)

%br
%br
%table#listing_orders.index
  %thead
    %tr{'data-hook' => "orders_header"}
      - @report.header.each do |heading|
        %th= heading
  %tbody
    - @report.table.each do |row|
      %tr
        - row.each_with_index do |column, i|
          - if i == 0
            %td
              %a.edit-order{'href' => "/admin/orders/#{column}"}= column
          - else
            %td= column
    - if @report.table.empty?
      %tr
        %td{:colspan => @report.header.count}= t(:none)
