%p.callout
  %span{:style => "float:right;"}
    - if @order.paid?
      = t :email_payment_paid
    - else
      - if @order.outstanding_balance?
        = @order.outstanding_balance < 0 ? t(:credit_owed) : t(:balance_due)
        \:
        %strong= @order.display_outstanding_balance
      - else
        = t :email_payment_not_paid
  %strong
    = t :email_payment_summary
- if @order.payments.any?
  = render partial: 'list', locals: { payments: @order.payments }
- else
  .alpha.twelve.columns.no-objects-found= t(:order_has_no_payments)
