%p.callout
  %span{:style => "float:right;"}
    - if @order.paid?
      = t :email_payment_paid
    - else
      = t :email_payment_not_paid
  %strong
    = t :email_payment_summary
%h4
  = t :email_payment_method
  %strong=  last_payment_method(@order)&.name
%p
  %em= last_payment_method(@order)&.description
%p &nbsp;
