%br
%p.callout
  = t :email_confirm_customer_signoff
  %br
  #{@order.distributor.contact_name}
  %br
  %br
  = @order.distributor.name
  %br
  = @order.distributor.phone || ""
  %br
  %a{:href => "mailto:#{@order.distributor.contact.email}", :target => "_blank"}
    = @order.distributor.contact.email
  %br
  = @order.distributor.website || ""
  %br
  = @order.distributor.instagram || ""

