%br
%p.callout
  = t :email_confirm_customer_signoff
  %br
  #{@order.distributor.contact_name}
  %br
  %br
  = @order.distributor.name
  %br
  = @order.distributor.phone || ""
  %br
  %a{:href => "mailto:#{order_reply_email(@order)}", :target => "_blank"}
    = order_reply_email(@order)
  %br
  = @order.distributor.website || ""
  %br
  = @order.distributor.instagram || ""

