%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %h3
              = t(".customer_greeting", name: @order.bill_address.firstname)
            %h4
              = t(".instructions_html", distributor: @order.distributor.name )
            %img.float-left{:src => "#{@order.distributor.logo.url(:medium)}"}/
      %span.clear

%p.callout
  = t(".dont_cancel", email: @order.distributor.contact.email)

%p &nbsp;
%h4
  = t(".order_summary_canceled_html", number: @order.number)
%p
  = t(".details")

= render 'order_summary'
= render 'signoff'
= render 'shared/mailers/social_and_contact'
