- if @order.distributor.logo.variable?
  - @enterprise_for_logo = @order.distributor

- greeting_key = "mailers_shared.customer_greeting"
- intro_key = ".instructions_html"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key, name: @order.bill_address.firstname),
                   intro: t(intro_key, distributor: @order.distributor.name),
                   enterprise_for_logo: @enterprise_for_logo }

%p.callout
  = t(".dont_cancel")
  %br
  %a{:href => "mailto:#{@order.distributor.contact.email}", :target => "_blank"}
    = @order.distributor.contact.email

%h3
  = t(".order_summary_canceled_html", number: @order.number)
%p
  = t(".details")

= render 'shared/mailers/order_summary'

%p
  - if @order.paid?
    = t(".paid_order", distributor: @order.distributor.name)
  - else
    = t(".unpaid_order")

= render 'shared/mailers/signoff_distributor'
