%table.social.white-bg.fullwidth
  %table.column
    %tr
      %td
        %h3
          = t(".customer_greeting", name: @order.bill_address.firstname)
        %h4
          = t(".instructions_html", distributor: @order.distributor.name )
        - if @order.distributor.logo.variable?
          = image_tag @order.distributor.logo_url(:medium)

%p.callout
  = t(".dont_cancel", email: @order.distributor.contact.email)

%p &nbsp;
%h4
  = t(".order_summary_canceled_html", number: @order.number)
%p
  = t(".details")

= render 'order_summary'

%p
  - if @order.paid?
    = t(".paid_order", distributor: @order.distributor.name)
  - else
    = t(".unpaid_order")

= render 'signoff'
= render 'shared/mailers/powered_by'
