%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %h3
              Hi #{@order.bill_address.firstname},
            %h4
              Thanks for shopping at
              %strong= "#{@order.distributor.name}!"
      %table.column{:align => "left"}
        %tr
          %td{:align => "right"}
            %img.float-right{:src => "#{@order.distributor.logo.url(:medium)}"}/
      %span.clear

%p &nbsp;
%h4
  Order confirmation
  %strong ##{@order.number}
%p
  Here are your order details from
  %strong= "#{@order.distributor.name}:"

= render 'order_summary'
= render 'payment'
= render 'shipping'
= render 'special_instructions'
= render 'signoff'
