%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %h3
              = t :email_confirm_shop_greeting, name: @order.distributor.contact_name
            %h4
              = t :email_confirm_shop_order_html, distributor: @order.distributor.name
      %table.column{:align => "left"}
        %tr
          %td{:align => "right"}
            - if @order.distributor.logo.variable?
              = image_tag @order.distributor.logo_url(:medium), class: "float-right"
      %span.clear

%p &nbsp;
%h4
  = t :email_confirm_shop_number_html, number: @order.number
%h5
  %strong= "#{@order.bill_address.firstname} #{@order.bill_address.lastname}"
  = " <#{@order.email}>" if @order.email
  = @order.bill_address.phone if @order.bill_address.phone

= render 'order_summary'
= render 'spree/shared/payment'
= render 'shipping'
= render 'special_instructions'

%p &nbsp;
= render 'shared/mailers/signoff'
= render 'shared/mailers/social_and_contact'
