%h3 Hi #{@order.bill_address.firstname},
%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %p
              %strong Order confirmation ##{@order.number}
            %p
              Thanks for shopping on
              %strong= "#{Spree::Config.site_name}."
              Here are the details for you order from
              %strong= "#{@order.distributor.name}."
      %table.column{:align => "left"}
        %tr
          %td
            %img.float-right{:src => "#{@order.distributor.logo.url(:thumb)}"}/
      %span.clear
%p &nbsp;


%p.callout
  %strong Order summary
%table.order-summary{:width => "100%"}
  %tr
    %td
      %strong Item
    %td{:align => "right", :width => "25%"}
      %strong Qty
    %td{:align => "right", :width => "25%"}
      %strong Price
  - @order.line_items.each do |item|
    %tr
      %td
        = raw(item.variant.product.supplier.name)
        %br
        = "#{raw(item.variant.product.name)} #{raw(item.variant.options_text)}"
      %td{:align => "right"}
        = item.quantity
      %td{:align => "right"}
        = item.display_amount_with_adjustments

  %tr
    %td{:colspan => "3"} &nbsp;
  %tr
    %td{:align => "right", :colspan => "2"}
      Subtotal:
    %td{:align => "right"}
      = spree_number_to_currency checkout_subtotal(@order)
  - checkout_adjustments_for_summary(@order, exclude: [:line_item]).reject{ |a| a.amount == 0 }.reverse_each do |adjustment|
    %tr
      %td{:align => "right", :colspan => "2"}
        = "#{raw(adjustment.label)}:"
      %td{:align => "right"}
        = adjustment.display_amount
  %tr
    %td{:align => "right", :colspan => "2"}
      %strong Total:
    %td{:align => "right"}
      %strong= @order.display_total
%p &nbsp;

- if @order.payments.first.andand.payment_method.andand.type == "Spree::PaymentMethod::Check" and @order.payments.first.andand.payment_method.andand.description
  %p.callout
    %strong Payment summary
  / /Heading Panel
  / Payment Summary
  %p= @order.payments.first.andand.payment_method.andand.description.andand.html_safe
  %p &nbsp;

- if @order.shipping_method.andand.require_ship_address
  / Delivery details
  %p.callout
    %strong
      Delivery details
  %p
    Your order will be delivered to:
    %br
    #{@order.ship_address.to_s}
    %br

    - if @order.shipping_method.andand.description
      #{@order.shipping_method.description.html_safe}
      %br
      %br

    - if @order.order_cycle.andand.pickup_time_for(@order.distributor)
      Delivery on: #{@order.order_cycle.pickup_time_for(@order.distributor)}
      %br
      %br

    - if @order.order_cycle.andand.pickup_instructions_for(@order.distributor)
      Other delivery information: #{@order.order_cycle.pickup_instructions_for(@order.distributor)}
      %br
      %br


- else
  / Collection details
  %p.callout
    %strong
      Collection details
  %p
    - if @order.shipping_method.andand.description
      = @order.shipping_method.description.html_safe
      %br
      %br

    - if @order.order_cycle.andand.pickup_time_for(@order.distributor)
      Ready for collection: #{@order.order_cycle.pickup_time_for(@order.distributor)}
      %br
      %br

    - if @order.order_cycle.andand.pickup_instructions_for(@order.distributor)
      Collection instructions: #{@order.order_cycle.pickup_instructions_for(@order.distributor)}
      %br
      %br

    - if @order.special_instructions.present?
      Notes: #{@order.special_instructions}
      %br
      %br

    -# Your order will be ready for collection on
    -# %strong{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", \"Helvetica\", Helvetica, Arial, sans-serif;"}
    -#   Tuesday 07 Dec
    -# %p{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", \"Helvetica\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;"}
    -#   Pick-up your order at the rear of 34 Mason Street, Warragul. See it on
    -# %a{:href => "https://goo.gl/maps/T1ArU", :style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", \"Helvetica\", Helvetica, Arial, sans-serif;color: #0096ad;", :target => "_blank"}
    -#   google maps


%p.callout
  #{@order.distributor.contact},
  %br/
  %strong= @order.distributor.name
  %br/
  = @order.distributor.phone || ""
  %br/
  %a{:href => "mailto:#{@order.distributor.email}", :target => "_blank"}
    = @order.distributor.email
  %br/
  = @order.distributor.website || ""