- if @order.distributor.logo.variable?
  - @enterprise_for_logo = @order.distributor

- greeting_key = "mailers_shared.enterprise_greeting"
- intro_key = ".intro_html"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key, name: @order.distributor.contact_name),
                   intro: t(intro_key, distributor: @order.distributor.name),
                   enterprise_for_logo: @enterprise_for_logo }

%h4
  = t('mailers_shared.order_confirmation_html', number: @order.number)
%h5
  %strong= "#{@order.bill_address.firstname} #{@order.bill_address.lastname}"
  = " <#{@order.email}>" if @order.email
  = @order.bill_address.phone if @order.bill_address.phone

= render 'order_summary'
= render 'spree/shared/payment'
= render 'shipping'
= render 'special_instructions'

%p &nbsp;
= render 'shared/mailers/signoff_instance'
= render 'shared/mailers/social_and_contact'
