%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %h3 
              Hi #{@order.bill_address.firstname},
            %h4
              Thanks for shopping at 
              %strong= "#{@order.distributor.name}!"
      %table.column{:align => "left"}
        %tr
          %td{:align => "right"}
            %img.float-right{:src => "#{@order.distributor.logo.url(:medium)}"}/
      %span.clear

%p &nbsp;
%h4
  Order confirmation 
  %strong ##{@order.number}
%p
  Here are your order details from
  %strong= "#{@order.distributor.name}:"  

%table.order-summary{:width => "100%"}
  %thead
    %tr
      %th{:align => "left"}
        %h4 Item
      %th{:align => "right", :width => "25%"}
        %h4 Qty
      %th{:align => "right", :width => "25%"}
        %h4 Price
  %tbody
    - @order.line_items.each do |item|
      %tr
        %td
          %strong= "#{raw(item.variant.product.name)}" 
          = "#{raw(item.variant.options_text)}"
          %br
          %small
            %em= raw(item.variant.product.supplier.name)
        %td{:align => "right"}
          = item.quantity
        %td{:align => "right"}
          = item.display_amount_with_adjustments
  %tfoot
    %tr
      %td{:align => "right", :colspan => "2"}
        Subtotal:
      %td{:align => "right"}
        = display_checkout_subtotal(@order)
    - checkout_adjustments_for(@order, exclude: [:line_item]).reject{ |a| a.amount == 0 }.reverse_each do |adjustment|
      %tr
        %td{:align => "right", :colspan => "2"}
          = "#{raw(adjustment.label)}:"
        %td{:align => "right"}
          = adjustment.display_amount
    %tr
      %td{:align => "right", :colspan => "2"}
        %strong Total:
      %td{:align => "right"}
        %strong= @order.display_total
%p &nbsp;

- if @order.payments.first.andand.payment_method.andand.type == "Spree::PaymentMethod::Check" and @order.payments.first.andand.payment_method.andand.description
  %p.callout
    %strong Payment summary
  / /Heading Panel
  / Payment Summary
  %p= @order.payments.first.andand.payment_method.andand.description.andand.html_safe
  %p &nbsp;

- if @order.shipping_method.andand.require_ship_address
  / Delivery details
  %p.callout
    %strong
      Delivery details
  %p
    Your order will be delivered to:
  %p
    #{@order.ship_address.full_name}
    %br
    #{@order.ship_address.full_address}
    %br
    #{@order.ship_address.phone}

    - if @order.shipping_method.andand.description
      %p
        #{@order.shipping_method.description.html_safe}

    - if @order.order_cycle.andand.pickup_time_for(@order.distributor)
      %p
        Delivery on: 
        %br
        %strong #{@order.order_cycle.pickup_time_for(@order.distributor)}

    - if @order.order_cycle.andand.pickup_instructions_for(@order.distributor)
      %p
        Other delivery information: 
        %br
        %strong #{@order.order_cycle.pickup_instructions_for(@order.distributor)}

- else
  / Collection details
  %p.callout
    %strong
      Collection details
  
  - if @order.shipping_method.andand.description
    %p 
      @order.shipping_method.description.html_safe

  - if @order.order_cycle.andand.pickup_time_for(@order.distributor)
    %p
      Ready for collection: 
      %br
      %strong #{@order.order_cycle.pickup_time_for(@order.distributor)}

  - if @order.order_cycle.andand.pickup_instructions_for(@order.distributor)
    %p
      Collection instructions: 
      %br
      %strong #{@order.order_cycle.pickup_instructions_for(@order.distributor)}

  - if @order.special_instructions.present?
    %p
      %small
        Customer notes: 
        %br
        #{@order.special_instructions}

    -# Your order will be ready for collection on
    -# %strong{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", \"Helvetica\", Helvetica, Arial, sans-serif;"}
    -#   Tuesday 07 Dec
    -# %p{:style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", \"Helvetica\", Helvetica, Arial, sans-serif;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;"}
    -#   Pick-up your order at the rear of 34 Mason Street, Warragul. See it on
    -# %a{:href => "https://goo.gl/maps/T1ArU", :style => "margin: 0;padding: 0;font-family: \"Helvetica Neue\", \"Helvetica\", Helvetica, Arial, sans-serif;color: #0096ad;", :target => "_blank"}
    -#   google maps
%br
%p.callout
  Kind regards,
  %br
  #{@order.distributor.contact}
  %br
  %br
  = @order.distributor.name
  %br
  = @order.distributor.phone || ""
  %br
  %a{:href => "mailto:#{@order.distributor.email}", :target => "_blank"}
    = @order.distributor.email
  %br
  = @order.distributor.website || ""