- if @order.distributor.logo.variable?
  - @enterprise_for_logo = @order.distributor

- greeting_key = "mailers_shared.customer_greeting"
- intro_key = ".intro_html"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key, name: @order.bill_address.firstname),
                   intro: t(intro_key, distributor: @order.distributor.name),
                   enterprise_for_logo: @enterprise_for_logo }

%h3
  = t('mailers_shared.order_confirmation_html', number: @order.number)
%p
  = t('.details_html', distributor: @order.distributor.name)

= render 'shared/mailers/order_summary'

.detail
  = render 'spree/shared/payment'
  = render 'shipping'
  = render 'special_instructions'

= render 'shared/mailers/signoff_distributor'
