%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %h3 
              Hi #{@order.distributor.contact},
            %h4
              Well done! You have a new order for 
              %strong= "#{@order.distributor.name}!"
      %table.column{:align => "left"}
        %tr
          %td{:align => "right"}
            %img.float-right{:src => "#{@order.distributor.logo.url(:medium)}"}/
      %span.clear

%p &nbsp;
%h4
  Order confirmation 
  %strong ##{@order.number}
%p
  %strong= "#{@order.bill_address.firstname} #{@order.bill_address.lastname}"
  completed the following order at your shopfront:

= render 'order_summary'
= render 'payment'
= render 'shipping'
= render 'special_instructions'

%p &nbsp;
= render 'shared/mailers/signoff'
= render 'shared/mailers/social_and_contact'
