%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %h3
              = t :email_confirm_customer_greeting, name: @order.bill_address.firstname
            %h4
              - if @order.paid? && @type == 'confirmation'
                = t :email_so_payment_success_intro_html, distributor: @order.distributor.name
              - else
                = t("email_so_#{@type}_intro_html", distributor: @order.distributor.name)
      %table.column{:align => "left"}
        %tr
          %td{:align => "right"}
            %img.float-right{:src => "#{@order.distributor.logo.url(:medium)}"}/
      %span.clear

%p.callout
  = t("email_so_#{@type}_explainer_html", orders_close_at: l(@order.order_cycle.orders_close_at, format: "%a %b %d @ %l:%M%p"))
  = t("email_so_contact_distributor_html", distributor: @order.distributor.name, email: @order.distributor.email)

%p &nbsp;
%h4
  = t :email_confirm_customer_number_html, number: @order.number
%p
  = t("email_so_#{@type}_details_html", distributor: @order.distributor.name)

- if @changes.any? && @type == 'placement'
  %p.callout
    = t("email_so_placement_changes")

= render 'order_summary'

- unless @type == 'empty'
  = render 'payment'
  = render 'shipping'
  = render 'special_instructions'

= render 'signoff'
