= form_for @report_parameters, as: :report, url: main_app.order_management_reports_enterprise_fee_summary_path, method: :post do |f|
  .row.date-range-filter
    .sixteen.columns.alpha
      = label_tag nil, t(".date_range")
      %br

      = f.label :start_at, class: "inline"
      = f.text_field :start_at, class: "datetimepicker datepicker-from"

      %span.range-divider
        %i.icon-arrow-right

      = f.text_field :end_at, class: "datetimepicker datepicker-to"
      = f.label :end_at, class: "inline"

  .row
    .sixteen.columns.alpha
      = f.label :distributor_ids
      = f.collection_select(:distributor_ids, @permissions.allowed_distributors, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .sixteen.columns.alpha
      = f.label :producer_ids
      = f.collection_select(:producer_ids, @permissions.allowed_producers, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .sixteen.columns.alpha
      = f.label :order_cycle_ids
      = f.collection_select(:order_cycle_ids, @permissions.allowed_order_cycles, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .eight.columns.alpha
      = f.label :enterprise_fee_ids
      = f.collection_select(:enterprise_fee_ids, @permissions.allowed_enterprise_fees, :id, :name, {}, {class: "select2 fullwidth", multiple: true})
    .eight.columns.omega
      = f.label :shipping_method_ids
      = f.collection_select(:shipping_method_ids, @permissions.allowed_shipping_methods, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .eight.columns.alpha &nbsp;
    .eight.columns.omega
      = f.label :payment_method_ids
      = f.collection_select(:payment_method_ids, @permissions.allowed_payment_methods, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .sixteen.columns.alpha
      = check_box_tag :report_format, "csv", false, id: "report_format_csv"
      = label_tag :report_format_csv, t(".report_format_csv")

  = button t(".generate_report")

= render partial: "spree/admin/reports/customer_names_message"
