= component_controller do
  #products_page_form
    #filter_results
      %input.search{type: 'text', placeholder: 'Search', id: 'search_query'}
      %button.btn.btn-primary{type: 'submit'}
        Filter results

    #categories_selector
      = render(SuperSelectorComponent.new(title: "Categories", selected: @categories_selected, items: @categories, data: { key: key, reflex: "click->ProductsTableComponent#toggle_category" }))
    #producers_selector
      = render(SuperSelectorComponent.new(title: "Producers", selected: @producers_selected, items: @producers, data: { key: key, reflex: "click->ProductsTableComponent#toggle_producer" }))
    #per-page_selector
      = render(SelectorComponent.new(title: "#{@per_page_selected[0]} items per page", selected: @per_page_selected, items: @per_page, data: { key: key, reflex: "click->ProductsTableComponent#toggle_per_page" }))
    #columns_selector
      = render(SelectorComponent.new(title: "Columns", selected: @columns_selected, items: @columns, data: { key: key, reflex: "click->ProductsTableComponent#toggle_column" }))

  #products_table
    %table
      %thead
        %tr
          %th
            Name
          - @columns_selected.each do |column|
            %th
              = @columns.find{ |c| c[:value] == column }[:label]
      %tbody
        = render(ProductComponent.with_collection(@products, columns: @columns_selected))
  #pagination
    = render(PaginationComponent.new(pagy: @pagy, data: {key: key, reflex: "click->ProductsTableComponent#change_page" }))
