%h5.inline-header
  = line_item.full_product_name
  - if line_item.variant.display_name.present? && !line_item.full_product_name.include?(line_item.variant.display_name)
    %span= "- #{line_item.variant.display_name}"
- if line_item.unit_price
  = raw("(#{format_unit_price(line_item.unit_price)})")

