%h5.inline-header
  = line_item.variant.product.name
  - unless line_item.variant.product.name.include? line_item.name_to_display
    %span= "- #{line_item.name_to_display}"
- if line_item.unit_price_price_and_unit
  = raw("(#{line_item.unit_price_price_and_unit})")
