#delivery-fees
  %h2 Distribution Costs
  = cms_snippet_content(Cms::Snippet.find_by_identifier('cart_distribution_costs'))

  %table#delivery
    %thead
      %tr
        %th Item
        %th Shipping Method
        %th Delivery Fee
    %tbody
      - @order.line_items.each do |line_item|
        - tr_class = cycle('', 'alt')
        %tr{:class => tr_class}
          %td
            %h4= link_to line_item.product.name, product_path(line_item.product)
          %td.item-shipping-method= line_item.shipping_method.name
          %td.item-shipping-cost= number_to_currency line_item.itemwise_shipping_cost

  .subtotal{'data-hook' => 'delivery_fees_subtotal'}
    %h5
      Shipping total
      \:
      %span.order-total= order_delivery_fee_subtotal(@order)
