%div{'data-hook' => "inside_cart_form"}
  %div{'data-hook' => "cart_items"}
    = render :partial => 'form', :locals => { :order_form => order_form }

  #subtotal{'data-hook' => ""}
    %h5
      Item total
      \:
      %span.order-total.item-total= number_to_currency @order.item_total
    %h5
      Distribution total
      \:
      %span.order-total.distribution-total= order_distribution_subtotal(@order)
    %h4
      Total
      \:
      %span.order-total.grand-total= @order.display_total

  .links{'data-hook' => "cart_buttons"}
    = button_tag :class => 'primary', :id => 'update-button' do
      = t(:update)
    = link_to t(:checkout), checkout_path, :class => 'button checkout primary', :id => 'checkout-link'
