- display_footer = true if display_footer.nil?

%table#line-items
  %col{valign: "middle"}/
  %col{halign: "center", valign: "middle", width: "5%"}/
  %col{halign: "center", valign: "middle", width: "5%"}/
  %col{halign: "center", valign: "middle", width: "5%"}/
  %thead
    %tr
      %th= t(:item)
      %th.price= t(:price)
      %th.text-center.qty= t(:qty)
      %th.text-right.total
        %span= t(:total)
  %tbody
    - order.line_items.sorted_by_name_and_unit_value.each do |item|
      %tr.line_item{ class: "variant-#{item.variant.id}" }
        %td
          %div.item-thumb-image
            = render 'spree/shared/variant_thumbnail', variant: item.variant

          = render 'spree/shared/line_item_name', line_item: item

        %td.text-right.price
          %span= item.single_display_amount_with_adjustments.to_html
        %td.text-center= item.quantity
        %td.text-right.total
          %span= item.display_amount_with_adjustments.to_html

  = render partial: "spree/orders/totals_footer", locals: { order: order } if display_footer
