= inject_enterprises 

.darkswarm
  - content_for :order_cycle_form do
    %strong.avenir
      Order ready on
      - if @order.order_cycle
        = pickup_time @order.order_cycle 
      - else
        = @order.distributor.next_collection_at

  = render partial: "shopping_shared/details"
  
  %fieldset
    - if @order.line_items.empty?
      %div.row{"data-hook" => "empty_cart"}
        %p= t(:your_cart_is_empty)
        %p= link_to t(:continue_shopping), main_app.shop_path, :class => 'button continue'

    - else
      %div{"data-hook" => "outside_cart_form"}
        = form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form|
          %div{"data-hook" => "inside_cart_form"}
            %div{"data-hook" => "cart_items"}
              .row
                = render :partial => 'form', :locals => { :order_form => order_form }


        .links{'data-hook' => "cart_buttons"}
          .row
            .columns.large-8{"data-hook" => ""}
              
              %a.button.large.secondary{href: main_app.shop_path}
                %i.ofn-i_008-caret-left 
                Continue shopping
            .columns.large-4.text-right
              %a#checkout-link.button.large.primary{href: main_app.checkout_path}
                Checkout
                %i.ofn-i_007-caret-right

= render partial: "shared/footer"

