- content_for(:title) do
  = t :orders_show_title

= inject_enterprises

.darkswarm
  - content_for :order_cycle_form do
    %strong.avenir
      = t :orders_show_time
      - if @order.order_cycle
        = @order.order_cycle.pickup_time_for(@order.distributor)
      - else
        = @order.distributor.next_collection_at

  = render "shopping_shared/details" if current_distributor.present?

  %fieldset#order_summary.footer-pad{"data-hook" => ""}
    .row
      .columns.large-12.text-center
        %h2
          = t :orders_show_number
          = " #" + @order.number

    #order{"data-hook" => ""}
      - if params.has_key? :checkout_complete
        %h1= t(:thank_you_for_your_order)

      = render 'spree/shared/order_details', order: @order

      .row
        .columns.large-12
          = link_to t(:back_to_store), main_app.shop_path, :class => "button"
          - unless params.has_key? :checkout_complete
            - if try_spree_current_user && respond_to?(:spree_account_path)
              = link_to t(:my_account), spree_account_path, :class => "button"


= render partial: "shared/footer"
