- content_for(:title) do
  = t :register_title

- content_for :scripts do
  = render partial: "shared/google_maps_js"

- content_for :injection_data do
  = inject_spree_api_key
  = inject_available_countries
  = inject_enterprise_attributes

- steps = %w{about contact details finished images introduction}
- steps += %w{logo promo social steps type}
- steps.each do |step|
  = render partial: "registration/steps/#{step}"
= render "modal"

%div{ "ng-controller" => "RegistrationCtrl" }
