- content_for(:title) do
  = t :register_title

= inject_spree_api_key
= inject_available_countries
= inject_enterprise_attributes

%script{type: "text/ng-template", id: "registration/introduction.html"}
  = render partial: "registration/introduction"

%div{ "ng-controller" => "RegistrationCtrl" }
