- content_for(:title) do
  = t :register_title

= inject_spree_api_key
= inject_available_countries
= inject_enterprise_attributes

- steps = %w{about contact details finished images introduction}
- steps += %w{limit_reached logo promo social steps type}
- steps.each do |step|
  = render partial: "registration/steps/#{step}"
= render "modal"

%div{ "ng-controller" => "RegistrationCtrl" }
