.row
  .small-6.columns
    %label
      = t :first_name
    %input{type: :text, disabled: true, "ng-value" => "order.bill_address.firstname"}

  .small-6.columns
    %label
      = t :last_name
    %input{type: :text, disabled: true, "ng-value" => "order.bill_address.lastname"}

  .small-6.columns
    = validated_input t(:card_number), "secrets.card_number", "ng-required" => "!selected_card", maxlength: 19, autocomplete: "off", "ng-disabled" => "!!selected_card"
  .small-6.columns
    = validated_input t(:card_securitycode), "secrets.card_verification_value", "ng-required" => "!selected_card", "ng-disabled" => "!!selected_card"

.row
  .small-12.columns
    %label{for: "secrets.card_month"}
      = t :card_expiry_date, "ng-disabled" => "!!selected_card"

.row
  .small-6.columns
    %select{"ng-model" => "secrets.card_month", "ng-options" => "currMonth.value as currMonth.key for currMonth in months", name: "secrets.card_month", "ng-required" => "!selected_card", "ng-disabled" => "!!selected_card"}
  .small-6.columns
    %select{"ng-model" => "secrets.card_year", "ng-options" => "year for year in years", name: "secrets.card_year", "ng-required" => "!selected_card", "ng-disabled" => "!!selected_card"}
