= component_controller do
  %nav{"aria-label": "pagination"}
    .pagination
      .pagination-prev{data: @prev.nil? ? nil : @data, "data-page": @prev, class: "#{'inactive' if @prev.nil?}"}
        Previous
      .pagination-pages
        - @series.each do |page|
          - if page == :gap
            .pagination-gap
              …
          - else
            .pagination-page{data: @data, "data-page": page, class: "#{'active' if page.to_i == @page}"}
              = page
      .pagination-next{data: @next.nil? ? nil : @data, "data-page": @next, class: "#{'inactive' if @next.nil?}"}
        Next

