.row
  = f_form_for @spree_user, :as => :spree_user, :url => spree.spree_user_password_path, :method => :put do |f|
    = render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user }
    %fieldset
      %legend= t(:change_my_password)
      .row
        .large-12.columns
          = f.password_field :password
      .row
        .large-12.columns
          = f.password_field :password_confirmation
      = f.hidden_field :reset_password_token
      .row
        .large-12.columns
          = f.submit t(:update_password), :class => 'button primary'
