= render 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  Content


= form_tag main_app.admin_content_path, method: :put do
  #preferences
    %fieldset.no-border-bottom
      %legend{align: "center"} Home page
      - @preferences.each do |key|
        - type = ContentConfig.preference_type(key)
        .field
          = label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean
          = preference_field_tag(key, ContentConfig[key], :type => type)
          = label_tag(key, t(key)) + tag(:br) if type == :boolean

    .form-buttons.filter-actions.actions{"data-hook" => "buttons"}
      = button t(:update), 'icon-refresh'
      %span.or= t(:or)
      = link_to_with_icon 'icon-remove', t(:cancel), main_app.edit_admin_content_path, class: 'button'
