= render 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t('.title')

= form_tag main_app.admin_contents_path, method: :put, multipart: true do
  #preferences
    - @preference_sections.each do |preference_section|
      = render 'fieldset', name: preference_section[:name], preferences: preference_section[:preferences]

    .form-buttons.filter-actions.actions
      = button t(:update), 'icon-refresh'
      = link_to_with_icon 'icon-remove', t(:cancel), main_app.edit_admin_contents_path, class: 'button'
