-# = render "spree/admin/payments/source_forms/gateway", payment_method: payment_method
.stripe
  %script{:src => "https://js.stripe.com/v3/", :type => "text/javascript"}
  - if Stripe.publishable_key
    :javascript
      angular.module('admin.payments').value("stripeObject", Stripe("#{Stripe.publishable_key}"))

  = admin_inject_json "admin.payments", "railsFlash", "flash"
  = admin_inject_json "admin.payments", "currentOrderNumber", @order.number
  = admin_inject_json_ams_array "admin.payments", "paymentMethods", @payment_methods, Api::PaymentMethodSerializer
  .row
    .three.columns
      = label_tag :cardholder_name, t(:cardholder_name)
    .six.columns
      = text_field_tag :cardholder_name, nil, {size: 40, "ng-model" => 'form_data.name'}
  %stripe-elements
