#edit-address-dialog
  %h2 {{ addressType === 'bill_address' ?  "#{t('admin.customers.index.edit_bill_address')}" : "#{t('admin.customers.index.edit_ship_address')}" }}
  %form{ name: 'edit_address_form', novalidate: true, ng: { submit: 'updateAddress()'}}
    .row
      = t('admin.customers.index.required_fileds')
      (
      %span.required *
      )
    .error{ ng: { repeat: "error in errors", bind: "error" } }

    %table.no-borders
      %tr
        %td{style: 'width: 30%'}
          = t('spree.firstname')
          %span.required *
        %td
          %input{ type: 'text', name: 'firstname', required: true, ng: { model: 'address.firstname'} }
      %tr
        %td
          = t('spree.lastname')
          %span.required *
        %td
          %input{ type: 'text', name: 'lastname', required: true, ng: { model: 'address.lastname'} }
      %tr
        %td
          = t('spree.street_address')
          %span.required *
        %td
          %input{ type: 'text', name: 'address1', required: true, ng: { model: 'address.address1'} }
      %tr
        %td
          = t('spree.street_address_1')
        %td
          %input{ type: 'text', name: 'address2', ng: { model: 'address.address2'} }
      %tr
        %td
          = t('spree.city')
          %span.required *
        %td
          %input{ type: 'text', name: 'city', required: true, ng: { model: 'address.city'} }
      %tr
        %td
          = t('spree.zipcode')
          %span.required *
        %td
          %input{ type: 'text', name: 'zipcode', required: true, ng: { model: 'address.zipcode'} }
      %tr
        %td
          = t('spree.country')
          %span.required *
        %td
          %select{ name: 'country', required: true, ng: { model: 'address.country_id' } }
            %option{value: ''}
              = t('admin.customers.index.select_country')
            %option{ ng: { repeat: 'country in availableCountries' }, value: '{{country.id}}' }
              {{country.name}}
      %tr
        %td
          = t('spree.state')
          %span.required *
        %td
          %select{ name: 'state', required: true, ng: { model: 'address.state_id' } }
            %option{value: ''}
              = t('admin.customers.index.select_state')
            %option{ ng: { repeat: 'state in states' }, value: '{{state.id}}' }
              {{state.name}}
      %tr
        %td
          = t('spree.phone')
          %span.required *
        %td
          %input{ type: 'text', name: 'phone', required: true, ng: { model: 'address.phone'} }

    .text-center
      %input.button.red.icon-plus{ type: 'submit', value: t('admin.customers.index.update_address')}


