%div.contact-container{bindonce: true}  
  - if @group.email.present? || @group.website.present? || @group.phone.present?
    %div.modal-centered
      %p.modal-header Contact
      - if @group.phone.present?
        %p
          Call
          %a{tel: @group.phone}
            = @group.phone
      - if @group.email.present?
        %p
          %a{mailto: true, href: @group.email.reverse, target: "_blank" }
            = @group.email
      - if @group.website.present?
        %p
          =link_to_ext @group.website

%div{bindonce: true}  
  - if @group.facebook.present? 
    %div.modal-centered
      %p.modal-header Follow
      .follow-icons{bindonce: true}
        %span
        - if @group.twitter.present?
          %a{href: "http://twitter.com/"+@group.twitter, target: "_blank"}
            %i.ofn-i_041-twitter
        %span
        - if @group.facebook.present?
          %a{href: @group.facebook, target: "_blank"}
            %i.ofn-i_044-facebook
        %span
        - if @group.linkedin.present?
          %a{href: @group.linkedin, target: "_blank"}
            %i.ofn-i_042-linkedin
        %span
        - if @group.instagram.present?
          %a{href: "http://instagram.com/"+@group.instagram, target: "_blank"}
            %i.ofn-i_043-instagram
        
        %span{"ng-if" => "enterprise.instagram"}
          %a{"ng-href" => "http://instagram.com/{{enterprise.instagram}}", target: "_blank"}  
            %i.ofn-i_043-instagram

%div{bindonce: true}  
  - if @group.address.address1.present? ||  @group.address.address2.present? || @group.address.city.present? || @group.address.city.present? || @group.address.state.present? ||  @group.address.zipcode.present?
    %div.modal-centered
      %p.modal-header Address
      %p
        - if @group.address.address1.present? && @group.address.address1 != 'undefined'
          = @group.address.address1
        - if @group.address.address2.present? && @group.address.address2 != 'undefined'
          %br
          = @group.address.address2
        %br
        - if @group.address.city.present? && @group.address.city != 'undefined' 
          = @group.address.city
        - if @group.address.state.present? &&  @group.address.state != 'undefined'
          = @group.address.state
        - if @group.address.zipcode? && @group.address.zipcode != 'undefined'
          = @group.address.zipcode


