%div.contact-container
  - if @group.email.present? || @group.website.present? || @group.phone.present?
    %div.modal-centered
      %p.modal-header
        = t :groups_contact_web
      - if @group.phone.present?
        %p
          %a{tel: @group.phone}
            = @group.phone
      - if @group.email.present?
        %p
          =link_to_service "", @group.email.reverse, mailto: true do
            = t :groups_contact_email
      - if @group.website.present?
        %p
          =link_to_service "http://", @group.website do
            = t :groups_contact_website

%div
  - if @group.facebook.present? || @group.twitter.present? || @group.linkedin.present? || @group.instagram.present?
    %div.modal-centered.pad-top
      %p.modal-header
        = t :groups_contact_web
      .follow-icons
        =link_to_service "http://twitter.com/", @group.twitter do
          %i.ofn-i_041-twitter
        =link_to_service "https://www.facebook.com/", @group.facebook do
          %i.ofn-i_044-facebook
        =link_to_service "https://www.linkedin.com/in/", @group.linkedin do
          %i.ofn-i_042-linkedin
        =link_to_service "http://instagram.com/", @group.instagram do
          %i.ofn-i_043-instagram

%div
  - if @group.address1.present? || @group.city.present?
    %div.modal-centered.pad-top
      %p.modal-header
        = t :groups_contact_web
      %p
        = @group.address1
        - if @group.address2.present?
          %br
          = @group.address2
        - if @group.city.present?
          %br
          = @group.city
          = @group.state
          = @group.zipcode
