- content_for(:title) do
  = t :groups_signup_title

#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :groups_signup_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :groups_signup_intro
        %br
        %a.button.transparent{href: "hello@openfoodnetwork.org?subject=I'd%20like%20to%20talk%20to%20you%20about%20groups%20on%20the%20Open%20Food%20Network".reverse, target: '_blank', mailto: true}
          = t :groups_signup_email

  .groups-details.pane
    .row
      .small-12.medium-8.medium-offset-2.columns
        %h3.text-center
          = t :groups_signup_motivation1
        %p.text-big
          = t :groups_signup_motivation2
        %p.text-big
          = t :groups_signup_motivation3
        %br
        %h3.text-center
          = t :groups_signup_motivation4
        %p.text-big
          = t :groups_signup_motivation5
        %p.text-big
          = t :groups_signup_motivation6
        %br
        %h3.text-center
          = t :groups_signup_motivation7
        %p.text-big
          = t :groups_signup_motivation8
        %p.text-big
          = t :groups_signup_motivation9
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2
          = t :groups_signup_pricing
        -# %p.text-big
        -#   / If there is a time-sensitive offer you can write it here, e.g.
        -#   Time-sensitive offer goes here!
        %br
        = ContentConfig.group_signup_pricing_table_html.html_safe

  #shops-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :groups_signup_studies
        %br
        = ContentConfig.group_signup_case_studies_html.html_safe

  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2
          = t :groups_signup_contact
        %p.text-big
          = t :groups_signup_contact_text
        %a.button.transparent{href: "hello@openfoodnetwork.org?subject=I'd%20like%20to%20talk%20to%20you%20about%20groups%20on%20the%20Open%20Food%20Network".reverse, target: '_blank', mailto: true}
          = t :groups_signup_email

  #hub-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center
          = t :groups_signup_detail
        = ContentConfig.group_signup_detail_html.html_safe

= render partial: "shared/footer"
