- content_for :page_title do
  = t(:cache_settings)

%table.index
  %thead
    %tr
      %th= t('.distributor')
      %th= t('.order_cycle')
      %th= t('.status')
      %th= t('.diff')
  %tbody
    - @results.each do |result|
      %tr
        %td= result[:distributor].name
        %td= result[:order_cycle].name
        %td= result[:status] ? 'OK' : 'Error'
        %td
          %pre= result[:diff].to_s(:text)
