%div(class = "columns alpha two")
  %div
    = t :products_quantity
  = number_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), 1, :class => 'title', :in => 1..product.on_hand
- if product.group_buy
  %div(class = "columns alpha three")
    %div
      = t :products_max_quantity
    = number_field_tag (product.has_variants? ? :max_quantity : "variant_attributes[#{product.master.id}][max_quantity]"), 1, :class => 'title max_quantity', :in => 1..product.on_hand
