.add-to-cart
  - order = current_order(false)

  - if product_out_of_stock
    = content_tag('strong', t(:out_of_stock))

  - elsif !distributor_available_for?(order, @product)
    = render 'add_to_cart_distributor_unavailable'

  - elsif !order_cycle_available_for?(order, @product)
    = render 'add_to_cart_order_cycle_unavailable'

  - else
    = render 'add_to_cart_quantity_fields', product: @product

    %br
    = button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do
      = t(:add_to_cart)
