.add-to-cart
  - order = current_order(false)

  - if product_out_of_stock
    = content_tag('strong', t(:out_of_stock))

  - elsif !distributor_available_for?(order, @product)
    = render 'add_to_cart_distributor_unavailable'

  - elsif !order_cycle_available_for?(order, @product)
    = render 'add_to_cart_order_cycle_unavailable'

  - else
    = render 'add_to_cart_quantity_fields', product: @product

    %div.cleared
      %br
      - available_distributors = available_distributors_for(order, @product)
      - available_order_cycles = available_order_cycles_for(order, @product)

      - if available_distributors.length > 1 || order.andand.distributor.nil?
        = render 'add_to_cart_distributor_choice', distributor_collection: available_distributors
      - else
        - distributor = available_distributors.first
        - changing_distributor = distributor != order.andand.distributor
        = render 'add_to_cart_distributor_fixed', distributor: distributor, changing_distributor: changing_distributor

      - if available_order_cycles.length > 1 || order.andand.order_cycle.nil?
        = render 'add_to_cart_order_cycle_choice', order_cycle_collection: available_order_cycles
      - else
        - order_cycle = available_order_cycles.first
        - changing_order_cycle = order_cycle != order.andand.order_cycle
        = render 'add_to_cart_order_cycle_fixed', order_cycle: order_cycle, changing_order_cycle: changing_order_cycle

    %br
    = button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do
      = t(:add_to_cart)
