.add-to-cart
  - if !@product.has_stock? && !Spree::Config[:allow_backorders]
    = content_tag('strong', t(:out_of_stock))

  - elsif current_order(false) && !current_order(false).can_add_product_to_cart?(@product)
    .error-distributor
      Please complete your order at
      = link_to current_distributor.name, root_path
      before shopping with another distributor.

  - else
    %p Quantity
    = number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => 'title', :in => 1..@product.on_hand
    - if @product.group_buy
      %p Max quantity
      = number_field_tag (@product.has_variants? ? :max_quantity : "variant_attributes[#{@product.master.id}][max_quantity]"), 1, :class => 'title max_quantity', :in => 1..@product.on_hand
    - order = current_order(false)
    - if order.nil? || order.can_change_distributor?
      %p Distributor
      = select_tag "distributor_id", options_from_collection_for_select([Enterprise.new]+@product.distributors, "id", "name", current_distributor.andand.id)
    - else
      = hidden_field_tag "distributor_id", order.distributor.id
      .distributor-fixed= "Your distributor for this order is #{order.distributor.name}"
    %br/
    = button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do
      = t(:add_to_cart)
