.add-to-cart
  - order = current_order(false)
  - if !@product.has_stock? && !Spree::Config[:allow_backorders]
    = content_tag('strong', t(:out_of_stock))

  - elsif !order.nil? && !DistributorChangeValidator.new(order).can_change_distributor? && !@product.distributors.include?(order.distributor)
    .error-distributor
      Please complete your order at
      = link_to current_distributor.name, root_path
      before shopping with another distributor.
  - else
    %div(class = "columns alpha two")
      %div Quantity
      = number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => 'title', :in => 1..@product.on_hand
    - if @product.group_buy
      %div(class = "columns alpha three")
        %div Max quantity
        = number_field_tag (@product.has_variants? ? :max_quantity : "variant_attributes[#{@product.master.id}][max_quantity]"), 1, :class => 'title max_quantity', :in => 1..@product.on_hand
    %div.cleared
      %br
      - if order.nil? || order.distributor.nil?
        %div Distributor for your order:
        = select_tag "distributor_id", options_from_collection_for_select([Enterprise.new]+@product.distributors, "id", "name", :include_blank => '')
      - else
        - available_distributors = DistributorChangeValidator.new(order).available_distributors(@product.distributors)
        - if available_distributors.length > 1
          %div Distributor for your order:
          = select_tag "distributor_id", options_from_collection_for_select(available_distributors, "id", "name", current_distributor.andand.id)
        - elsif !@product.distributors.include? order.distributor
          = hidden_field_tag "distributor_id", available_distributors.first.id
          .distributor-fixed= "Your distributor for this order will be changed to #{available_distributors.first.name} if you add this product to your cart."
        - else
          = hidden_field_tag "distributor_id", order.distributor.id
          .distributor-fixed= "Your distributor for this order is #{order.distributor.name}"
    %br
    = button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do
      = t(:add_to_cart)
