%nav#filters
  %h6.filter_name Shop by Distributor
  %ul.filter_choices
    - order = current_order(false)
    - validator = DistributorChangeValidator.new(order)
    - @distributors.each do |distributor|
      %li.nowrap
        - if order.nil? || validator.can_change_to_distributor?(distributor)
          = link_to distributor.name, [main_app, distributor]
        - elsif order.distributor == distributor
          = link_to distributor.name, [main_app, distributor]
        - else
          %abbr(title="One or more of the products in your cart is not available from this distributor")= distributor.name
    - if @distributor_total > @distributors.count
      - distributors_more = @distributors.count - @distributor_total
      = "#{distributors_more} more..."
  - if current_distributor && validator.can_change_distributor?
    = button_to 'Browse All Distributors', deselect_distributor_orders_path, :method => :get

  %h6.filter_name Shop by Supplier
  %ul.filter_choices
    - @suppliers.each do |supplier|
      %li.nowrap= link_to supplier.name, [main_app, supplier]
    - if @supplier_total > @suppliers.count
      - suppliers_more = @suppliers.count - @supplier_total
      = "#{suppliers_more} more..."
    = button_to 'Browse All Suppliers', main_app.suppliers_enterprises_path, :method => :get
