%nav#filters
  %div#distributor_filter
    %h6.filter_name Shop by Distributor
    %ul.filter_choices
      - order = current_order(false)
      - validator = DistributionChangeValidator.new(order)
      - @sidebar_distributors.each do |distributor|
        %li.nowrap
          - if order.nil? || order.distributor == distributor || validator.can_change_to_distributor?(distributor)
            = link_to distributor.name, [main_app, distributor]
          - else
            %abbr(title="One or more of the products in your cart is not available from this distributor")= distributor.name
      - if @total_distributors > @sidebar_distributors.length
        - distributors_more = @total_distributors - @sidebar_distributors.length
        %span.filter_more
          = "#{distributors_more} more..."
    = button_to 'Browse All Distributors', main_app.distributors_enterprises_path, :method => :get
    
  %div#supplier_filter
    %h6.filter_name Shop by Supplier
    %ul.filter_choices
      - @sidebar_suppliers.each do |supplier|
        %li.nowrap= link_to supplier.name, [main_app, supplier]
      - if @total_suppliers > @sidebar_suppliers.length
        - suppliers_more = @total_suppliers - @sidebar_suppliers.length 
        %span.filter_more
          = "#{suppliers_more} more..."
    = button_to 'Browse All Suppliers', main_app.suppliers_enterprises_path, :method => :get
