
- if require_customer?
  .row.footer-pad
    .small-12.columns
      .shopfront_hidden_message
        = t '.require_customer_login'
        - if spree_current_user.nil?
          = t '.require_login_html',
            {login: ('<a auth="login">' + t('.login') + '</a>').html_safe,
             register: ('<a auth="signup">' + t('.register') + '</a>').html_safe}
        - else
          = t '.require_customer_html',
            {contact: link_to(t('.contact'), '#contact'),
             enterprise: current_distributor.name}
- elsif @order_cycles and @order_cycles.empty?
  - if current_distributor.preferred_shopfront_closed_message.present?
    .row
      .small-12.columns
        .shopfront_closed_message
          = current_distributor.preferred_shopfront_closed_message.html_safe
- elsif current_distributor.preferred_shopfront_message.present?
  .row
    .small-12.columns
      &nbsp;
  .row
    .small-12.columns
      .alert-box.shopfront-message{ "ofn-inline-alert" => true, ng: { show: "visible" } }
        = current_distributor.preferred_shopfront_message.html_safe
        %a.close{ ng: { click: "close()" } } &times;
