= @distributor.name

= render partial: "shop/order_cycles"

%description
  = @distributor.long_description.andand.html_safe

%products{"ng-app" => "Shop", "ng-controller" => "ProductsCtrl"}
  {{ products | json }}

= render partial: "enterprises/contact_us"
= render partial: "enterprises/about_us"

