%shop{"ng-app" => "Shop"}
  %navigation
    %distributor.details.row
      -#%img{src: "/route/to/distributor/icon"}
      %h3
        = @distributor.name
      %location= @distributor.address.city
      = render partial: "shop/order_cycles"

      %description
        = @distributor.long_description.andand.html_safe
    
  %products.row
    = render partial: "shop/products"

  = render partial: "enterprises/contact_us"
  = render partial: "enterprises/about_us"


