= inject_enterprises 

%shop.darkswarm
  - content_for :order_cycle_form do

    %div{"ng-controller" => "OrderCycleChangeCtrl"}
      %closing{"ng-if" => "OrderCycle.selected()"}
        Next order closing
        %strong {{ OrderCycle.orders_close_at() | date_in_words }}

      %span Ready for

      / Will this label should be a variable to reflect 'Ready for pickup / delivery' as appropriate

      %select.avenir#order_cycle_id{"ng-model" => "order_cycle.order_cycle_id", 
              "ng-change" => "changeOrderCycle()",
              "ng-options" => "oc.id as oc.time for oc in #{@order_cycles.map {|oc| {time: pickup_time(oc), id: oc.id}}.to_json}",
              "popover-placement" => "bottom", "popover" => "When do you want to get your order?", "popover-trigger" => "openTrigger"}

       

  = render partial: "shopping_shared/details"

  .row
    = render partial: "shop/products/form"

= render partial: "shared/footer"
