%shop{"ng-app" => "Shop"}
  = @distributor.name

  = render partial: "shop/order_cycles"

  %description
    = @distributor.long_description.andand.html_safe

  %products{"ng-controller" => "ProductsCtrl"}
    %product{"ng-repeat" => "product in data.products "}
      {{ product.product.name }}
      {{ product.product.description }}

    %pre {{ data.products | json }}

  = render partial: "enterprises/contact_us"
  = render partial: "enterprises/about_us"


