.content#contact
  .panel
    .row
      .small-12.large-4.columns
        - if current_distributor.address.address1 || current_distributor.address.address2 || current_distributor.address.city || current_distributor.address.state || current_distributor.address.zipcode
          %div.center
            .header
              = t :shopping_contact_address
            %strong=current_distributor.name
            %p
              = current_distributor.address.address1
              - unless current_distributor.address.address2.blank?
                %br
                = current_distributor.address.address2
              %br
              = current_distributor.address.city
              = current_distributor.address.state
              = current_distributor.address.zipcode

      .small-12.large-4.columns
        - if current_distributor.website || current_distributor.email_address
          %div.center
            .header
              = t :shopping_contact_web
            %p
              - unless current_distributor.website.blank?
                %a{href: "http://#{current_distributor.website}", target: "_blank" }
                  = current_distributor.website
                  %br
              - unless current_distributor.email_address.blank?
                %a{href: current_distributor.email_address.reverse, mailto: true}
                  %span.email
                    = current_distributor.email_address.reverse

      .small-12.large-4.columns
        - if current_distributor.twitter.present? || current_distributor.facebook.present? || current_distributor.linkedin.present? || current_distributor.instagram.present?
          %div.center
            .header
              = t :shopping_contact_social
            %div.follow-icons
              - unless current_distributor.twitter.blank?
                %span
                  %a{href: "http://twitter.com/#{current_distributor.twitter}", target: "_blank" }
                    %i.ofn-i_041-twitter

              - unless current_distributor.facebook.blank?
                %span
                  %a{href: "http://#{current_distributor.facebook}", target: "_blank" }
                    %i.ofn-i_044-facebook
                    / = current_distributor.facebook

              - unless current_distributor.linkedin.blank?
                %span
                  %a{href: "http://#{current_distributor.linkedin}", target: "_blank" }
                    %i.ofn-i_042-linkedin
                    / = current_distributor.linkedin

              - unless current_distributor.instagram.blank?
                %span
                  %a{href: "http://instagram.com/#{current_distributor.instagram}", target: "_blank" }
                    %i.ofn-i_043-instagram
                    / = current_distributor.instagram
