- for producer in current_producers
  .reveal-modal{id: "producer_details_#{producer.id}", "data-reveal" => ""}
    .row
      - if producer.logo.exists?
        .large-1.columns
          %img.left{src: producer.logo.url(:thumb)}
      .large-11.columns
        %h2
          = producer.name
    .row
      .large-8.columns
        = producer.long_description.andand.html_safe

      - if producer.promo_image.exists?
        .large-4.columns
          %img.about.right{src: producer.promo_image.url(:large)}
    %a.close-reveal-modal &#215;


- for group in current_distributor.groups
  - for sibling in group.enterprises.except(current_distributor)
    .reveal-modal{id: "sibling_details_#{sibling.id}", "data-reveal" => ""}
      .row
        - if sibling.logo.exists?
          .large-1.columns
            %img.left{src: sibling.logo.url(:thumb)}
        .large-11.columns
          %h2
            = sibling.name
      .row
        .large-8.columns
          = sibling.long_description.andand.html_safe
        - if sibling.promo_image.exists?
          .large-4.columns
            %img.about.right{src: sibling.promo_image.url(:large)}
      %a.close-reveal-modal &#215;
