%ordercycle{"ng-controller" => "OrderCycleCtrl"}
  :javascript
    angular.module('Darkswarm').value('orderCycleData', #{render "json/order_cycle"})

  - if @order_cycles and @order_cycles.empty?
    %h4
      %i.ofn-i_032-closed-sign
      = t :shopping_oc_closed
    %p
      = t :shopping_oc_closed_description
    .text-right
      %small
        %em
          = render partial: "shopping_shared/next_order_cycle"
          = render partial: "shopping_shared/last_order_cycle"

  - else
    %form.custom
      = yield :order_cycle_form
