- if (@order&.distributor || current_distributor) == current_distributor

  #shop-tabs{"data-controller": "tabs-and-panels shop-tabs", "data-tabs-and-panels-class-name-value": "selected"}
    .tab-buttons
      .flex.row
        .columns.small-12.large-8
          - shop_tabs.each do |tab|
            - unless tab[:name] == "producers"  
              .page
                %a{ id: tab[:name], href: "##{tab[:name]}_panel", data: { action: "tabs-and-panels#changeActivePanel tabs-and-panels#changeActiveTab", "tabs-and-panels-target": "tab" }, class: ("selected" if tab[:default]) }=tab[:title]
        .columns.large-4.show-for-large-up
          = render partial: "shopping_shared/order_cycles"
    - shop_tabs.each do |tab|
      %div{id: "#{tab[:name]}_panel", "data-tabs-and-panels-target": "panel #{'default' if tab[:default]}" } 
        .page-view
          - if tab[:custom]
            = render "shopping_shared/tabs/custom"
          - else
            = render "shopping_shared/tabs/#{tab[:name]}"
