#tabs{"ng-controller" => "TabsCtrl"}
  .row
    %tabset.small-12.columns
      -# Build all tabs.
      - for name, heading in { about: "About #{current_distributor.name}", 
        producers: "Producers", 
        groups: "Groups", 
        contact: "Contact"} 
        -# tabs take tab path in 'active' and 'select' functions defined in TabsCtrl.
        %tab{heading: heading, 
        id: "tab_#{name}",
        active: "active(\'#{name}\')",
        select: "select(\'#{name}\')"}
          = render "shopping_shared/#{name}"
