- if (@order.andand.distributor || current_distributor) == current_distributor

  - shop_tabs.each do |tab|
    = render "shopping_shared/tabs/#{tab[:name]}"

  #shop-tabs{ ng: { controller: "PageSelectionCtrl", init: "selectDefault('#{shop_tabs.first[:name]}')", cloak: true } }
    .tab-buttons
      .row
        .columns.small-12.large-8
          - shop_tabs.each do |tab|
            .page{ "ng-class" => "{ selected: selected() == '#{tab[:name]}' }" }
              %a{ href: "##{tab[:name]}" }=tab[:title]

    - shop_tabs.each do |tab|
      .page-view{ ng: {include: "'shop/#{tab[:name]}.html'", if: "selected() == '#{tab[:name]}'" } }
