.alert-box.alert#ie-warning{"data-alert" => ""}
  .row.ie-msg
    .small-4.large-2.columns
      %i.ofn-i_012-warning
    .small-8.large-10.columns
      %h3
        = t :ie_warning_headline
      %p
        = t :ie_warning_text
  .row
    .small-4.columns.browserbtn
      %a.browserlogo{href: "https://www.google.com/intl/en_au/chrome/browser/", target: "_blank"} 
        %img{src: "assets/browser-logos/chrome.png"}
      %a{href: "https://www.google.com/intl/en_au/chrome/browser/", target: "_blank"}
        = t :ie_warning_chrome
    .small-4.columns.browserbtn
      %a.browserlogo{href: "http://www.mozilla.org/en-US/firefox/new/", target: "_blank"} 
        %img{src: "assets/browser-logos/firefox.png"}
      %a{href: "http://www.mozilla.org/en-US/firefox/new/", target: "_blank"}
        = t :ie_warning_firefox
    .small-4.columns.browserbtn  
      %a.browserlogo{href: "http://windows.microsoft.com/en-AU/internet-explorer/download-ie", target: "_blank"} 
        %img{src: "assets/browser-logos/internet-explorer.png"}
      %a{href: "http://windows.microsoft.com/en-AU/internet-explorer/download-ie", target: "_blank"}
        = t :ie_warning_ie
  .row.ie-msg
    .small-12.large-12.columns
      .text-center 
        %em
          = t :ie_warning_other
  %a#closeie.close{href: "#"} ×
