- if spree_current_user.nil?
  %li#login-link= link_to t(:label_login), "#login", id: "sidebarLoginButton", class: "sidebar-button"
  %li#login-name.hide
  %li.divider
  %li#sign-up-link= link_to t(:label_signup), "#signup", id: "sidebarSignUpButton", class: "sidebar-button"
  %li#sign-out-link.hide= link_to "Sign Out", "/logout"
- else
  %li#login-link.hide= link_to t(:label_login), "#sidebar", id: "sidebarLoginButton", class: "sidebar-button"
  %li#login-name= link_to "#{spree_current_user.email}", "#"
  %li.divider
  %li#sign-up-link.hide= link_to t(:label_signup), "#"
  %li#sign-out-link= link_to t(:label_logout), "/logout"
