%section#sidebar{ role: "complementary", "ng-controller" => "SidebarCtrl", 
"ng-class" => "{'active' : active()}"}

  - if spree_current_user.nil?
    %tabset
      = render partial: "shared/login_sidebar"
      = render partial: "shared/signup_sidebar"
      = render partial: "shared/forgot_sidebar"
  - else
    #account{"ng-controller" => "AccountSidebarCtrl"}
      .row
        .panel
          %p
            %strong= link_to "Manage my account", account_path 
          - if order = spree_current_user.orders.last
            %dl
              %dt Last distributor:
              %dd
                = link_to "#{order.distributor.name}".html_safe, shop_enterprise_path(order.distributor), {class: distributor_link_class(order.distributor)}
            
  = yield :sidebar
