%label{for: path}= name
%input.medium.input-text{name: path,
  "ng-model" => path,
  required: required,
  type: type,
  "ng-class" => "{error: !fieldValid('#{path}')}"}
%small.error.medium.input-text{"ng-show" => "!fieldValid('#{path}')"}
  = "{{ fieldErrors('#{path}') }}"
