.advanced{"ng-controller" => "AdminAdvancedOrderCyclesCtrl"}
  .row
    .alpha.omega.sixteen.columns
      %h3= t('.title')

  .row
    .filter_select
      %label.four.columns.alpha= t('admin.order_cycles.edit.copy_products_from')
      %select.select2.four.columns#oc_id{ 'ng-model' => 'order_cycle_to_copy.id', name: 'order_cycle_to_copy_id', ng: { options: 'order_cycle.id as order_cycle.name for (id, order_cycle) in order_cycles' } }
      .four.columns
      .four.columns.alpha.omega.text-center
        %input#copy_products{ type: 'button', value: 'Copy products', ng: { click: "copyProducts()" } }

  = form_for [main_app, :admin, @order_cycle] do |f|
    .row
      .four.columns.alpha
        = f.label "enterprise_preferred_product_selection_from_coordinator_inventory_only", t('admin.order_cycles.edit.choose_products_from')
        .with-tip{'data-powertip' => t('.choose_product_tip', inventory: @order_cycle.coordinator.name)}
          %a= t('admin.whats_this')
      .four.columns
        = f.radio_button :preferred_product_selection_from_coordinator_inventory_only, true
        = f.label :preferred_product_selection_from_coordinator_inventory_only, t('.preferred_product_selection_from_coordinator_inventory_only_here')
      .four.columns.omega
        = f.radio_button :preferred_product_selection_from_coordinator_inventory_only, false
        = f.label :preferred_product_selection_from_coordinator_inventory_only, t('.preferred_product_selection_from_coordinator_inventory_only_all')
      .four.columns.alpha.omega.text-center
        %input{ type: 'submit', value: t('.save_reload') }
        %br
        = t('or')
        %a{ href: "#", onClick: "toggleSettings()" }= t(:close)
