.row
  %h3= t('.title')

= form_for [main_app, :admin, @order_cycle] do |f|
  .row
    .three.columns.alpha
      = f.label "enterprise_preferred_product_selection_from_coordinator_inventory_only", t('admin.order_cycles.edit.choose_products_from')
      .with-tip{ 'data-powertip' => t('.choose_product_tip', inventory: @order_cycle.coordinator.name) }
        %a= t('admin.whats_this')
    .four.columns
      = f.radio_button :preferred_product_selection_from_coordinator_inventory_only, true
      = f.label :preferred_product_selection_from_coordinator_inventory_only, t('.preferred_product_selection_from_coordinator_inventory_only_here')
    .four.columns.omega
      = f.radio_button :preferred_product_selection_from_coordinator_inventory_only, false
      = f.label :preferred_product_selection_from_coordinator_inventory_only, t('.preferred_product_selection_from_coordinator_inventory_only_all')

  .row
    .alpha.three.columns
      = f.label :automatic_notifications, t('.automatic_notifications')
      .with-tip{ 'data-powertip' => t('.automatic_notifications_tip') }
        %a= t('admin.whats_this')
    .omega.eight.columns
      = f.check_box :automatic_notifications

  .row{ "data-controller": "remote-toggle", "data-remote-toggle-selector-value": "#advanced_settings" }
    .sixteen.columns.alpha.omega.text-center
      %input{ type: 'submit', value: t('.save_reload') }
      %a{ href: "#", "data-action": "click->remote-toggle#toggle" }= t(:close)
