= f.label :name
= f.text_field :name, 'ng-model' => 'order_cycle.name', 'required' => true
%br/

.date-field
  = f.label :orders_open_at, 'Orders open'
  = f.text_field :orders_open_at, 'datetimepicker' => 'order_cycle.orders_open_at', 'ng-model' => 'order_cycle.orders_open_at'
.date-field
  = f.label :orders_close_at, 'Orders close'
  = f.text_field :orders_close_at, 'datetimepicker' => 'order_cycle.orders_close_at', 'ng-model' => 'order_cycle.orders_close_at'
%br/


%h2 Incoming
%table.exchanges
  %thead
    %tr
      %th
      %th Supplier
      %th Products
  %tbody{'ng-repeat' => 'exchange in order_cycle.incoming_exchanges'}
    %tr.supplier
      = render 'exchange_form', :f => f, :type => 'supplier'
    %tr.products{'ng-show' => 'exchange.showProducts'}
      = render 'exchange_supplied_products_form'

= select_tag :new_supplier_id, options_from_collection_for_select(Enterprise.is_primary_producer, :id, :name), {'ng-model' => 'new_supplier_id'}
= f.submit 'Add supplier', 'ng-click' => 'addSupplier($event)'


%h2 Coordinator
= f.label :coordinator_id, 'Coordinator'
= f.collection_select :coordinator_id, coordinating_enterprises, :id, :name, {}, {'ng-model' => 'order_cycle.coordinator_id', 'ofw-on-change' => 'order_cycle.coordinator_fees = []', 'required' => true}
= render 'coordinator_fees', f: f


%h2 Outgoing
%table.exchanges
  %thead
    %tr
      %th
      %th Distributor
      %th Products
      %th Collection details
  %tbody{'ng-repeat' => 'exchange in order_cycle.outgoing_exchanges'}
    %tr.distributor
      = render 'exchange_form', :f => f, :type => 'distributor'
    %tr.products{'ng-show' => 'exchange.showProducts'}
      = render 'exchange_distributed_products_form'

= select_tag :new_distributor_id, options_from_collection_for_select(Enterprise.is_distributor, :id, :name), {'ng-model' => 'new_distributor_id'}
= f.submit 'Add distributor', 'ng-click' => 'addDistributor($event)'

.actions
  = f.submit @order_cycle.new_record? ? 'Create' : 'Update'
  or
  = link_to 'Cancel', main_app.admin_order_cycles_path


%h2 Debug information

%pre order_cycle = {{ order_cycle | json }}
%hr/
%pre enterprises = {{ enterprises | json }}
%hr/
%pre enterprise_fees = {{ enterprise_fees | json }}
%hr/
%pre supplied_products = {{ supplied_products | json }}
