= f.label :name
= f.text_field :name, 'ng-model' => 'order_cycle.name', 'required' => true
%br/

.date-field
  = f.label :orders_open_at, 'Orders open'
  = f.text_field :orders_open_at, 'datetimepicker' => 'order_cycle.orders_open_at', 'ng-model' => 'order_cycle.orders_open_at'
.date-field
  = f.label :orders_close_at, 'Orders close'
  = f.text_field :orders_close_at, 'datetimepicker' => 'order_cycle.orders_close_at', 'ng-model' => 'order_cycle.orders_close_at'
%br/


%h2 Incoming
%table.exchanges
  %thead
    %tr
      %th
      %th Supplier
      %th Products
  %tbody{'ng-repeat' => 'exchange in order_cycle.incoming_exchanges'}
    %tr.supplier
      %td.active= check_box_tag 'order_cycle_exchange_{{ $index }}_active', 1, 1, 'ng-model' => 'exchange.active', 'id' => 'order_cycle_exchange_{{ $index }}_active'
      %td.supplier_name {{ enterprises[exchange.enterprise_id].name }}
      %td.products= f.submit 'Products', 'ng-click' => 'toggleProducts($event, exchange)'
    %tr.products{'ng-show' => 'exchange.showProducts'}
      %td{:colspan => 3}
        .exchange-product{'ng-repeat' => 'product in enterprises[exchange.enterprise_id].supplied_products'}

          .exchange-product-details
            = check_box_tag 'order_cycle_exchange_{{ $parent.$index }}_variants_{{ product.master_id }}', 1, 1, 'ng-model' => 'exchange.variants[product.master_id]', 'id' => 'order_cycle_exchange_{{ $parent.$index }}_variants_{{ product.master_id }}'
            %img{'ng-src' => '{{ product.image_url }}'}
            {{ product.name }}
          .exchange-product-variant{'ng-repeat' => 'variant in product.variants'}
            = check_box_tag 'order_cycle_exchange_{{ $parent.$parent.$index }}_variants_{{ variant.id }}', 1, 1, 'ng-model' => 'exchange.variants[variant.id]', 'id' => 'order_cycle_exchange_{{ $parent.$parent.$index }}_variants_{{ variant.id }}'
            {{ variant.label }}

= select_tag :new_supplier_id, options_from_collection_for_select(Enterprise.is_primary_producer, :id, :name), {'ng-model' => 'new_supplier_id'}
= f.submit 'Add supplier', 'ng-click' => 'addSupplier($event)'


%h2 Coordinator
= f.label :coordinator_id, 'Coordinator'
= f.collection_select :coordinator_id, Enterprise.all, :id, :name, {}, {'ng-model' => 'order_cycle.coordinator_id', 'required' => true}

%h2 Outgoing
%p TODO

= f.submit @order_cycle.new_record? ? 'Create' : 'Update'
or
= link_to 'Cancel', main_app.admin_order_cycles_path


<h2>Debug information</h2>

%pre order_cycle = {{ order_cycle | json }}
%pre enterprises = {{ enterprises | json }}
