= render 'name_and_timing_form', f: f

-if Enterprise.managed_by(spree_current_user).include? @order_cycle.coordinator
  = render 'coordinator_fees', f: f

%h2 Incoming
%table.exchanges
  %thead
    %tr
      %th Supplier
      %th
        Products
        = surround '(', ')' do
          %a{href: '#', 'ng-click' => "OrderCycle.toggleAllProducts('incoming')"}
            %span{'ng-show' => "OrderCycle.showProducts['incoming']"} Collapse all
            %span{'ng-hide' => "OrderCycle.showProducts['incoming']"} Expand all
      %th Receival details
      %th Fees
      %th.actions
  %tbody{'ng-repeat' => 'exchange in order_cycle.incoming_exchanges'}
    %tr{'class' => "supplier supplier-{{ exchange.enterprise_id }}"}
      = render 'exchange_form', :f => f, :type => 'supplier'
    %tr.products{'ng-show' => 'exchange.showProducts'}
      = render 'exchange_supplied_products_form'

- if Enterprise.managed_by(spree_current_user).include? @order_cycle.coordinator
  = render 'add_exchange_form', f: f, type: 'supplier'

%h2 Outgoing
%table.exchanges
  %thead
    %tr
      %th Distributor
      %th
        Products
        = surround '(', ')' do
          %a{href: '#', 'ng-click' => "OrderCycle.toggleAllProducts('outgoing')"}
            %span{'ng-show' => "OrderCycle.showProducts['outgoing']"} Collapse all
            %span{'ng-hide' => "OrderCycle.showProducts['outgoing']"} Expand all
      %th Pickup / Delivery details
      %th Fees
      %th.actions
  %tbody{'ng-repeat' => 'exchange in order_cycle.outgoing_exchanges'}
    %tr{'class' => "distributor distributor-{{ exchange.enterprise_id }}"}
      = render 'exchange_form', :f => f, :type => 'distributor'
    %tr.products{'ng-show' => 'exchange.showProducts'}
      = render 'exchange_distributed_products_form'

- if Enterprise.managed_by(spree_current_user).include? @order_cycle.coordinator
  = render 'add_exchange_form', f: f, type: 'distributor'

.actions
  - if @order_cycle.new_record?
    = f.submit 'Create', 'ng-click' => "submit($event, '#{main_app.admin_order_cycles_path}')", 'ng-disabled' => '!loaded()'

  %span{'ng-hide' => 'loaded()'} Loading...


- unless Rails.env.production?
  #order-cycles-debug
    %h2 Debug information

    %pre loaded =  {{ loaded() | json }}
    %hr/
    %pre order_cycle = {{ order_cycle | json }}
    %hr/
    %pre enterprises = {{ enterprises | json }}
    %hr/
    %pre enterprise_fees = {{ enterprise_fees | json }}
    %hr/
    %pre supplied_products = {{ supplied_products | json }}
