.row
  .alpha.two.columns
    = f.label :name, t('.name')
  .six.columns.omega
    - if viewing_as_coordinator_of?(@order_cycle)
      = f.text_field :name, 'ng-model' => 'order_cycle.name', 'required' => true, 'ng-disabled' => '!loaded()'
    - else
      {{ order_cycle.name }}
  .two.columns
    = f.label :orders_open_at, t('.orders_open')
  .omega.six.columns
    - if viewing_as_coordinator_of?(@order_cycle)
      = f.text_field :orders_open_at, 'datetimepicker' => 'order_cycle.orders_open_at', 'ng-model' => 'order_cycle.orders_open_at', 'ng-disabled' => '!loaded()'
    - else
      {{ order_cycle.orders_open_at }}

.row
  .alpha.two.columns
    = f.label :coordinator, t('.coordinator')
  .six.columns.omega
    = @order_cycle.coordinator.name
  .two.columns
    = f.label :orders_close, t('.orders_close')
  .six.columns.omega
    - if viewing_as_coordinator_of?(@order_cycle)
      = f.text_field :orders_close_at, 'datetimepicker' => 'order_cycle.orders_close_at', 'ng-model' => 'order_cycle.orders_close_at', 'ng-disabled' => '!loaded()'
    - else
      {{ order_cycle.orders_close_at }}


- if standing_orders_enabled?
  .row
    .two.columns.alpha
      = f.label :schedule_ids, t('admin.order_cycles.schedules')
    .twelve.columns
      - if viewing_as_coordinator_of?(@order_cycle)
        %input.fullwidth.ofn-select2#schedule_ids{ name: 'order_cycle[schedule_ids]',
          data: 'schedules',
          multiple: 'true',
          filter: '{viewing_as_coordinator: true}',
          ng: { model: 'order_cycle.schedule_ids' } }
      - else
        %schedule-list{ 'order-cycle' => 'order_cycle' }
    .two.columns.omega
      &nbsp;
