.row
  .alpha.two.columns
    = f.label :name, t('.name')
    %span.required *
  .six.columns.omega.fullwidth_inputs
    - if viewing_as_coordinator_of?(@order_cycle)
      = f.text_field :name, 'ng-model' => 'order_cycle.name', 'required' => true, 'ng-disabled' => '!loaded()'
    - else
      {{ order_cycle.name }}
  .two.columns
    = f.label :orders_open_at, t('.orders_open')
  .omega.six.columns.fullwidth_inputs
    - if viewing_as_coordinator_of?(@order_cycle)
      = f.text_field :orders_open_at,  data: { controller: "flatpickr", "flatpickr-enable-time-value": true }, 'ng-model' => 'order_cycle.orders_open_at', 'ng-if' => 'loaded()', 'change-warning' => 'order_cycle', class: "datetimepicker"
    - else
      {{ order_cycle.orders_open_at }}

.row
  .alpha.two.columns
    = f.label :coordinator, t('.coordinator')
  .six.columns.omega.fullwidth_inputs
    = @order_cycle.coordinator.name
  .two.columns
    = f.label :orders_close, t('.orders_close')
  .six.columns.omega.fullwidth_inputs
    - if viewing_as_coordinator_of?(@order_cycle)
      = f.text_field :orders_close_at, data: { controller: "flatpickr", "flatpickr-enable-time-value": true }, 'ng-model' => 'order_cycle.orders_close_at', 'ng-if' => 'loaded()', 'change-warning' => 'order_cycle', class: "datetimepicker"
    - else
      {{ order_cycle.orders_close_at }}


- if subscriptions_enabled?
  .row
    .two.columns.alpha
      = f.label :schedule_ids, t('admin.order_cycles.index.schedules')
    .six.columns
      - if viewing_as_coordinator_of?(@order_cycle)
        %input.fullwidth.ofn-select2#schedule_ids{ name: 'order_cycle[schedule_ids]',
          data: 'schedules',
          multiple: 'true',
          placeholder: t('admin.please_select'),
          filter: '{viewing_as_coordinator: true}',
          ng: { model: 'order_cycle.schedule_ids' } }
      - else
        %schedule-list{ 'order-cycle' => 'order_cycle' }
