= render 'name_and_timing_form', f: f

.row
  .alpha.two.columns
    = label_tag t('.ready_for')
    %span.required *
    %span.icon-question-sign{'ofn-with-tip' => t('admin.order_cycles.exchange_form.pickup_time_tip')}
  .six.columns.fullwidth_inputs
    = text_field_tag 'order_cycle_outgoing_exchange_0_pickup_time', '', 'id' => 'order_cycle_outgoing_exchange_0_pickup_time', 'required' => 'required', 'placeholder' => t('.ready_for_placeholder'), 'ng-model' => 'outgoing_exchange.pickup_time', 'maxlength' => 35
  .two.columns
    = label_tag t('.customer_instructions')
    %span.icon-question-sign{'ofn-with-tip' => t('admin.order_cycles.exchange_form.pickup_instructions_tip')}
  .six.columns.omega.fullwidth_inputs
    = text_field_tag 'order_cycle_outgoing_exchange_0_pickup_instructions', '', 'id' => 'order_cycle_outgoing_exchange_0_pickup_instructions', 'placeholder' => t('.customer_instructions_placeholder'), 'ng-model' => 'outgoing_exchange.pickup_instructions', 'size' => 30

= label_tag t('.products')
%table.exchanges
  %tbody{ng: {repeat: "exchange in order_cycle.incoming_exchanges"}}
    %tr.products
      %td{ ng: { include: "'admin/panels/exchange_products_simple.html'" } }

%br
= label_tag t('.tags')
%tags-with-translation{ object: 'order_cycle.outgoing_exchanges[0]', form: 'order_cycle_form' }

%br/
= label_tag t('.fees')
= render 'coordinator_fees', f: f

.actions
  %span{'ng-hide' => 'loaded()'}= t(:loading)
