= content_for :page_title do
  Order Cycles

= content_for :page_actions do
  %li#new_order_cycle_link
    = button_link_to "New Order Cycle", main_app.new_admin_order_cycle_path, :icon => 'icon-plus', :id => 'admin_new_order_cycle_link'

= form_for @order_cycle_set, :url => main_app.bulk_update_admin_order_cycles_path do |f|
  %table.index#listing_order_cycles
    %colgroup
      %col
      %col{'style' => 'width: 20%;'}
      %col{'style' => 'width: 20%;'}
      - unless order_cycles_simple_view
        %col
        %col
        %col
      %col
      %col
      %col

    %thead
      %tr
        %th Name
        %th Open
        %th Close
        - unless order_cycles_simple_view
          %th Suppliers
          %th Coordinator
          %th Distributors
        %th Products
        %th.actions
        %th.actions

    %tbody
      = f.fields_for :collection do |order_cycle_form|
        = render 'admin/order_cycles/row', order_cycle_form: order_cycle_form

  = f.submit 'Update'
