Dear #{@producer.name},
\
= t :producer_mail_text_before
\
- if @receival_instructions
  Stock pickup/delivery instructions:
  = @receival_instructions

\
Orders summary
================
\
Here is a summary of the orders for your products:
\
- @line_items.each_pair do |variant, line_item|
  #{variant.sku} - #{raw(variant.product.supplier.name)} - #{raw(variant.product_and_full_name)} (QTY: #{line_item.quantity}) @ #{line_item.single_money} = #{line_item.display_amount}
\
\
Total: #{@total}
\
= t :producer_mail_text_after
#{@coordinator.name}
#{@coordinator.address.address1}, #{@coordinator.address.city}, #{@coordinator.address.zipcode}
#{@coordinator.phone}
#{@coordinator.email}
