#{t :producer_mail_greeting} #{@producer.name},
\
= t :producer_mail_text_before
\
- if @receival_instructions
  = t :producer_mail_delivery_instructions
  = @receival_instructions

\
Orders summary
================
\
= t :producer_mail_order_text
\
- @grouped_line_items.each_pair do |product_and_full_name, line_items|
  #{line_items.first.variant.sku} - #{raw(line_items.first.product.supplier.name)} - #{raw(product_and_full_name)} (QTY: #{line_items.sum(&:quantity)}) @ #{line_items.first.single_money} = #{Spree::Money.new(line_items.sum(&:total), currency: line_items.first.currency)}
\
\
Total: #{@total}
\
= t :producer_mail_text_after

#{t :producer_mail_signoff},
#{@coordinator.name}
#{@coordinator.address.address1}, #{@coordinator.address.city}, #{@coordinator.address.zipcode}
#{@coordinator.phone}
#{@coordinator.email}
