%p
  = t :producer_mail_greeting
  #{" " + @producer.name},
%p
  = t :producer_mail_text_before
  - if @receival_instructions
    %p
      %b
        =t :producer_mail_delivery_instructions
      = @receival_instructions
%p
  = t :producer_mail_order_text
  %table.order-summary
    %thead
      %tr
        %th
          = t :sku
        %th
          = t :supplier
        %th
          = t :product
        %th.text-right
          = t :quantity
        %th.text-right
          = t :price
        %th.text-right
          = t :subtotal
        %th.text-right
          = t :included_tax
    %tbody
      - @line_items.each_pair do |variant, line_item|
        %tr
          %td
            #{variant.sku}
          %td
            #{raw(variant.product.supplier.name)}
          %td
            #{raw(variant.product_and_full_name)}
          %td.text-right
            #{line_item.quantity}
          %td.text-right
            #{line_item.single_money}
          %td.text-right
            #{line_item.display_total}
          %td.text-right
            #{line_item.display_included_tax_amount}
      %tr.total-row
        %td
        %td
        %td
        %td
        %td
        %td.text-right
          #{@total}
        %td.text-right
          #{@tax_total}
%p
  = t :producer_mail_text_after
%p
  #{t(:producer_mail_signoff)},
  %em
    %p
      #{@coordinator.name}
    %p
      %br
        #{@coordinator.address.address1}
      %br
        #{@coordinator.address.city}
      %br
        #{@coordinator.address.zipcode}
    %p
      #{@coordinator.phone}
    %p
      #{@coordinator.email}
