#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h2
        = t :about_hero_text
      .row
        .small-12.medium-4.columns.text-left
          .home-image-box
            %img{src: "/default_images/ourvision.jpg", alt: "Image 1", class: "rounded-image"}
          .home-icon-box-bottom
            %h4
              = t :vision_title
            %p.text-normal
              != t :vision_description
        .small-12.medium-4.columns.text-left
          .home-image-box
            %img{src: "/default_images/whatwedo.jpg", alt: "Image 2", class: "rounded-image"}
          .home-icon-box-bottom
            %h4
              = t :whatwedo_title
            %p.text-normal
              != t :whatwedo_description
        .small-12.medium-4.columns.text-left
          .home-image-box
            %img{src: "/default_images/ourpromise.jpg", alt: "Image 3", class: "rounded-image"}
          .home-icon-box-bottom
            %h4
              = t :ourpromise_title
            %p.text-normal
              != t :ourpromise_description
