= inject_enterprises

#hubs.hubs{"ng-controller" => "EnterprisesCtrl", "ng-cloak" => true}
  .row
    .small-12.columns
      %h1{"scroll-after-load" => (spree_current_user ? true : nil)} Shop in your local area

  = render "shared/components/enterprise_search"
  = render "home/filters"

  .row{bindonce: true}
    .small-12.columns
      %h2 Did you mean?
      = render "home/hubs_table", filters: "visible | enterpriseMatchesNameQuery:true | taxons:activeTaxons | shipping:shippingTypes | showHubProfiles:show_profiles", order_by: "['-active', '+distance', '+orders_close_at']"

      %h2 Closest to {{ query }}...
      = render "home/hubs_table", filters: "visible | enterpriseMatchesNameQuery:false | taxons:activeTaxons | shipping:shippingTypes | showHubProfiles:show_profiles", order_by: "['-active', '+distance', '+orders_close_at']"
