= inject_enterprises 
#hubs.hubs{"ng-controller" => "EnterprisesCtrl"}
  .row
    .small-12.columns
      %h1 Shop in your local area

  = render partial: "shared/components/enterprise_search"
  = render partial: "home/filters"

  .row{bindonce: true}
    .small-12.columns
      .active_table
        %hub.active_table_node.row.animate-repeat{"ng-repeat" => "hub in filteredEnterprises = (Enterprises.hubs | visible | searchEnterprises:query  | taxons:activeTaxons | shipping:shippingTypes | showHubProfiles:show_profiles | orderBy:['-active', '+orders_close_at'])",
        "ng-class" => "{'is_profile' : hub.category == 'hub_profile', 'closed' : !open(), 'open' : open(), 'inactive' : !hub.active, 'current' : current()}",
        "scroll-after-load" => true,
        "ng-controller" => "HubNodeCtrl",
        id: "{{hub.hash}}"}
          .small-12.columns
            = render partial: 'home/skinny'
            = render partial: 'home/fat'

        = render partial: 'shared/components/enterprise_no_results'
