.row
  .large-12.large-centered.columns
    %h2
      = t :label_signup
= form_for Spree::User.new, :as => :spree_user, :url => spree.spree_user_registration_path(@spree_user) do |f|
  %p
    = f.label :email, t(:email)
    = f.email_field :email, :class => 'title', :id => "signup_spree_user_email"

  #password-credentials
    %p
      = f.label :password, t(:password)
      = f.password_field :password, :class => 'title', :id => "signup_spree_user_password"
    %p
      = f.label :password_confirmation, t(:confirm_password)
      = f.password_field :password_confirmation, :class => 'title', :id => "signup_spree_user_password_confirmation"

  = f.submit t(:create), :class => 'button'
