#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h2
        = t :system_headline
      .row
        .small-12.medium-4.columns.text-left
          .home-icon-box
            .icon.search
          .home-icon-box-bottom
            %h4
              = t :system_step1_html
            %p.text-normal
              = t :system_step1_text_html
        .small-12.medium-4.columns.text-left
          .home-icon-box
            .icon.shop
          .home-icon-box-bottom
            %h4
              = t :system_step2_html
            %p.text-normal
              = t :system_step2_text_html
        .small-12.medium-4.columns.text-left
          .home-icon-box
            .icon.pick-up-delivery
          .home-icon-box-bottom
            %h4
              = t :system_step3_html
            %p.text-normal
              = t :system_step3_text_html
