#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h2
        = t :system_headline
      .row
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.search{href: "/shops"}
          .home-icon-box-bottom
            %a{href: "/shops"}
              %h4
                = t :system_step1
            %p.text-normal
              != t :system_step1_text
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.shop{href: "/shops"}
          .home-icon-box-bottom
            %a{href: "/shops"}
              %h4
                = t :system_step2
            %p.text-normal
              != t :system_step2_text
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.pick-up-delivery{href: "/shops"}
          .home-icon-box-bottom
            %a{href: "/shops"}
              %h4
                = t :system_step3
            %p.text-normal
              != t :system_step3_text
