:css
  #tagline:before { background-image: url("/default_images/about_us.jpg") }


- content_for :page_alert do
  = render "shared/menu/alert"

%div#about-us{"ng-controller" => "HomeCtrl"}
  = render "home/abouthero"

  #panes
    = render "home/aboutvision"
    = render "home/aboutthird"
    = render "home/abouthistory"

  = render "shared/footer"
