- content_for(:title) do
  = t :contact_us_title

#panes
  #sell.pane.contact-us
    .row.header
      .small-12.medium-12.columns.text-center
        %h1
          = t :contact_us_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          != t :contact_us_description

#sell-detail.pane.contact-us-form
  .row.form-row
    .small-12.medium-12.columns.text-center
      .medium-8.medium-offset-2.columns
        %form#contact-form{action: "/contact", method: "post", class: "text-center"}
          .form-group.text-left
            %label{for: "name"} 
              = t :your_name
            %input.form-control{type: "text", name: "name", required: "required"}

          .form-group.text-left
            %label{for: "subject"}
              = t :subject
            %input.form-control{type: "text", name: "subject", required: "required"}

          .form-group.text-left
            %label{for: "email"}
              = t :email_address_contact
            %input.form-control{type: "email", name: "email", required: "required"}

          .form-group.text-left
            %label{for: "message"}
              = t :contact_message
            %textarea.form-control{name: "message", rows: "5", required: "required"}

          .text-center
            %button.btn.btn-primary{type: "submit"}
              = t :send_message_contact

= render "shared/footer"


