#tagline
  .row
    .small-12.text-center.columns
      %h1= image_tag "ofn_logo_beta.png", title: "Open Food Network (beta)"
      %h2 An open marketplace that makes it easy to find, buy, sell and move sustainable local food.
      
      %ofn-modal{title: "Learn more"}
        = render partial: "modals/learn_more"

= render partial: "home/hubs"

/ = render partial: "home/map"

/ = render partial: "home/producers"

/ = render partial: "home/groups"

= render partial: "home/beta"

= render partial: "shared/footer"
