:css
  #tagline:before { background-image: url("#{ContentConfig.home_hero.url}") }


%div{"ng-controller" => "HomeCtrl"}
  = render partial: "shared/menu/alert"

  #tagline
    .row
      .small-12.text-center.columns
        %h1
          / TODO: Rohan - logo asset & width is content manageable:
          %img{src: "/assets/logo-white-notext.png", width: "250", title: Spree::Config.site_name}
          %br/
          %a.button.transparent{href: "/shops"}
            = t :home_shop


  #panes
    = render partial: "home/brandstory"
    = render partial: "home/system"
    = render partial: "home/cta"
    = render partial: "home/stats"

  = render partial: "shared/footer"
