#tagline
  .row
    .small-12.text-center.columns
      %h1
        %img{src: "/assets/logo-color.png", srcset: "/assets/logo-color.svg", width: "400", height: "139", title: "Open Food Network Australia"}

.ng-cloak

#panes
  = render partial: "home/brandstory"
  = render partial: "home/cta1"
  = render partial: "home/system"
  = render partial: "home/cta2"
  = render partial: "home/stats"

= render partial: "shared/footer"
