#tagline
  .row
    .small-12.text-center.columns
      %h1
        %img{src: "/assets/logo-color.png", srcset: "/assets/logo-color.svg", width: "300", height: "104", title: "Open Food Network Australia"}
      %h2 Food, unincorporated.
      / %h2 An open marketplace that makes it easy to find, buy, sell and move sustainable local food.
      
      / %ofn-modal{title: "Learn more", "ng-cloak" => true}
      /   = render partial: "modals/learn_more"

.ng-cloak

#panes
  = render partial: "home/brandstory"
  = render partial: "home/cta1"
  = render partial: "home/system"
  = render partial: "home/cta2"
  = render partial: "home/stats"

= render partial: "shared/footer"
