:css
  #tagline:before { background-image: url("#{ContentConfig.url_for(:home_hero)}") }


- content_for :page_alert do
  = render "shared/menu/alert"

%div#home_page{"ng-controller" => "HomeCtrl"}
  = render "home/tagline"

  #panes
    = render "home/brandstory"
    = render "home/system"
    = render "home/cta"
    = render "home/stats"

  = render "shared/footer"
