%div{"ng-controller" => "HomeCtrl"}
  -#= render partial: "shared/menu/alert"

  #tagline
    .row
      .small-12.text-center.columns
        %h1
          / TODO: Rohan - logo asset & width is content manageable:
          -# TODO: SVGify
          %img{src: "/assets/logo-white-notext.png", title: "Open Food Network Australia"}
          %br/
          %a.button.primary{href: "/shops"}
            Shop now


  #panes
    -# = render partial: "home/cta1"
    = render partial: "home/brandstory"
    = render partial: "home/system"
    = render partial: "home/cta2"
    = render partial: "home/stats"

  = render partial: "shared/footer"
