%span#image-url-container.hide{ "data-url" => "#{LandingPageImage.random.photo.url(:max_common_res)}" }

.row
  .large-10.large-centered.columns
    #postcode_select_box
      .row
        .large-12.columns
          #logo-container= image_tag "ofn_logo.png"
      .row
        = form_tag search_enterprises_path do
          .large-10.columns
            = text_field_tag :suburb_search, "",
              data: { autocomplete_source: suburbs_path }, class: "right", placeholder: "Enter your suburb or postcode..."
            = hidden_field_tag :suburb_id
          .large-2.columns
            = submit_tag "Search", class: "button-huge"
      .row
        .large-12.large-centered.columns
          = link_to about_us_path do
            %strong
              %i What is open food network?
      .row.show-for-small
        .large-12.large-centered.columns#home-page-nav
          %ul
            %li= link_to "DISTRIBUTORS", "#"
            %li= link_to "FARMERS", "#"
