- content_for(:title) do
  = t :sell_title

#panes
  #sell.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :sell_headline
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big
          = t :sell_motivation

  #sell-detail.pane
    .row
      .small-12.medium-4.columns.text-center
        %h3= t :sell_producers
        %p
          = t :sell_producers_detail
          %a{href: ContentConfig.user_guide_link}= t(:sell_user_guide)
        %a.button.transparent{href: signup_producers_path}
          = t :register_title

      .small-12.medium-4.columns.text-center
        %h3= t :sell_hubs
        %p
          = t :sell_hubs_detail
          %a{href: ContentConfig.user_guide_link}= t(:sell_user_guide)
        %a.button.transparent{href: signup_shops_path}
          = t :register_title

      .small-12.medium-4.columns.text-center
        %h3= t :sell_groups
        %p
          = t :sell_groups_detail
          %a{href: ContentConfig.user_guide_link}= t(:sell_user_guide)
        %a.button.transparent{href: signup_groups_path}
          = t :register_title

    .row
      .small-12.medium-12.columns.text-center
        %p= t :sell_listing_price

        %p
          = t :sell_embed
          = link_to t(:sell_ask_services), ContentConfig.footer_email.reverse, mailto: true

= render "shared/footer"
