!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/

    %title Welcome to Open Food Network
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "search/all"
    = javascript_include_tag "search/all"
    = javascript_include_tag "store/shop_front"
    = render "layouts/bugherd_script"

    = csrf_meta_tags
  %body
    - unless spree_current_user
      %nav.top-bar
        %ul.title-area
          %li.name
        %section.top-bar-section
          %ul.right
            %li= link_to 'Log in', spree.login_path
            %li= link_to 'Sign up', spree.signup_path

    .row.landing-page-row.with-bottom-border
      .large-12.columns.centered
        = image_tag "ofn_logo_black.png"
    .row.landing-page-row.with-bottom-border.with-pin-bg
      .large-12.columns.centered
        %h3 WHERE WOULD YOU LIKE TO SHOP?
        %p.secondary Select your hub from the list below
    - @groups.in_groups_of(4, false) do |row|
      .row.landing-page-row{:class => (row.last == @groups.last ? "with-bottom-border" : "")}
        - row.each do |group|
          .large-3.columns
            .group-header
              %h5= group.name.upcase
            - group.enterprises.is_distributor.by_name.each do |distributor|
              .row.distributor-link-row
                .large-12.columns
                  = succeed ',' do
                    = link_to "<strong>#{distributor.name}</strong>".html_safe, shop_enterprise_path(distributor), {class: temp_landing_page_distributor_link_class(distributor)}

                  %span.secondary= distributor.city
    %footer
      .row.landing-page-row
        .large-6.columns.text-left
          %strong= link_to "WHAT IS OPEN FOOD NETWORK?", "#"
        .large-6.columns.text-right.secondary All rights reserved. &copy; 2013 Open Food Foundation
