!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/

    %title Welcome to Open Food Network
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "search/all"
    = javascript_include_tag "search/all"
    = javascript_include_tag "store/shop_front"
    = render "layouts/bugherd_script"

    = csrf_meta_tags
  %body.off-canvas
    %nav.top-bar
      %section.top-bar-section
        %ul.left
          %li= link_to image_tag("ofn_logo_small.png"), new_landing_page_path
          %li.divider
          - if spree_current_user.nil?
            %li#login-link= link_to "Login", "#sidebar", id: "sidebarLoginButton", class: "sidebar-button"
            %li#login-name.hide
            %li.divider
            %li#sign-up-link= link_to "Sign Up", "#sidebar", id: "sidebarSignUpButton", class: "sidebar-button"
            %li#sign-out-link.hide= link_to "Sign Out", "/logout"
          - else
            %li#login-link.hide= link_to "Login", "#sidebar", id: "sidebarLoginButton", class: "sidebar-button"
            %li#login-name= link_to "#{spree_current_user.email}", "#"
            %li.divider
            %li#sign-up-link.hide= link_to "Sign Up", "#"
            %li#sign-out-link= link_to "Sign Out", "/logout"

    %section{ role: "main" }
      .row.landing-page-row.with-bottom-border
        .large-12.columns.centered
          = image_tag "ofn_logo_black.png"
      .row.landing-page-row.with-bottom-border.with-pin-bg
        .large-12.columns.centered
          %h3 WHERE WOULD YOU LIKE TO SHOP?
          %p.secondary Select your hub from the list below

      - @groups.in_groups_of(4, false) do |row|
        .row.landing-page-row.hub_group{:class => (row.last == @groups.last ? "with-bottom-border" : "")}
          - row.each do |group|
            .large-3.columns
              .group-header
                %h5= group.name.upcase
              - group.enterprises.is_distributor.by_name.each do |distributor|
                .row.distributor-link-row
                  .large-12.columns
                    = render partial: "shared/distributor", object: distributor

      = render partial: "shared/footer"



    %section#sidebar{ role: "complementary" }
      .login-panel
        #login-content.hide
          = render "home/login"
        #sign-up-content.hide
          = render "home/signup"
