%span.cart-span{"ng-controller" => "CartCtrl", "ng-class" => "{ dirty: Cart.dirty || Cart.empty(), 'pure-dirty': Cart.dirty }"}
  %a#cart.icon{cart: true}
    %span.nav-branded
      %i.ofn-i_027-shopping-cart
      %span
        {{ Cart.total_item_count() }}
        = t 'items'

  .joyride-tip-guide{"ng-class" => "{ in: open }", "ng-show" => "open"}
    %span.joyride-nub.top
    .joyride-content-wrapper
      %h5
        = t 'cart_headline'
      .buttons.text-right
        %a.button.secondary.tiny.add_to_cart{ href: cart_path, type: :submit, "ng-disabled" => "Cart.dirty || Cart.empty()", "ng-class" => "{ dirty: Cart.dirty }" }
          = "{{ Cart.dirty ? '#{t(:cart_updating)}' : (Cart.empty() ? '#{t(:cart_empty)}' : '#{t(:cart_edit)}' ) }}"
        %a.button.primary.tiny{href: checkout_path, "ng-disabled" => "Cart.dirty || Cart.empty()"}
          = t 'checkout'
      %table
        %tr.product-cart{"ng-repeat" => "line_item in Cart.line_items", "id" => "cart-variant-{{ line_item.variant.id }}"}
          %td
            %small
              %strong
                {{ line_item.variant.extended_name }}
          %td.text-right
            %small
              %span.quantity {{ line_item.quantity }}
              %i.ofn-i_009-close
              %span.price {{ line_item.variant.price_with_fees | localizeCurrency }}

          %td
            %small
              \=
              %strong
                .total-price.right {{ line_item.total_price | localizeCurrency }}

      %table{"ng-show" => "Cart.line_items.length > 0"}
        %tr.total-cart
          %td
            %em
              = t 'total'
              \:
          %td.text-right
            %strong {{ Cart.total()  | localizeCurrency }}

      .buttons.text-right
        %a.button.secondary.tiny.add_to_cart{ href: cart_path, type: :submit, "ng-disabled" => "Cart.dirty || Cart.empty()", "ng-class" => "{ dirty: Cart.dirty }" }
          = "{{ Cart.dirty ? '#{t(:cart_updating)}' : (Cart.empty() ? '#{t(:cart_empty)}' : '#{t(:cart_edit)}' ) }}"
        %a.button.primary.tiny{href: checkout_path, "ng-disabled" => "Cart.dirty || Cart.empty()"}
          = t 'checkout'
