%nav.top-bar.show-for-large-up{'data-topbar' => true}
  %section.top-bar-section
    %ul.left
      %li.ofn-logo
        %a{href: root_path}
          %img{src: ContentConfig.logo.url}
      %li.powered-by
        %img{src: '/favicon.ico'}
        %span
          = t 'powered_by'
          %a{href: '/'}
            = t 'title'
    %ul.center
      - [*1..7].each do |menu_number|
        - menu_item = MenuItem.new(menu_number)
        - if ContentConfig[menu_item.name].present?
          %li
            %a{href: menu_item.url }
              %span.nav-primary
                = menu_item.title
    %ul.right
      - if OpenFoodNetwork::I18nConfig.selectable_locales.count > 1
        %li.language-switcher.has-dropdown
          %a{href: '#'}
            %i.ofn-i_071-globe
          %ul.dropdown
            - OpenFoodNetwork::I18nConfig.selectable_locales.each do |l|
              %li
                %a{href: "?locale=#{l.to_s}" }= t('language_name', locale: l)
      - if spree_current_user.nil?
        = render 'shared/signed_out'
      - else
        = render 'shared/signed_in'
      %li.current_hub{"ng-controller" => "CurrentHubCtrl", "ng-show" => "CurrentHub.hub.id", "ng-cloak" => true}
        %a{href: main_app.shop_path}
          %em
            = t 'label_shopping'
            &#64;
          %span.nav-primary.nav-branded {{ CurrentHub.hub.name | truncate:25 }}
      %li.cart{"ng-cloak" => true}
        = render partial: "shared/menu/cart"
