%div{'ng-controller' => 'CartDropdownCtrl'}
  = render "shared/menu/large_menu"

  %ofn-flash
  = render partial: "shared/flashes"

  = render "shared/menu/mobile_menu"
  = render "shared/menu/offcanvas_menu"
  = render "shared/menu/cart_sidebar"
