- if discourse_configured?
  %li
    %a{href: main_app.discourse_login_path, target: '_blank'}
      %span.nav-primary
        = t 'label_notices'

%li.user-menu.has-dropdown.not-click

  %a{href: "#", class: "top-bar--menu-item-with-icon"}
    %img{ src: image_pack_path("menu/icn-profile.svg") }
    %span
      = t '.profile'

  %ul.dropdown

    - if admin_user? or enterprise_user?
      %li
        %a{href: spree.admin_dashboard_path, target:'_blank'}
          %i.ofn-i_021-tools
          = t 'label_administration'

    %li
      %a{href: spree.account_path}
        %i.ofn-i_015-user
        = t 'label_account'
        = "(" + spree_current_user.email + ")"

    %li
      %a{title: t('label_logout'), href:'/logout' }
        %i.ofn-i_018-unlocked
        = t 'label_logout'
