%div
  = f.hidden_field :viewable_id, value: @product.id

  .four.columns.alpha
    .field
      = f.label t('spree.filename')
      %br/
      = f.file_field :attachment
  .field.omega.five.columns
    = f.label t('spree.alt_text')
    %br/
    = f.text_area :alt, rows: 4, class: 'fullwidth'

.clear
