- viewable = @variant || @product

= turbo_stream.update "edit_image_modal" do
  = render ModalComponent.new id: "#modal_edit_image", instant: true, close_button: false, modal_class: :fit do
    %h2= t(".title", resource_name: image_modal_resource_name(@variant, @product))
    %p{ style: "margin-bottom: 1em;" }
      = t(".subtitle")
    - error_target = @error_target || @image

    -# Display image in the same way it appears in the shopfront popup
    - if error_target&.errors&.any?
      - error_target.errors.full_messages.each do |error|
        %p
          = error
    - else
      %p{ style: "text-align: center;" }= image_tag @image.persisted? ? @image.url(:large) : Spree::Image.default_image_url(:large), width: 433, height: 433


    -# Submit as turbo stream to avoid full page reload.
    -# TODO: show loading indicator.
    = form_for [:admin, @product, @image],
        html: { multipart: true }, data: { controller: "form" } do |f|
      %input{ type: :hidden, name: :return_url, value: request.referer }
      = hidden_field_tag :variant_id, @variant.id if @variant
      = f.hidden_field :viewable_id, value: viewable.id

      .modal-actions.justify-end
        %input{ class: "secondary relaxed", type: 'button', value: t('.close'), "data-action": "click->modal#close" }
        -# label.button provides a handy shortcut to open the file selector on click. Unfortunately this trick isn't keyboard accessible though..
        = f.label :attachment, t(".upload"), class: "button primary relaxed icon-upload-alt"
        = f.file_field :attachment, accept: "image/*", style: "display: none", "data-action": "change->form#submit change->modal#close"
