= render partial: 'spree/shared/error_messages', locals: { target: @image }

= form_for [:admin, @product, @image], url: admin_product_images_path(@product, @image, @url_filters), html: { multipart: true } do |f|
  %fieldset
    %legend{ align: "center" }= t('spree.new_image')
    = render partial: 'form', locals: { f: f }
    .form-buttons.filter-actions.actions
      = button t('actions.create'), 'icon-ok'
      = link_to_with_icon 'icon-remove', t('spree.actions.cancel'), admin_product_images_url(@product, @url_filters), id: 'cancel_link', class: 'button'
