- if @shipment.order.distributor.logo.variable?
  - @enterprise_for_logo = @shipment.order.distributor

- greeting_key = "mailers_shared.customer_greeting"

- if @delivery
  - intro_key = ".shipped_intro_html"
- else
  - intro_key = ".picked_up_intro_html"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key, name: @shipment.order.bill_address.firstname),
                   intro: t(intro_key, distributor: @shipment.order.distributor.name),
                   enterprise_for_logo: @enterprise_for_logo }

%h3
  = t('.shipment_summary', number: @order.number)

= render 'shared/mailers/order_summary'

- if @shipment.tracking.present?
  %p.callout
    = t('.track_information', tracking: @shipment.tracking)

- if @shipment.tracking_url
  %p.callout
    = t('.track_link', url: @shipment.tracking_url)

%p
  = t('.thanks')

= render 'shared/mailers/signoff_distributor'
