%h3
  = t('.dear_customer')

- if @delivery
  %p.lead
    = t('.instructions', distributor: @shipment.order.distributor.name)
- else
  %p.lead
    = t('.picked_up_instructions', distributor: @shipment.order.distributor.name)

%p
  %strong
    = t('.shipment_summary')

%p{ style: "font-family: monospace, serif;" }
  - @shipment.manifest.each do |item|
    = item.variant.sku
    = item.variant.product.name
    = item.variant.options_text
    %br

- if @shipment.tracking.present?
  %p.lead
    = t('.track_information', tracking: @shipment.tracking)

- if @shipment.tracking_url
  %p.lead
    = t('.track_link', url: @shipment.tracking_url)

%p.lead
  = t('.thanks')
