= render partial: 'spree/admin/shared/order_page_title'
= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Invoices' }

- content_for :page_title do
  %i.icon-arrow-right
  = t(:invoices)

- content_for :page_actions do
  - if show_generate_invoice_button?(@order)
    %li= button_link_to t(:create_or_update_invoice), generate_admin_order_invoices_path(@order), :icon => 'icon-plus', data: { method: 'post' }
  = render partial: 'spree/admin/shared/order_links'
  %li= button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left'

= render :partial => 'invoices_table'
