%div{ id: "tr_#{index}" } 
  %table
    %colgroup
      %col.text{ width: "35%" }
      %col.inputs{ width: "55%" }
      %col.actions{ width: "10%" }
    %tr
      %td
        = hidden_field_tag element_name("id"), rule.id
        = hidden_field_tag element_name("type"), rule.type
        = hidden_field_tag element_name("priority"), index
        = hidden_field_tag element_name("is_default"), rule.is_default
        = hidden_field_tag element_name("preferred_customer_tags")
        %span.text-normal
          = rule_data[:text_top]
      %td
        = render TagListInputComponent.new(name: element_name("preferred_#{rule_data[:taggable]}_tags"), tags: rule.tags.split(","))
      %td.actions{ rowspan: 2 , "data-controller": "delete-tag-rule", "data-delete-tag-rule-index-value": index }
        - if rule.new_record?
          = link_to("", "#", { "data-action": "click->delete-tag-rule#delete" ,class: "delete-tag-rule icon-trash no-text"})
        - else
          = link_to("", "#{admin_enterprise_tag_rule_url(rule.enterprise_id, rule.id)}?index=#{index}", { "data-turbo-method": "delete", "data-turbo-confirm": t("admin.tag_rules.confirm_delete"), class: "delete-tag-rule icon-trash no-text" })
    %tr
      %td
        %span.text-normal 
          = rule_data[:text_bottom]
      %td
        %div
          = render partial: rule_data[:input_template], locals: { rule: rule, index: index }

