%h5= t('admin.product_import.import.options_and_defaults')
%br

- @importer.enterprises_index.each do |name, attrs|
  - if name and attrs[:id] and @importer.permission_by_id?(attrs[:id])
    %div.panel-section.import-settings
      %div.panel-header{ng: {click: 'togglePanel()', class: '{active: active}'}}
        %div.header-icon.success
          %i.fa.fa-check-circle
        %div.header-description
          = name
  - elsif name and attrs[:id]
    %div.panel-section.import-settings
      %div.panel-header
        %div.header-icon.error
          %i.fa.fa-warning
        %div.header-description
          = name
          %span.header-error= " - #{t('admin.product_import.import.no_permission')}"
  - elsif name
    %div.panel-section.import-settings
      %div.panel-header
        %div.header-icon.error
          %i.fa.fa-warning
        %div.header-description
          = name
          %span.header-error= " - #{t('admin.product_import.import.not_found')}"
  - else
    %div.panel-section.import-settings
      %div.panel-header
        %div.header-icon.error
          %i.fa.fa-warning
        %div.header-description
          = t('admin.product_import.import.no_name')
          %span.header-error= " - #{t('admin.product_import.import.blank_enterprise')}"

%br.panels.clearfix
%br
