%h5 Import options and defaults
%br

- @importer.suppliers_index.each do |name, supplier_id|
  - if name and supplier_id and @importer.permission_by_id?(supplier_id)
    %div.panel-section.import-settings{ng: {controller: 'DropdownPanelsCtrl'}}
      %div.panel-header{ng: {click: 'togglePanel()', class: '{active: active}'}}
        %div.header-caret
          %i{ng: {class: "{'icon-chevron-down': active, 'icon-chevron-right': !active}"}}
        %div.header-icon.neutral
          %i.fa.fa-edit
        %div.header-description
          = name
      %div.panel-content{ng: {hide: '!active'}}
        = render 'product_options_form', supplier_id: supplier_id, name: name if @import_into == 'product_list'
        = render 'inventory_options_form', supplier_id: supplier_id, name: name if @import_into == 'inventories'
  - elsif name and supplier_id
    %div.panel-section.import-settings{ng: {controller: 'DropdownPanelsCtrl'}}
      %div.panel-header
        %div.header-caret
        %div.header-icon.error
          %i.fa.fa-warning
        %div.header-description
          = name
          %span.header-error= " - you do not have permission to manage this enterprise"
  - elsif name
    %div.panel-section.import-settings{ng: {controller: 'DropdownPanelsCtrl'}}
      %div.panel-header
        %div.header-caret
        %div.header-icon.error
          %i.fa.fa-warning
        %div.header-description
          = name
          %span.header-error= " - enterprise could not be found in database"
  - else
    %div.panel-section.import-settings{ng: {controller: 'DropdownPanelsCtrl'}}
      %div.panel-header
        %div.header-caret
        %div.header-icon.error
          %i.fa.fa-warning
        %div.header-description
          No name
          %span.header-error= " - some products have blank supplier name"

%br.panels.clearfix
%br
