%h5= t('admin.product_import.import.options_and_defaults')
%br

- @importer.enterprises_index.each do |name, attrs|
  - if name and attrs[:id] and @importer.permission_by_id?(attrs[:id])
    .panel-section.import-settings
      .panel-header{ "ng-click": 'togglePanel()', "ng-class": '{active: active}' }
        .header-icon.success
          %i.fa.fa-check-circle
        .header-description
          = name
  - elsif name and attrs[:id]
    .panel-section.import-settings
      .panel-header
        .header-icon.error
          %i.fa.fa-warning
        .header-description
          = name
          %span.header-error= " - #{t('admin.product_import.import.no_permission')}"
  - elsif name
    .panel-section.import-settings
      .panel-header
        .header-icon.error
          %i.fa.fa-warning
        .header-description
          = name
          %span.header-error= " - #{t('admin.product_import.import.not_found')}"
  - else
    .panel-section.import-settings
      .panel-header
        .header-icon.error
          %i.fa.fa-warning
        .header-description
          = t('admin.product_import.import.no_name')
          %span.header-error= " - #{t('admin.product_import.import.blank_enterprise')}"

%br.panels.clearfix
%br
