%div{ng: {app: 'ofn.admin'}}

  %h5 #{t('admin.product_import.index.select_file')}
  %br
  = form_tag main_app.admin_product_import_path, multipart: true, class: 'product-import' do
    %label #{t('admin.product_import.index.spreadsheet')}
    %br
    = file_field_tag :file
    %br
    %br
    = submit_tag "#{t('admin.product_import.index.upload')}"
