- content_for :page_title do
  #{t('admin.product_import.title')}

= render partial: 'spree/admin/shared/product_sub_menu'

= form_tag main_app.admin_product_import_save_path, {class: 'product-import', 'ng-app' => 'ofn.admin'} do

  - if !@importer.has_valid_entries? #and @importer.invalid_count
    %h5 #{t('admin.product_import.import.no_valid_entries')}
    %p #{t('admin.product_import.import.none_to_save')}
    %br

  = render partial: "admin/json/injection_ams", locals: {ngModule: 'ofn.admin', name: 'productImportData', json: @importer.entries_json}

  = render 'import_options' if @importer.has_valid_entries?

  = render 'import_review' if @importer.has_entries?

  %div{ng: {controller: 'ImportFeedbackCtrl', show: "count((entries | entriesFilterValid:'valid')) > 0"}}
    %div{ng: {if: "count((entries | entriesFilterValid:'invalid')) > 0"}}
      %br
      %h5 #{t('admin.product_import.import.some_invalid_entries')}
      %p #{t('admin.product_import.import.save_valid?')}
    %div{ng: {show: "count((entries | entriesFilterValid:'invalid')) == 0"}}
      %br
      %h5 #{t('admin.product_import.import.no_errors')}
      %p #{t('admin.product_import.import.save_all_imported?')}
    %br
    = hidden_field_tag :filepath, @filepath
    = hidden_field_tag "settings[import_into]", @import_into
    = submit_tag t('admin.save')
    %a.button{href: main_app.admin_product_import_path} #{t('admin.cancel')}

  %div{ng: {controller: 'ImportFeedbackCtrl', show: "count((entries | entriesFilterValid:'valid')) == 0"}}
    %br
    %a.button{href: main_app.admin_product_import_path} #{t('admin.cancel')}


