- content_for :page_title do
  #{t('admin.product_import.title')}

= render partial: 'spree/admin/shared/product_sub_menu'

= render 'upload_sidebar'

%h5
  = t('.notice')
%br
%p
  = t('.beta_notice')
%br

= render 'upload_form'
