%button.plain.ofn-drop-down.disabled{ "data-checked-target": "disable" }
  %span{ class: 'icon-reorder' }
    ="#{t('admin.actions')}".html_safe
  %span.toggle-off.icon-caret-up
  %span.toggle-on.icon-caret-down

  %div.menu.dropdown-content
    %div.menu_item
      %span.name{ "data-controller": "modal-link", "data-action": "click->modal-link#open", "data-modal-link-target-value": "resend_confirmation" }
        = t('spree.admin.orders.index.resend_confirmation')
    - if Spree::Config[:enable_invoices?]
      %div.menu_item
        %span.name{ "data-controller": "modal-link", "data-action": "click->modal-link#open", "data-modal-link-target-value": "send_invoice" }
          = t('spree.admin.orders.index.send_invoice')
      %div.menu_item
        %span.name{ "data-controller": "bulk-invoice", "data-action": "click->bulk-invoice#generate" }
          = t('spree.admin.orders.index.print_invoices')
    %div.menu_item
      %span.name{ "data-controller": "modal-link", "data-action": "click->modal-link#open", "data-modal-link-target-value": "cancel_orders" }
        = t('spree.admin.orders.index.cancel_orders')
