%div{"data-hook" => "admin_orders_index_search"}
  = search_form_for [:admin, @search], html: { name: "orders_form", "ng-submit" => "fetchResults()"} do |f|
    .field-block.alpha.four.columns
      .date-range-filter.field
        = label_tag nil, t(:date_range)
        .date-range-fields
          = f.text_field :created_at_gt, class: 'datepicker', datepicker: 'q.created_at_gt', 'ng-model' => 'q.created_at_gt', :value => params[:q][:created_at_gt], :placeholder => t(:start)
          %span.range-divider
            %i.icon-arrow-right
          = f.text_field :created_at_lt, class: 'datepicker', datepicker: 'q.created_at_lt', 'ng-model' => 'q.created_at_lt', :value => params[:q][:created_at_lt], :placeholder => t(:stop)
      .field
        = label_tag nil, t(:status)
        = f.select :state_eq, Spree::Order.state_machines[:state].states.collect {|s| [t("order_state.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2', 'ng-model' => 'q.state_eq'
    .four.columns
      .field
        = label_tag nil, t(:order_number)
        = f.text_field :number_cont, 'ng-model' => 'q.number_cont'
      .field
        = label_tag nil, t(:email)
        = f.email_field :email_cont, 'ng-model' => 'q.email_cont'
    .four.columns
      .field
        = label_tag nil, t(:first_name_begins_with)
        = f.text_field :bill_address_firstname_start, :size => 25, 'ng-model' => 'q.bill_address_firstname_start'
      .field
        = label_tag nil, t(:last_name_begins_with)
        = f.text_field :bill_address_lastname_start, :size => 25, 'ng-model' => 'q.bill_address_lastname_start'
    .omega.four.columns
      .field.checkbox
        %label
          = f.check_box :completed_at_not_null, {:checked => @show_only_completed, 'ng-model' => 'q.completed_at_not_null'}, '1', ''
          = t(:show_only_complete_orders)
      .field.checkbox
        %label
          = f.check_box :inventory_units_shipment_id_null, {'ng-model' => 'q.inventory_units_shipment_id_null'}, '1', '0'
          = t(:show_only_unfulfilled_orders)
    .field-block.alpha.eight.columns
      = label_tag nil, t(:distributors)
      = select_tag("q[distributor_id_in]",
          options_for_select(Enterprise.is_distributor.managed_by(spree_current_user).map {|e| [e.name, e.id]}, params[:distributor_ids]),
          {class: "select2 fullwidth", multiple: true, 'ng-model' => 'q.distributor_id_in'})
    .field-block.omega.eight.columns
      = label_tag nil, t(:order_cycles)
      = select_tag("q[order_cycle_id_in]",
          options_for_select(OrderCycle.managed_by(spree_current_user).where('order_cycles.orders_close_at is not null').order('order_cycles.orders_close_at DESC').map {|oc| [oc.name, oc.id]}, params[:order_cycle_ids]),
          {class: "select2 fullwidth", multiple: true, 'ng-model' => 'q.order_cycle_id_in'})
    .clearfix
    .actions.filter-actions
      %div
        %a.button.icon-search{'ng-click' => 'fetchResults()'}
          = t(:filter_results)
