%tr{id: "#{spree_dom_id(f.object)}", class: "#{cycle('odd', 'even')}"}
  %td
    = f.object.variant.product.name
    = "(#{f.object.full_name})"
  %td.price.align-center
    = f.object.single_display_amount
  %td.qty
    = f.number_field :quantity, min: 0, class: "qty"
  %td.total.align-center
    = f.object.display_amount
  %td.actions
    = link_to_delete f.object, {url: admin_order_line_item_url(@order.number, f.object), no_text: true}
