%tr{ id: dom_id(order), class: "state-#{order.state}" }
  %td.align-center
    %input{type: 'checkbox', value: order.id, name: 'bulk_ids[]', "data-checked-target": "checkbox", "data-action": "change->checked#toggleCheckbox" }
  %td.align-center
    = order.distributor.name
  %td.align-center
    = I18n.l(order.completed_at, format: '%B %d, %Y') if order.completed_at
  %td
    %a{ href: edit_admin_order_path(order) }
      = order.number
    - if order.special_instructions.present?
      %div
        %br
        %div{ "data-controller": "tooltip", "data-tooltip-tip-value": order.special_instructions.to_s }
          %span.icon-warning-sign{ "data-tooltip-target": "element" }
            = t('spree.admin.orders.index.note')
  %td.align-center
    %span.state{ class: order.state.to_s }
      = t('js.admin.orders.order_state.' + order.state.to_s)
  %td.align-center
    - if order.payment_state
      %span.state{class: 'order.payment_state'}
        %a{href: spree.admin_order_payments_path(order) }
          = t('js.admin.orders.payment_states.' + order.payment_state.to_s)
          - if order.display_outstanding_balance
            %span
              = "(#{order.display_outstanding_balance})"
  %td.align-center
    - if order.shipment_state
      %span.state{class: order.shipment_state.to_s}
        = t('js.admin.orders.shipment_states.' + order.shipment_state.to_s)
  %td
    %a{ href: "mailto:#{order.email}", target: "_blank" }
      = order.email
  %td
    = order.bill_address.full_name_for_sorting
  %td.align-center
    %span
      = order.display_total
  %td.actions
    %div.row-loading-icons
      - if local_assigns[:success]
        %i.success.icon-ok-sign{"data-controller": "ephemeral"}
    %a.icon_link.with-tip.icon-edit.no-text{href: edit_admin_order_path(order), "data-controller": "tooltip", "data-tooltip-tip-value": t('spree.admin.orders.index.edit'), "data-tooltip-target": "element"}
    - if order.ready_to_ship?
      %div{ "data-controller": "tooltip", "data-tooltip-tip-value": t('spree.admin.orders.index.ship') }
        %button.icon-road.icon_link.with-tip.no-text{"data-reflex": "click->Admin::OrdersReflex#ship", "data-id": order.id.to_s,
        "data-tooltip-target": "element" }

    - if order.payment_required? && order.pending_payments.reject(&:requires_authorization?).any?
      %div{ "data-controller": "tooltip", "data-tooltip-tip-value": t('spree.admin.orders.index.capture') }
        %button.icon-capture.icon_link.no-text{"data-reflex": "click->Admin::OrdersReflex#capture", "data-id": order.id.to_s,
        "data-tooltip-target": "element" }
