- content_for :page_title do
  = t('.listing_orders')

- content_for :minimal_js, true

- content_for :page_actions do
  %li
    = button_link_to t('.new_order'), spree.new_admin_order_url, icon: 'icon-plus', id: 'admin_new_order'

= render partial: 'spree/admin/shared/order_sub_menu'

- content_for :table_filter_title do
  = t(:search)

- content_for :table_filter do
  = render partial: 'filters'

%turbo-frame#order-results
  #orders-index{"data-controller": "search checked"}
    = render partial: "table", locals: { pagy: @pagy, orders: @orders }

= render 'spree/admin/shared/custom-confirm'

= render ModalComponent.new(id: "resend_confirmation", modal_class: 'tiny', close_button: false) do
  = form_with(url: resend_confirmation_emails_admin_orders_path, method: :post, data: { turbo: true, controller: 'bulk-actions' }) do
    .margin-bottom-30
      = t('.resend_confirmation_confirm_html')
    %p.modal-actions.justify-space-around
      %button.button.secondary{ type: "button", 'data-action': 'click->modal#close' }
        = t('js.admin.modals.cancel')
      %button.button.primary{ type: 'submit' }
        = t('js.admin.modals.confirm')

= render ModalComponent.new(id: "send_invoice", modal_class: 'tiny', close_button: false) do
  = form_with(url: send_invoices_admin_orders_path, method: :post, data: { turbo: true, controller: 'bulk-actions' }) do
    .margin-bottom-30
      = t('.send_invoice_confirm_html')
    %p.modal-actions.justify-space-around
      %button.button.secondary{ type: "button", 'data-action': 'click->modal#close' }
        = t('js.admin.modals.cancel')
      %button.button.primary{ type: 'submit' }
        = t('js.admin.modals.confirm')


= render ModalComponent.new(id: "cancel_orders", modal_class: 'tiny', close_button: false) do
  = form_with(url: cancel_orders_admin_orders_path, method: :post, data: { turbo: true, controller: 'bulk-actions' }) do
    .margin-bottom-30
      = t("js.admin.orders.cancel_the_order_html")
    .margin-bottom-30
      = render partial: "spree/admin/orders/messages/cancel_orders"

    %p.modal-actions.justify-space-around
      %button.button.secondary{ type: "button", 'data-action': 'click->modal#close' }
        = t('js.admin.modals.cancel')
      %button.button.primary{ type: 'submit' }
        = t('js.admin.modals.confirm')
