- content_for :page_title do
  = t(:listing_orders)

- content_for :page_actions do
  %li
    = button_link_to t(:new_order), new_admin_order_url, :icon => 'icon-plus', :id => 'admin_new_order'

= render partial: 'spree/admin/shared/order_sub_menu'

- content_for :app_wrapper_attrs do
  = "ng-app='admin.orders' ng-controller='ordersCtrl'"

- content_for :table_filter_title do
  = t(:search)

- content_for :table_filter do
  %div{"data-hook" => "admin_orders_index_search"}
    = search_form_for [:admin, @search] do |f|
      .field-block.alpha.four.columns
        .date-range-filter.field
          = label_tag nil, t(:date_range)
          .date-range-fields
            = f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => t(:start)
            %span.range-divider
              %i.icon-arrow-right
            = f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => t(:stop)
        .field
          = label_tag nil, t(:status)
          = f.select :state_eq, Spree::Order.state_machines[:state].states.collect {|s| [t("order_state.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2'
      .four.columns
        .field
          = label_tag nil, t(:order_number)
          = f.text_field :number_cont
        .field
          = label_tag nil, t(:email)
          = f.email_field :email_cont
      .four.columns
        .field
          = label_tag nil, t(:first_name_begins_with)
          = f.text_field :bill_address_firstname_start, :size => 25
        .field
          = label_tag nil, t(:last_name_begins_with)
          = f.text_field :bill_address_lastname_start, :size => 25
      .omega.four.columns
        .field.checkbox
          %label
            = f.check_box :completed_at_not_null, {:checked => @show_only_completed}, '1', ''
            = t(:show_only_complete_orders)
        .field.checkbox
          %label
            = f.check_box :inventory_units_shipment_id_null, { }, '1', '0'
            = t(:show_only_unfulfilled_orders)
      .field-block.alpha.eight.columns
        = label_tag nil, t(:distributors)
        = select_tag("q[distributor_id_in]",
          options_for_select(Enterprise.is_distributor.managed_by(spree_current_user).map {|e| [e.name, e.id]}, params[:distributor_ids]),
          {class: "select2 fullwidth", multiple: true})
      .field-block.omega.eight.columns
        = label_tag nil, t(:order_cycles)
        = select_tag("q[order_cycle_id_in]",
          options_for_select(OrderCycle.managed_by(spree_current_user).where('order_cycles.orders_close_at is not null').order('order_cycles.orders_close_at DESC').map {|oc| [oc.name, oc.id]}, params[:order_cycle_ids]),
          {class: "select2 fullwidth", multiple: true})
      .clearfix
      .actions.filter-actions
        %div{"data-hook" => "admin_orders_index_search_buttons"}
          = button t(:filter_results), 'icon-search'

%table#listing_orders.index.responsive{"data-hook" => "", width: "100%", 'ng-show' => "!RequestMonitor.loading && orders.length > 0" }
  %colgroup
    %col{style: "width: 10%"}
  %thead
    %tr{"data-hook" => "admin_orders_index_headers"}
      %th
        = t(:products_distributor)
      - if @show_only_completed
        %th= sort_link @search, :completed_at, t(:completed_at, :scope => 'activerecord.attributes.spree/order')
      - else
        %th= sort_link @search, :created_at,   t(:created_at, :scope => 'activerecord.attributes.spree/order')
      %th= sort_link @search, :number,         t(:number, :scope => 'activerecord.attributes.spree/order')
      %th= sort_link @search, :state,          t(:state, :scope => 'activerecord.attributes.spree/order')
      %th= sort_link @search, :payment_state,  t(:payment_state, :scope => 'activerecord.attributes.spree/order')
      %th= sort_link @search, :shipment_state, t(:shipment_state, :scope => 'activerecord.attributes.spree/order')
      %th= sort_link @search, :email,          t(:email, :scope => 'activerecord.attributes.spree/order')
      %th= sort_link @search, :total,          t(:total, :scope => 'activerecord.attributes.spree/order')
      %th.actions{"data-hook" => "admin_orders_index_header_actions"}
  %tbody
    %tr{ng: {repeat: 'order in orders track by $index', class: {even: "'even'", odd: "'odd'"}}, 'ng-class' => "'state-{{order.state}}'", "data-hook" => "admin_orders_index_rows"}
      %td.align-center
        {{::order.distributor_name}}
      %td.align-center
        = @show_only_completed ? '{{::order.completed_at}}' : '{{::order.created_at}}'
      %td
        %a{'ng-href' => '{{::order.show_path}}'}
          {{order.number}}
        %div{'ng-if' => 'order.special_instructions'}
          %br
          %span.icon-warning-sign{'ofn-with-tip' => "{{::order.special_instructions}}"}
            = t(:note)
      %td.align-center
        %span.state{'ng-class' => 'order.state'}
          {{'order_state.' + order.state | t}}
      %td.align-center
        %span.state{'ng-class' => 'order.payment_state', 'ng-if' => 'order.payment_state'}
          %a{'ng-href' => '{{::order.payments_path}}' }
            {{'payment_states.' + order.payment_state | t}}
      %td.align-center
        %span.state{'ng-class' => 'order.shipment_state', 'ng-if' => 'order.shipment_state'}
          %a{'ng-href' => '{{::order.shipments_path}}' }
            {{'shipment_states.' + order.shipment_state | t}}
      %td
        = mail_to "{{::order.email}}"
      %td.align-center
        %span{'ng-bind-html' => '::order.display_total'}
      %td.actions{"data-hook" => "admin_orders_index_row_actions"}
        %a.icon_link.with-tip.icon-edit.no-text{'ng-href' => '{{::order.edit_path}}', 'data-action' => 'edit', 'ofn-with-tip' => t(:edit)}
        %div{'ng-if' => 'order.ready_to_ship'}
          %a.icon-road.icon_link.with-tip.no-text{'ng-href' => '{{::order.ship_path}}', 'data-action' => 'ship', 'data-confirm' => t(:are_you_sure), 'data-method' => 'put', rel: 'nofollow', 'ofn-with-tip' => t(:ship)}
        %div{'ng-if' => 'order.pending_payments'}
          %a.icon-capture.icon_link.no-text{'ng-href' => '{{::order.capture_path}}', 'data-action' => 'capture', 'data-method' => 'put', rel: 'nofollow', 'ofn-with-tip' => t(:capture)}

.no-objects-found{'ng-show' => "!RequestMonitor.loading && orders.length == 0"}
  = t(:no_orders_found)

= paginate @orders
