= pdf_stylesheet_pack_tag "mail"

%table{:width => "100%"}
  %tbody
    %tr{ valign: "top" }
      %td{ :align => "left" }
        %h4
          = t :tax_invoice
      - if @invoice_presenter.distributor.display_invoice_logo? && @invoice_presenter.distributor.logo_url
        %td{ :align => "right", rowspan: 2 }
          = wicked_pdf_image_tag @invoice_presenter.distributor.logo_url
    %tr{ valign: "top" }
      %td{ :align => "left" }
        - if @invoice_presenter.distributor.business_address.blank?
          %strong= @invoice_presenter.distributor.name
          %br
          = @invoice_presenter.distributor.address.address_part1
          %br
          = @invoice_presenter.distributor.address.address_part2
          %br
          = @invoice_presenter.distributor.email_address
          - if @invoice_presenter.distributor.phone.present?
            %br
            = @invoice_presenter.distributor.phone
        - else 
          %strong= @invoice_presenter.distributor.business_address.company
          %br
          = @invoice_presenter.distributor.business_address.address_part1
          %br
          = @invoice_presenter.distributor.business_address.address_part2
          %br
          = @invoice_presenter.distributor.email_address
          - if @invoice_presenter.distributor.business_address.phone.present?
            %br
            = @invoice_presenter.distributor.business_address.phone
        - if @invoice_presenter.distributor.abn.present?
          %br
          = "#{t :abn} #{@invoice_presenter.distributor.abn}"
        - if @invoice_presenter.distributor.acn.present?
          %br
          = "#{t :acn} #{@invoice_presenter.distributor.acn}"
    %tr{ valign: "top" }
      %td{ :align => "left", colspan: 2 } &nbsp;
    %tr{ valign: "top" }
      %td{ :align => "left" }
        %br
        = t :invoice_issued_on
        = l @invoice_presenter.invoice_date
        %br
        = t :date_of_transaction
        = l @invoice_presenter.order_completed_at.to_date
        %br
        = t :order_number
        = @invoice_presenter.order_number
      %td{ :align => "right" }
        = t :invoice_billing_address
        %br
        - if @invoice_presenter.bill_address
          %strong= @invoice_presenter.bill_address.full_name
        - if @invoice_presenter&.customer&.code.present?
          %br
          = "Code: #{@invoice_presenter.customer.code}"
        %br
        - if @invoice_presenter.bill_address
          = @invoice_presenter.bill_address.address_part1
        %br
        - if @invoice_presenter.bill_address
          = @invoice_presenter.bill_address.address_part2
        - if @invoice_presenter.bill_address.phone.present?
          %br
          = @invoice_presenter.bill_address.phone
        - if @invoice_presenter&.customer&.email.present?
          %br
          = @invoice_presenter.customer.email

= render 'spree/admin/orders/invoice_table4'

- if @invoice_presenter.order_special_instructions.present?
  %p.callout
    %strong
      = t :customer_instructions
  %p
    %em= @invoice_presenter.order_special_instructions
  %p
    &nbsp;

- if @invoice_presenter.distributor.invoice_text.present?
  %p
    = @invoice_presenter.distributor.invoice_text

= render 'spree/admin/orders/_invoice/payment'

- if @invoice_presenter.order_note.present?
  = render partial: 'spree/admin/orders/_invoice/order_note'
