- content_for :page_actions do
  %li
    = button_link_to t(:cancel), fire_admin_order_url(@order.number, { :e => 'cancel' }), :icon => 'icon-trash', :data => { :confirm => t(:are_you_sure) } if @order.can_cancel?
  %li
    = button_link_to t(:edit), edit_admin_order_url(@order.number), :icon => 'icon-edit'
  %li
    = button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left'

= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' }

.row
  - if @order.bill_address
    %fieldset.alpha.six.columns.no-border-bottom
      %legend{:align => "center"}= t(:bill_address)
      = render :partial => 'spree/shared/address', :locals => { :address => @order.bill_address }
  - if @order.ship_address
    %fieldset.omega.six.columns.no-border-bottom
      %legend{:align => "center"}= t(:ship_address)
      = render :partial => 'spree/shared/address', :locals => { :address => @order.ship_address }

%div
  = render :partial => 'spree/admin/shared/order_details', :locals => { :order => @order }
