- if spree_current_user
  %ul#login-nav.inline-menu
  
    %li.user-logged-in-as
      = t(:logged_in_as)
      \: #{spree_current_user.email}
    %li
      %i.icon-user
      = link_to t(:account), account_path
    %li
      %i.icon-signout
      = link_to t(:logout), logout_path
    %li
      %i.icon-external-link
      = link_to t(".header.store"), main_app.root_path, target: "_blank"
