<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to "New Distributor", main_app.new_admin_distributor_path, :icon => 'add', :id => 'admin_new_distributor_link' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<%= form_for @distributor_set, :url => main_app.bulk_update_admin_distributors_path do |f| %>
  <table class="index" id="listing_distributors">
    <thead>
      <tr data-hook="distributors_header">
        <th>Name</th>
        <th>Next Collection Date/Time</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :distributors do |distributor_form| %>
        <% distributor = distributor_form.object %>
        <tr>
          <td><%= link_to distributor.name, main_app.admin_distributor_path(distributor) %></td>
          <td><%= distributor_form.text_field :next_collection_at %></td>
          <td><%= distributor.description %></td>
          <td data-hook="admin_users_index_row_actions">
            <%= link_to_edit distributor, :class => 'edit' %> &nbsp;
            <%= link_to_delete distributor %>
          </td>
        </tr>
      <% end %>
      <% if @distributors.empty? %>
        <tr><td colspan="4"><%= t(:none) %></td></tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit 'Update' %>
<% end %>
