.default_rules{ "data-turbo": true }
  .header
    %table
      %colgroup
        %col{width: '100%'}
      %tr
        %td
          %h5
            = t('.by_default')
          %i.text-big.icon-question-sign{ "data-controller": "help-modal-link", "data-action": "click->help-modal-link#open", "data-help-modal-link-target-value": "tag_rule_help_modal" }
  #default-tag-rule
    - default_rules = @enterprise.tag_rules.select(&:is_default)
    - current_index = 0
    - if default_rules.empty?
      .no_rules
        = t('.no_rules_yet')
      .add_rule.text-center
        -# TODO add pop up
        %input.button.icon-plus{ type: 'button', value: t('.add_new_button') }
    - else
      - default_rules.each_with_index do |default_rule, index|
        - current_index = index + 1
        = render TagRuleFormComponent.new(rule: default_rule, rule_data: rule_data(default_rule), index: index)
        %hr

  .add_rule.text-center
    %input.button.icon-plus{ type: 'button', value: t('.add_new_button'), "data-controller": "modal-link", "data-action": "click->modal-link#open", "data-modal-link-target-value": "tag_rule_add_new_default_rule" }

= render ModalComponent.new(id: "tag_rule_add_new_default_rule", close_button: false, modal_class: "tiny" ) do
  #new-tag-rule-dialog{ "data-controller": "default-tag-rule" }
    =hidden_field_tag "current_index", current_index, { "data-default-tag-rule-target": "index" }
    .text-normal.margin-bottom-30.text-center
      = t('.new_tag_rule_dialog.select_rule_type')
    .text-center.margin-bottom-30
      = select_tag :rule_type_selector, options_for_select(@tag_rule_types), { "data-controller": "tom-select", "data-default-tag-rule-target": "rule", class: "primary no-search" }
    .text-center
      %input.button.red.icon-plus{ type: 'button', value: "#{t('.new_tag_rule_dialog.add_rule')}", "data-action": "click->default-tag-rule#add click->modal#close", }
         
= render HelpModalComponent.new(id: "tag_rule_help_modal") do
  #tag-rule-help
    .margin-bottom-30.text-center
      .text-big
        = t('js.admin.modals.tag_rule_help.title')

    .margin-bottom-30
      .text-normal
        = t('js.admin.modals.tag_rule_help.overview')
      %p
        = t('js.admin.modals.tag_rule_help.overview_text')

    .margin-bottom-30
      .text-normal
        = t('js.admin.modals.tag_rule_help.by_default_rules')
      %p
        = t('js.admin.modals.tag_rule_help.by_default_rules_text')

    .margin-bottom-30
      .text-normal
        = t('js.admin.modals.tag_rule_help.customer_tagged_rules')
      %p
        = t('js.admin.modals.tag_rule_help.customer_tagged_rules_text')

