- if @order.distributor.logo.variable?
  - @enterprise_for_logo = @order.distributor

- greeting_key = "mailers_shared.customer_greeting"
- intro_key = @order.paid? ? ".payment_success_intro_html" : ".confirmation_intro_html"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key, name: @order.bill_address.firstname),
                   intro: t(intro_key, distributor: @order.distributor.name),
                   enterprise_for_logo: @enterprise_for_logo }

%p.callout
  = t(".explainer_html")
  - if @order.user.present?
    %br
    = t("subscription_mailer.shared.edit_false_html",
      orders_close_at: l(@order.order_cycle.orders_close_at, format: mail_long_datetime_format),
      order_url: order_url(@order))
  %br
  = t("subscription_mailer.shared.contact_distributor_html", distributor: @order.distributor.name)
  %a{:href => "mailto:#{@order.distributor.contact.email}", :target => "_blank"}
    = @order.distributor.contact.email

%h3
  = t("mailers_shared.order_confirmation_html", number: @order.number)
%p
  = t(".details_html", distributor: @order.distributor.name)

= render 'shared/mailers/order_summary'

.detail
  = render 'spree/shared/payment'
  = render 'spree/order_mailer/shipping'
  = render 'spree/order_mailer/special_instructions'

= render 'shared/mailers/signoff_distributor'
