%table.social.white-bg{:width => "100%"}
  %tr
    %td
      %table.column{:align => "left"}
        %tr
          %td
            %h3
              = t(".greeting", name: @shop.contact_name)
            %h4
              = t(".intro", shop: @shop.name)
      %table.column{:align => "left"}
        %tr
          %td{:align => "right"}
            - if @shop.logo.variable?
              = image_tag @shop.logo_url(:medium), class: "float-right"
      %span.clear

= render 'summary_overview', summary: @summary
= render 'summary_detail', summary: @summary

%p &nbsp;
= render 'shared/mailers/signoff'
= render 'shared/mailers/powered_by'
