- if @order.distributor.logo.variable?
  - @enterprise_for_logo = @order.distributor

- greeting_key = "mailers_shared.customer_greeting"
- intro_key = ".intro_html"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key, name: @order.bill_address.firstname),
                   intro: t(intro_key, distributor: @order.distributor.name),
                   enterprise_for_logo: @enterprise_for_logo }

%p.callout
  = t("email_so_placement_explainer_html")

  - if @order.user.present?
    - allow_changes = !!@order.distributor.allow_order_changes?
    = t("email_so_edit_#{allow_changes}_html",
      orders_close_at: l(@order.order_cycle.orders_close_at, format: mail_long_datetime_format),
      order_url: order_url(@order))
    = t("email_so_contact_distributor_html", distributor: @order.distributor.name, email: @order.distributor.contact.email)
  - else
    = t("email_so_contact_distributor_to_change_order_html",
      orders_close_at: l(@order.order_cycle.orders_close_at, format: mail_long_datetime_format),
      distributor: @order.distributor.name,
      email: @order.distributor.contact.email)

%p &nbsp;
%h4
  = t :email_confirm_customer_number_html, number: @order.number
%p
  = t("email_so_placement_details_html", distributor: @order.distributor.name)

- if @changes.any?
  %p.callout
    = t("email_so_placement_changes")

= render 'spree/order_mailer/order_summary'

= render 'spree/shared/payment'
= render 'spree/order_mailer/shipping'
= render 'spree/order_mailer/special_instructions'

= render 'spree/order_mailer/signoff'
