%h2= t(:distributors)
= f.field_container :product_distributions do
  - f.object.build_product_distributions_for_user spree_current_user
  %table
    = f.fields_for :product_distributions do |pd_form|
      %tr
        %td
          = hidden_field_tag "#{pd_form.object_name}[_destroy]", 1, :id => nil
          = check_box_tag "#{pd_form.object_name}[_destroy]", 0, !pd_form.object.new_record?
        %td
          = label_tag "#{pd_form.object_name}[_destroy]", pd_form.object.distributor.name
          = pd_form.hidden_field :distributor_id
        %td
          = pd_form.collection_select :enterprise_fee_id, EnterpriseFee.for_enterprise(pd_form.object.distributor), :id, :name, {}, :class => "select2"
