= f.field_container :group_buy do
  = f.label :group_buy, t('.group_buy')
  %br
  .alpha.two.columns
    = f.label :group_buy_1, t(:yes)
    = f.radio_button :group_buy, '1', checked: f.object.group_buy
  .alpha.two.columns
    = f.label :group_buy_0, t(:no)
    = f.radio_button :group_buy, '0', checked: !f.object.group_buy
  %br.clear
  = f.field_container :group_buy_unit_size do
    = f.label :group_buy_unit_size, t('.bulk_unit_size')
    %br
    = f.text_field :group_buy_unit_size
