= render 'spree/admin/products/bulk_edit/header'
= render 'spree/admin/products/bulk_edit/data'

%div{ ng: { app: 'ofn.admin', controller: 'AdminProductEditCtrl', init: 'initialise()' } }

  = render 'spree/admin/products/bulk_edit/filters'
  %hr.divider.sixteen.columns.alpha.omega
  = render 'spree/admin/products/bulk_edit/actions'
  = render 'spree/admin/products/bulk_edit/indicators'
  = render 'spree/admin/products/bulk_edit/products'
