= render 'spree/admin/products/index/header'
= render 'spree/admin/products/index/data'
= admin_inject_available_units

%div{ ng: { app: 'ofn.admin', controller: 'AdminProductEditCtrl', init: 'initialise()' } }

  = render 'spree/admin/products/index/filters'
  %div{ 'ng-cloak' => true }
    = render 'spree/admin/products/index/actions'
    = render 'spree/admin/products/index/indicators'
    = render 'spree/admin/products/index/products'

    %div{'ng-show' => "!RequestMonitor.loading && products.length > 0" }
      = render partial: 'admin/shared/angular_pagination'
