= render 'spree/admin/products/override_variants/header'
= render 'spree/admin/products/override_variants/data'

%div{ ng: { app: 'ofn.admin', controller: 'AdminOverrideVariantsCtrl', init: 'initialise()' } }
  = render 'spree/admin/products/override_variants/hub_choice'

  %div{ng: {show: 'hub'}}
    %h2 {{ hub.name }}
    = render 'spree/admin/products/override_variants/actions'

  = render 'spree/admin/products/override_variants/products'
