- content_for :page_title do
  = t(:listing_reports)

.columns.twelve
  %table.index
    %thead
      %tr
        %th= t(:name)
        %th= t(:description)
    %tbody
      - @reports.each do |report_type, report_subtypes|
        %tr
          %td
            = I18n.t(:name, scope: [:admin, :reports, report_type])
          %td
            - if report_subtypes.empty?
              - name = I18n.t(:name, scope: [:admin, :reports, report_type])
              - report_subtypes = [[name, nil]]
            = render partial: "report_subtype", locals: { report_subtypes: report_subtypes, report_type: report_type }
