- content_for :page_title do
  = t(:listing_reports)

.columns.twelve
  %table.index
    %thead
      %tr
        %th= t(:name)
        %th= t(:description)
    %tbody
      - @reports.each do |report_type, report_subtypes|
        %tr
          %td
            = I18n.t(:name, scope: [:admin, :reports, report_type])
          %td
            - if report_subtypes.empty?
              %ul{style: "margin-left: 12pt"}
                %li
                  - name = I18n.t(:name, scope: [:admin, :reports, report_type])
                  - url = main_app.admin_report_url(report_type: report_type)
                  = link_to name, url
            = render partial: "report_subtype", locals: { report_subtypes: report_subtypes, report_type: report_type }
