= form_tag main_app.admin_reports_path, report_type: 'packing' do
  = render partial: 'date_range_form'

  .row
    .alpha.two.columns= label_tag nil, t(:report_hubs)
    .omega.fourteen.columns
      = collection_select("q", "distributor_id_in", @distributors, :id, :name, {selected: params.dig(:q, :distributor_id_in)}, {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, t(:report_producers)
    .omega.fourteen.columns
      = select_tag("q[supplier_id_in]", options_from_collection_for_select(@suppliers, :id, :name, params.dig(:q, :supplier_id_in)), {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, t(:report_customers_cycle)
    .omega.fourteen.columns
      = select_tag("q[order_cycle_id_in]", options_for_select(report_order_cycle_options(@order_cycles), params.dig(:q, :order_cycle_id_in)), {class: "select2 fullwidth", multiple: true})

  .row
    .alpha.two.columns= label_tag nil, t(:report_type)
    .omega.fourteen.columns
      = select_tag(:report_subtype, options_for_select(@report_subtypes, @report_subtype))

  = render partial: "rendering_options"

  .row
  = button t(:search)

= render partial: "spree/admin/reports/customer_names_message"

= render "table", id: "listing_orders", msg_option: t(:search)
