= form_for @report.search, :url => url_for(only_path: false) do |f|
  %fieldset.no-border-bottom.print-hidden
    %legend{ align: 'center'}= t(:report_filters)
    = render partial: "admin/reports/filters/#{@report_type}", locals: { f: f }

  %fieldset.print-hidden
    %legend{ align: 'center'}= t(:report_render_options)
    = render partial: "rendering_options"

    .actions.filter-actions
      = button t(:go), "report__submit-btn"

- if @report.message.present?
  %p.report__message.print-hidden= @report.message

/ We don't want to render data unless search params are supplied.
/ Compiling data can take a long time.
- if request.post?
  = render "table"
