- content_for :page_title do
  = @report_title

= form_for @report.search, :url => url_for(only_path: false) do |f|
  %fieldset.no-border-bottom.print-hidden
    %legend{ align: 'center'}= t(:report_filters)
    = render partial: "admin/reports/filters/#{@report_type}", locals: { f: f }

  %fieldset.print-hidden
    %legend{ align: 'center'}= t(:report_render_options)
    = render partial: "rendering_options"

    .actions.filter-actions
      = button t(:go), "report__submit-btn"

.report__header.print-hidden
  - if @report.message.present?
    %p.report__message= @report.message
  - if request.post?
    %button.btn-print.icon-print{ onclick: "window.print()"}= t(:report_print)

/ We don't want to render data unless search params are supplied.
/ Compiling data can take a long time.
- if request.post?
  = render "table"
