%h3
  = t :email_confirmation_greeting, contact: @enterprise.contact
%p.lead
  = t :email_confirmation_profile_created, name: @enterprise.name
%p &nbsp;

%p.callout
  = t :email_confirmation_click_link
  %br
  %strong
    = link_to t(:email_confirmation_link_label), confirmation_url(@enterprise, :confirmation_token => @enterprise.confirmation_token)

%p &nbsp;
%p
  = t :email_confirmation_help_html, link: link_to(t(:email_confirmation_userguide), 'http://www.openfoodnetwork.org/platform/user-guide/'), sitename: Spree::Config[:site_name]

= render 'shared/mailers/signoff'

= render 'shared/mailers/social_and_contact'
