%h3
  = "Hi, #{@resource.contact}!"
%p.lead
  = "A profile for #{@resource.name} has been successfully created!"
  To activate your Profile we need to confirm this email address.
%p &nbsp;

%p.callout
  Please click the link below to confirm your email and to continue setting up your profile.
  %br
  %strong
    = link_to 'Confirm this email address »', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p &nbsp;
%p
  After confirming your email you can access your administration account for this enterprise.
  See the
  = link_to 'User Guide', 'http://global.openfoodnetwork.org/platform/user-guide/'
  = "to find out more about #{ Spree::Config[:site_name] }'s features and to start using your profile or online store."

= render 'shared/mailers/signoff'

= render 'shared/mailers/social_and_contact'
