= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t("mailers_shared.general_greeting"),
                   intro: t(".invited_to_manage_html", enterprise: @enterprise.name, instance: @instance),
                   enterprise_for_logo: @enterprise }

%p
  = t('invite_email.confirm_your_email', enterprise: @enterprise.name)
%p
  = t('invite_email.mistakenly_sent', owner_email: @enterprise.owner.email)

= render 'shared/mailers/signoff'

= render 'shared/mailers/social_and_contact'
