- greeting_key = ".greeting"
- intro_key = ".registered"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key),
                   intro: t(intro_key, enterprise: @enterprise.name, sitename: Spree::Config.site_name) }

%p
  = t(".userguide_html", link: link_to(t(".userguide"), ContentConfig.user_guide_link))
%p.callout
  = t(".admin_html", link: link_to(t(".admin_panel"), spree.admin_dashboard_url))
%p
  = t(".community_html", link: link_to(t(".join_community"), ContentConfig.community_forum_url))

= render 'shared/mailers/signoff_instance'

= render 'shared/mailers/social_and_contact'
