%h3
  = "#{t(:email_welcome)}, #{@enterprise.contact}!"
%p.lead
  = t :email_confirmed
  %strong
    = @enterprise.name
  = "#{t(:email_registered)} #{ Spree::Config.site_name }!"

%p
  = t :email_userguide_html, link: link_to('Open Food Network User Guide', 'http://www.openfoodnetwork.org/platform/user-guide/')

%p
  = t :email_admin_html, link: link_to('Admin Panel', spree.admin_url)

%p
  = t :email_community_html, link: link_to(t(:join_the_community), ContentConfig.community_forum_url)

%p
  = t :email_help

= render 'shared/mailers/signoff'

= render 'shared/mailers/social_and_contact'
