%h3
  = "Welcome, #{@enterprise.contact}!"
%p.lead
  Thank you for confirming your email address.
  %strong
    = @enterprise.name
  = "is now part of #{ Spree::Config.site_name }!"

%p
  The User Guide with detailed support for setting up your Producer or Hub is here:
  = link_to 'Open Food Network User Guide', 'http://global.openfoodnetwork.org/platform/user-guide/'

%p
  You can manage your account by logging into the
  = link_to 'Admin Panel', spree.admin_url
  or by clicking on the cog in the top right hand side of the homepage, and selecting Administration.

%p
  We also have an online forum for community discussion related to OFN software and the unique challenges of running a food enterprise. You are encouraged to join in. We are constantly evolving and your input into this forum will shape what happens next.
  = link_to 'Join the community.', 'http://community.openfoodnetwork.org/'

%p
  Please find below all the details for viewing and editing your enterprise on
  %strong= "#{ Spree::Config.site_name }."
  We suggest keeping this email and information somewhere safe. Logging in with the account details below will allow complete access to your products and services.

%p
  If you have any difficulties, check out our FAQs, browse the forum or post a 'Support' topic and someone will help you out!

= render 'shared/mailers/signoff'

= render 'shared/mailers/social_and_contact'
