= render partial: 'spree/admin/shared/product_sub_menu'

= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Variants' }

= render partial: 'spree/shared/error_messages', locals: { target: @variant }

= admin_inject_available_units

= form_for [:admin, @product, @variant], :url => admin_product_variant_path(@product, @variant, @url_filters) do |f|
  %fieldset.no-border-top
    %div
      = render partial: 'form', locals: { f: f }
  .form-buttons.filter-actions.actions
    = button t(:update), 'icon-refresh'
    = button_link_to t(:cancel), collection_url(@url_filters), icon: 'icon-remove'
