%script{ type: "text/ng-template", id: "registration/logo.html" }
  .small-12.medium-12.large-6.columns
    .row
      .small-12.columns.center
        .row
          .small-12.columns.center
            %h4
              = t(".select_logo")
        .row
          .small-12.columns.center
            %span.small
              = t(".logo_tip")
        .row.pad-top
          .small-12.columns
            .image-select.small-12.columns
              %label.small-12.columns.button{ for: 'image-select' }= t(".logo_label")
              %input#image-select{ type: 'file', hidden: true, 'nv-file-select' => true, uploader: "imageUploader", options: '{ alias: imageStep }' }
    .row.show-for-large-up
      .large-12.columns
        %span#or.large-12.columns
          = t("action_or")
    .row.show-for-large-up
      .large-12.columns
        #image-over{ 'nv-file-over' => true, uploader: "imageUploader" }
          = t(".logo_drag")
  .small-12.medium-12.large-6.columns
    .row
      .small-12.columns.center
        .row
          .small-12.columns.center
            %h4
              = t(".review_logo")
        .row
          .small-12.columns.center
            %span.small
              = t(".review_logo_tip")
        .row.pad-top
          .small-12.columns.center
            #image-placeholder.logo
              %img{ ng: { show: "imageSrc() && !imageUploader.isUploading", src: '{{ imageSrc() }}' } }
              .message{ ng: { hide: "imageSrc() || imageUploader.isUploading" } }
                = t(".logo_placeholder")
              .loading{ ng: { hide: "!imageUploader.isUploading" } }
                = render partial: "components/spinner"
                %br/
                = t("registration.steps.images.uploading")
