%script{ type: "text/ng-template", id: "registration/promo.html" }
  .small-12.medium-12.large-12.columns
    .row
      .small-12.columns.center
        %h4
          = t(".select_promo_image")
    .row
      .small-12.medium-12.large-5.columns.center
        .row
          .small-12.columns.center
            %span.small
              = t(".promo_image_tip")
        .row.pad-top
          .small-12.columns
            .image-select.small-12.columns
              %label.small-12.columns.button{ for: 'image-select' }= t(".promo_image_label")
              %input#image-select{ type: 'file', hidden: true, 'nv-file-select' => true, uploader: "imageUploader", options: '{ alias: imageStep }' }
      .large-2.columns
        %span#or.horizontal.large-12.columns
          = t("action_or")
      .large-5.columns
        #image-over{ 'nv-file-over' => true, uploader: "imageUploader" }
          = t(".promo_image_drag")
  .small-12.medium-12.large-12.columns.pad-top
    .row
      .small-12.columns.center
        %h4
          = t(".review_promo_image")
    .row
      .small-12.columns.center
        .row
          .small-12.columns.center
            %span.small
              = t(".review_promo_image_tip")
        .row.pad-top
          .small-12.columns.center
            #image-placeholder.promo
              %img{ ng: { show: "imageSrc() && !imageUploader.isUploading", src: '{{ imageSrc() }}' } }
              .message{ ng: { hide: "imageSrc() || imageUploader.isUploading" } }
                = t(".promo_image_placeholder")
              .loading{ ng: { hide: "!imageUploader.isUploading" } }
                = render partial: "components/spinner"
                %br/
                = t("registration.steps.images.uploading")
