%div.product
  = if product.images[0]
    %div.image
      %img{src: product.images[0].attachment.url(:mini, false) }
  %div.title
    = product.name
  %div.unit
    = product.unit_value
    = product.variant_unit
  %div.price
    = product.price
  
%pre
  = product.to_json
