- content_for(:title) do
  = current_distributor.name
- content_for(:description) do
  = current_distributor.description
- content_for(:image) do
  = current_distributor.logo.url

- content_for :injection_data do
  = inject_enterprise_shopfront(@enterprise)

%shop.darkswarm
  - if @shopfront_layout == 'embedded'
    = render partial: 'shop/blocked_cookies'

  .alert-box.changeable-orders-alert.info.animate-show{ ng: { show: "alert.visible && alert.html", cloak: true } }
    %span{ ng: { bind: { html: "alert.html" } } }
    %a.close{ ng: { click: "alert.close()" } } &times;

  - content_for :order_cycle_form do

    %div{"ng-controller" => "OrderCycleChangeCtrl", "ng-cloak" => true}
      %closing
        %div{"ng-if" => "OrderCycle.selected()"}
          = t :enterprises_next_closing
          %strong {{ OrderCycle.orders_close_at() | date_in_words }}
        %div{"ng-if" => "!OrderCycle.selected()"}
          = t :enterprises_choose

      .order-cycle-select
        .select-label
          %span= t :enterprises_ready_for

        %select.select2.avenir#order_cycle_id{"ng-model" => "order_cycle.order_cycle_id",
          "ofn-change-order-cycle" => true,
          "disabled" => require_customer?,
          "ng-options" => "oc.id as oc.time for oc in #{oc_select_options.to_json}"}

          - if oc_select_options.count > 1
            %option{value: "", disabled: "", selected: ""}= t :shopping_oc_select

  - content_for :ordercycle_sidebar do
    .show-for-large-up.large-4.columns
      = render partial: "shopping_shared/order_cycles"

  = render partial: "shopping_shared/header"
  = render partial: "shopping_shared/tabs"

= render partial: "shared/footer"
