- content_for(:title) do
  = current_distributor.name
- content_for(:description) do
  = current_distributor.description
- content_for(:image) do
  = url_for(current_distributor.logo) if current_distributor.logo.attached?

- content_for :injection_data do
  - cache(*CacheService::FragmentCaching.ams_shop(@enterprise)) do
    = inject_enterprise_shopfront(@enterprise)
  - cache(*CacheService::FragmentCaching.ams_all_taxons) do
    = inject_taxons
  - cache(*CacheService::FragmentCaching.ams_all_properties) do
    = inject_properties

%shop.darkswarm
  - if @shopfront_layout == 'embedded'
    = render partial: 'shop/blocked_cookies'

  .alert-box.changeable-orders-alert.info.animate-show{ ng: { show: "alert.visible && alert.html", cloak: true } }
    %span{ ng: { bind: { html: "alert.html" } } }
    %a.close{ ng: { click: "alert.close()" } } &times;

  - content_for :order_cycle_form do
    = render partial: "change_order_cycle"

  = render partial: "shopping_shared/header"
  = render partial: "shopping_shared/tabs"

= render partial: "shared/footer"
