%div
  .row
    %fieldset.no-border-bottom
      %div.notice
        = t('spree.mail_settings_notice_html')
      %legend{align: "center"}= t("spree.general")
      .field
        = label_tag :mails_from, t("spree.send_mails_as")
        %br/
        = text_field_tag :mails_from, Spree::Config[:mails_from], maxlength: 256, class: 'fullwidth'
        %br/
        %span.info
          = t("spree.smtp_send_all_emails_as_from_following_address")
      .field
        = label_tag :mail_bcc, t("spree.send_copy_of_all_mails_to")
        %br/
        = text_field_tag :mail_bcc, Spree::Config[:mail_bcc], maxlength: 256, class: 'fullwidth'
        %br/
        %span.info
          = t("spree.smtp_send_copy_to_this_addresses")
