= render partial: 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t("spree.mail_method_settings")

- content_for :page_actions do
  %li
    = link_to_with_icon 'icon-envelope-alt', t("spree.admin.mail_methods.send_testmail"), testmail_admin_mail_methods_path,
    data: { method: :post, "ujs-navigate": "false" }, title: t("spree.admin.mail_methods.send_testmail"), class: 'send_mail button no-text'

= render partial: 'spree/shared/error_messages', locals: { target: @mail_method }

= form_tag admin_mail_methods_path, method: :put do |f|
  %fieldset.no-border-top
    = render partial: 'form', locals: { f: f }
    .form-buttons.filter-actions.actions= button t("spree.actions.update"), 'icon-refresh'
