.row
  = render partial: 'shared/components/filter_controls'
  .small-12.medium-6.columns.text-right
    &nbsp;

.row.animate-show{"ng-show" => "filtersActive"}
  .small-12.columns
    .row.filter-box
      .small-12.columns
        %h5.tdhead
          .light
            = t :producers_filter
          = t :producers_filter_type
        %filter-selector.small-block-grid-2.medium-block-grid-4.large-block-grid-6{"selector-set" => "filterSelectors", objects: "Enterprises.producers | searchEnterprises:query | taxonsOf", "active-selectors" => "activeTaxons"}

        %h5.tdhead
          .light
            = t :producers_filter
          = t :producers_filter_property
        .filter-shopfront.property-selectors
          %filter-selector{ "selector-set" => "filterSelectors", objects: "Enterprises.producers | searchEnterprises:query | taxons:activeTaxons | propertiesOf:'supplied_properties'", "active-selectors" => "activeProperties"}

    = render partial: 'shared/components/filter_box'
