= inject_enterprises 
.producers{"ng-controller" => "ProducersCtrl"}
  .row
    .small-12.columns.pad-top
      %h1 Find a local producer...
      / %div 
      /   Find a 
      /   %ofn-modal{title: "producer"}
      /     = render partial: "modals/producers"
      /   from the list below:

  #active-table-search.row.pad-top
    .small-12.columns
      %input{type: :text, 
      "ng-model" => "query", 
      placeholder: "Search Producer or by Suburb / State",
      "ng-debounce" => "150",
      "ofn-disable-enter" => true}
      / %placeholder
      /   %i.ofn-i_020-search
      /   Search Producer or by Suburb / Postcode / State 

  = render partial: "producers/filters"

  .row{bindonce: true}
    .small-12.columns
      .active_table
        %producer.active_table_node.row.animate-repeat{id: "{{producer.path}}",
        "scroll-after-load" => true,
        "ng-repeat" => "producer in filteredProducers = (Producers.visible | filterProducers:query | taxons:TaxonSelector.active() | shipping:shippingTypes)",
        "ng-controller" => "ProducerNodeCtrl",
        "ng-class" => "{'closed' : !open(), 'open' : open(), 'inactive' : !producer.active}",
        id: "{{producer.hash}}"}

          .small-12.columns
            = render partial: 'producers/skinny'
            = render partial: 'producers/fat'

= render partial: "shared/footer"
