= inject_enterprises 
.producers.pad-top{"ng-controller" => "EnterprisesCtrl"}
  .row
    .small-12.columns.pad-top
      %h1 Find local producers

  = render partial: "shared/components/enterprise_search"
  = render partial: "producers/filters"

  .row{bindonce: true}
    .small-12.columns
      .active_table
        %producer.active_table_node.row.animate-repeat{id: "{{producer.path}}",
        "scroll-after-load" => true,
        "ng-repeat" => "producer in filteredEnterprises = (Enterprises.producers | searchEnterprises:query | taxons:activeTaxons)",
        "ng-controller" => "ProducerNodeCtrl",
        "ng-class" => "{'closed' : !open(), 'open' : open(), 'inactive' : !producer.active}",
        id: "{{producer.hash}}"}

          .small-12.columns
            = render partial: 'producers/skinny'
            = render partial: 'producers/fat'

        = render partial: 'shared/components/enterprise_no_results'

= render partial: "shared/footer"
