%products.small-12.columns{"ng-controller" => "ProductsCtrl", "ng-show" => "order_cycle.order_cycle_id != null",
"infinite-scroll" => "incrementLimit()", "infinite-scroll-distance" => "1"}
  = inject_enterprises 

  = form_for :order, :url => populate_orders_path, html: {:class => "custom"} do

    .row
      .small-6.columns
        %input#search.text{"ng-model" => "query", 
        placeholder: "Search",
        "ng-debounce" => "150",
        "ofn-disable-enter" => true}
      .small-6.columns
        %input.button.primary.right{type: :submit, value: "Add to Cart"}
    
    %div{bindonce: true}
      %product{"ng-controller" => "ProductNodeCtrl",
        "ng-repeat" => "product in Product.products | filter:query | orderBy:ordering.order | limitTo: limit track by product.id"}
        %div
          = render partial: "shop/products/summary"
          %div{"bo-if" => "hasVariants"}
            = render partial: "shop/products/variants"
        .variants.row{"bo-if" => "!hasVariants"}
          = render partial: "shop/products/master"
      
      %product{"ng-show" => "Product.loading"}
        .row.summary
          .small-12.columns.text-center
            Loading products
    .row
      .small-12.columns
        %input.button.primary.right.add_to_cart{type: :submit, value: "Add to Cart"}

