= cache_with_locale do
  .row.animate-slide{ "ng-show" => "query || appliedPropertiesList() || appliedTaxonsList()" }
    .small-12.columns
      .alert-box.search-alert.ng-scope
        %div{"ng-show" => "Products.products.length > 0"}

          %a.clear-all.right{"ng-click" => "clearAll()"}
            = t :products_clear
            %i.ofn-i_009-close

          %span.filter-label
            = t :products_results_for
            %span{ ng: { hide: "!query"} }
              %span.applied-search
                {{ query }}
            = render partial: 'shop/products/applied_filters_feedback'

        %div.no-results-bar{"ng-show" => "Products.products.length == 0 && !Products.loading"}
          .row.summary
            .small-12.columns
              %p.no-results
                = t :products_no_results_html, query: "<span class='applied-search'>{{query}}</span>".html_safe
                = render partial: 'shop/products/applied_filters_feedback'
              %button.clear-search{type: 'button', ng: {click: 'clearAll()'}}
                = t :products_clear_search
