- address = @user.try(address_type)
= f.fields_for address_type, address do |a|
  = a.label :firstname
  = a.text_field :firstname

  = a.label :lastname
  = a.text_field :lastname

  = a.label :phone
  = a.text_field :phone

  = a.label :address1
  = a.text_field :address1

  = a.label :address2
  = a.text_field :address2

  = a.label :city
  = a.text_field :city

  = a.label :zipcode
  = a.text_field :zipcode

  = a.label :state_id
  = a.collection_select(:state_id, a.object.country.states, :id, :name)

  = a.label :country_id
  = a.collection_select(:country_id, available_countries, :id, :name)
