%script{ type: "text/ng-template", id: "account/cards.html" }
  .credit_cards{"ng-controller" => "CreditCardsCtrl"}
    .row
      .small-12.medium-6.columns
        %span{ ng: { hide: 'savedCreditCards.length > 0' } }
          &nbsp;
        .saved_cards{ ng: { show: 'savedCreditCards.length > 0' } }
          %h3= t(:saved_cards)
          = render 'saved_cards'
        %button.button.primary{ ng: { click: 'showForm()', hide: 'CreditCard.visible' } }
          = t(:add_a_card)

      .small-12.medium-6.columns.new_card{ ng: { class: '{visible: CreditCard.visible}' } }
        %h3= t(:add_a_new_card)
        = render 'new_card_form'
