%form{ novalidate: true, "ng-submit" => "storeCard()" }
  .row
    .small-6.columns
      %label
        = t(:first_name)
        -# Changing name not permitted by default (in checkout) - can be enabled by setting an allow_name_change variable in $scope
      %input#first_name{type: :text,  "ng-model" => "secrets.first_name","ng-disabled" => "!allow_name_change", "ng-value" => "order.bill_address.firstname"}

    .small-6.columns
      %label
        = t(:last_name)
      %input#last_name{type: :text, "ng-model" => "secrets.last_name", "ng-disabled" => "!allow_name_change", "ng-value" => "order.bill_address.lastname"}
  .row
    .small-6.columns
      %label
        = t(:card_number)
      %input#card_number{type: :text, "ng-model" => "secrets.card_number", "ng-required" => "!secrets.selected_card", maxlength: 19, autocomplete: "off", "ng-disabled" => "!!secrets.selected_card"}
    .small-6.columns
      %label
        = t(:card_securitycode)
      %input#security_code{type: :text, "ng-model" => "secrets.card_verification_value", "ng-required" => "!secrets.selected_card", autocomplete: "off", "ng-disabled" => "!!secrets.selected_card"}

  .row
    .small-12.columns
      %label{for: "secrets.card_month"}
        = t(:card_expiry_date)
  .row
    .small-6.columns
      %select#card_month{"ng-model" => "secrets.card_month", "ng-options" => "currMonth.value as currMonth.key for currMonth in months", name: "secrets.card_month", "ng-required" => "!secrets.selected_card", "ng-disabled" => "!!secrets.selected_card"}
    .small-6.columns
      %select#card_year{"ng-model" => "secrets.card_year", "ng-options" => "year for year in years", name: "secrets.card_year", "ng-required" => "!secrets.selected_card", "ng-disabled" => "!!secrets.selected_card"}

  %p
    %button.button.primary{type: :submit}
      = t(:add_card)
