%script{ type: "text/ng-template", id: "account/request_shop.html" }

  = form_for Spree::User.new, :url => spree.user_request_enterprise_path(@user), :method => :post do |f|
    = hidden_field_tag :user_id, @user.id
    %select{name: "enterprises", id: "enterprises", style: "width: 50%;", onchange: "showRequestButton()"}
      %option{value: "", selected: true, disabled: true}= t(".select_an_enterprise")
      - @enterprises.each do |enterprise|
        %option{value: enterprise.id}= enterprise.name
    %p
      = f.submit "Request", :class => 'button primary'
