%section{ id: "webhook_endpoints" }
  %hr
  %h3= t('.title')
  %p= t('.description')

  %table{width: "100%"}
    %thead
      %tr
        %th= t('.event_type.header')
        %th= t('.url.header')
        %th.actions
    %tbody
      = render WebhookEndpointFormComponent.new(webhooks: @user.webhook_endpoints.order_cycle_opened, webhook_type: "order_cycle_opened")
      = render WebhookEndpointFormComponent.new(webhooks: @user.webhook_endpoints.payment_status, webhook_type: "payment_status_changed")
