= inject_orders_for_user
= inject_orders_by_distributor

.row.pad-top
  .small-12.columns.pad-top
    %h1= accurate_title
    .account-summary{"data-hook" => "account_summary"}
      %dl#user-info
        %dt= t(:email)
        %dd
          = @user.email
          (#{link_to t(:edit), spree.edit_account_path})
          -# Add back ng-cloak below
    .orders{"ng-controller" => "OrdersCtrl"}
      .row{bindonce: true}
        .small-12.columns
          .active_table
            %distributor.active_table_node.row.animate-repeat{"ng-repeat" => "(distributor_id, orders) in Orders.orders_by_distributor",
            "ng-controller" => "DistributorNodeCtrl",
            "ng-class" => "{'closed' : !open(), 'open' : open(), 'inactive' : !distributor.active}",
            id: "{{distributor_id}}"}
              .small-12.columns
                = render partial: "spree/users/fat"
                -# TODO: Skinny partial
