.darkswarm
  = inject_orders_by_distributor

  .row.pad-top
    .small-12.columns.pad-top
      %h2= accurate_title
      .account-summary{"data-hook" => "account_summary"}
        = @user.email
        (#{link_to t(:edit), spree.edit_account_path})
      %hr
      %h3= t(:my_addresses)
      .row
        .large-6.columns
          %h5= t(:billing_address)
          .pad
            %p.text-small
              = @user.bill_address.firstname + " " + @user.bill_address.lastname
              (#{link_to t(:edit), '/account/edit_address'})
              %br
              = @user.bill_address.full_address
              %br
              = @user.bill_address.phone

        .large-6.columns
          %h5= t(:shipping_address)
          .pad
            %p.text-small
              = @user.bill_address.firstname + " " + @user.bill_address.lastname
              (#{link_to t(:edit), '/account/edit_address'})
              %br
              = @user.bill_address.full_address
              %br
              = @user.bill_address.phone

      %hr

      %h3= t(:my_orders)
      .orders{"ng-controller" => "OrdersCtrl", "ng-cloak" => true}
        .row
          .small-12.columns
            .active_table
              %distributor.active_table_node.row.animate-repeat{"ng-if" => "Orders.orders_by_distributor.length > 0", "ng-repeat" => "(key, distributor) in Orders.orders_by_distributor",
              "ng-controller" => "DistributorNodeCtrl",
              "ng-class" => "{'closed' : !open(), 'open' : open(), 'inactive' : !distributor.active}",
              id: "{{distributor.hash}}"}
                .small-12.columns
                  = render partial: "spree/users/skinny"
                  = render partial: "spree/users/fat"
          .message{"ng-if" => "Orders.orders_by_distributor.length == 0", "ng-bind" => "::'you_have_no_orders_yet' | t"}

  = render partial: "shared/footer"
