.darkswarm
  = inject_orders
  = inject_shops
  = inject_saved_credit_cards

  :javascript
    angular.module('Darkswarm').value("stripeObject", Stripe("#{Stripe.publishable_key}"))

  .row.pad-top
    .small-12.columns.pad-top
      %h2
        = accurate_title
        %span.account-summary{"data-hook" => "account_summary"}
          = @user.email

    = render 'orders'
    = render 'cards'
    = render 'transactions'
    = render 'settings'

  .row.tabset-ctrl#account-tabs{ style: 'margin-bottom: 100px', navigate: 'true', selected: 'orders', prefix: 'account' }
    .small.12.medium-3.columns.tab{ name: "orders" }
      %a{ href: 'javascript:void(0)' }=t('.tabs.orders')
    - if Spree::Config.stripe_connect_enabled
      .small.12.medium-3.columns.tab{ name: "cards" }
        %a{ href: 'javascript:void(0)' }=t('.tabs.cards')
    .small.12.medium-3.columns.tab{ name: "transactions" }
      %a{ href: 'javascript:void(0)' }=t('.tabs.transactions')
    .small.12.medium-3.columns.tab{ name: "settings" }
      %a{ href: 'javascript:void(0)' }=t('.tabs.settings')
    .small-12.columns.tab-view

  = render partial: "shared/footer"
