.darkswarm
  = inject_orders_by_distributor
  = inject_saved_credit_cards

  :javascript
    Stripe.setPublishableKey("#{ENV['STRIPE_INSTANCE_PUBLISHABLE_KEY']}")

  .row.pad-top
    .small-12.columns.pad-top
      %h2
        = accurate_title
        %span.account-summary{"data-hook" => "account_summary"}
          = @user.email
          (#{link_to t(:edit), spree.edit_account_path})

    = render 'orders'
    = render 'cards'
    = render 'history'
    = render 'cards'

  .row.tabset-ctrl#account-tabs{ style: 'margin-bottom: 100px', navigate: 'true', selected: 'orders', prefix: 'account' }
    .small.12.medium-3.columns.tab{ name: "orders" } Orders
    .small.12.medium-3.columns.tab{ name: "cards" } Cards
    .small.12.medium-3.columns.tab{ name: "history" } History
    .small.12.medium-3.columns.tab{ name: "details" } Details
    .small-12.columns.tab-view

  = render partial: "shared/footer"
