%h2
  = t :modal_how
%h5
  = t :modal_how_shop
%p
  = t :modal_how_shop_explained
%h5
  = t :modal_how_pickup
%p
  = t :modal_how_pickup_explained
%h5
  = t :modal_how
%p
  = t :modal_how
%a.button.neutral-btn.dark{:href => "http://www.openfoodnetwork.org" , :target => "_blank" } Open Food Network
%a.close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close
