#products-content
  .container
    .sixteen.columns
      = render partial: 'filters', locals: { search_term: search_term,
                                              producer_id: producer_id,
                                              producer_options: producer_options,
                                              category_options: category_options,
                                              category_id: category_id }
  - if products.any?
    .container
      .sixteen.columns
        = render partial: 'sort', locals: { pagy: pagy, search_term: search_term, producer_id: producer_id, category_id: category_id }
    = render partial: 'table', locals: { products: products }
    = render partial: 'admin/shared/v3/pagy', locals: { pagy: pagy, reflex: "click->Products#fetch" }
  - else
    #no-products
      = render partial: "no_products", locals: { search_term: search_term, producer_id: producer_id, category_id: category_id }
