#products-content
  - if products.any?
    .container
      .sixteen.columns
        = render partial: 'filters', locals: { search_term: search_term }
    .container
      .sixteen.columns
        = render partial: 'sort', locals: { pagy: pagy }
    = render partial: 'table', locals: { products: products }
    = render partial: 'admin/shared/v3/pagy', locals: { pagy: pagy, reflex: "click->Products#fetch" }
  - else
    #no-products
      = t('.no_products_found')
      #no-products-actions
        %a{ href: "/admin/products/new", class: "button icon-plus", icon: "icon-plus" }
          = t(:new_product)
        %a{ href: "/admin/products/import", class: "button icon-upload secondary", icon: "icon-upload" }
          = t(".import_products")
