-# object_type can be 'variant' or 'product'
- base_translation_key = ".delete_#{object_type}_modal"
- delete_modal = ConfirmModalComponent.new(id: "#{object_type}-delete-modal",
      confirm_button_text: t("#{base_translation_key}.confirmation_text"),
      cancel_button_text: t("#{base_translation_key}.cancellation_text"),
      confirm_button_class: :red,
      actions_alignment_class: 'justify-end',
      controller: "products",
      confirm_actions: "click->products#delete_#{object_type} click->modal#close",
    )
= render delete_modal do
  %h2.margin-bottom-20.black-text
    = t("#{base_translation_key}.heading")
  %p
    = t("#{base_translation_key}.prompt")
  .margin-bottom-50
