- base_translation_key = ".delete_#{object_type}_modal"
- object_ids.each do |object_id|
  - delete_modal = ConfirmModalComponent.new(id: "delete_#{object_type}_#{object_id}",
    confirm_button_text: t("#{base_translation_key}.confirmation_text"),
    cancel_button_text: t("#{base_translation_key}.cancellation_text"),
    confirm_reflexes: nil,
    confirm_button_class: :red,
    controller: "products",
    confirm_actions: "click->products#delete#{object_type.titleize}",
    controller_data_values: {"current-id": object_id},
  )
  = render delete_modal do
    %h2.margin-bottom-20{style:'color: black'}
      = t("#{base_translation_key}.heading")
    %p
      = t("#{base_translation_key}.prompt")
    .margin-bottom-30
