= form_with url: admin_products_path, id: "filters", method: :get, data: { "search-target": "form", 'turbo-frame': "_self", 'turbo-action': "advance" } do
  = hidden_field_tag :page, nil, class: "page"
  = hidden_field_tag :per_page, params[:per_page], class: "per-page"
  = hidden_field_tag '[q][s]', params.dig(:q, :s) || 'name asc', class: 'sort', 'data-default': 'name asc'

  .query
    .search-input
      = text_field_tag :search_term, search_term, placeholder: t('.search_products')
  - if producer_options.many?
    .producers
      = label_tag :producer_id, t('.producers.label')
      = select_tag :producer_id, options_for_select(producer_options, producer_id),
        include_blank: t('.all_producers'), class: "fullwidth",
        data: { "controller": "tom-select", 'tom-select-placeholder-value': t('.search_for_producers')}
  .categories
    = label_tag :category_id, t('.categories.label')
    = select_tag :category_id, options_for_select(category_options, category_id),
      include_blank: t('.all_categories'), class: "fullwidth",
      data: { "controller": "tom-select", 'tom-select-placeholder-value': t('.search_for_categories')}
  -if variant_tag_enabled?(spree_current_user)
    .tags
      = label_tag :tags_name_in, t('.tags.label')
      - select_tag_options = { class: "fullwidth",
                               multiple: true ,
                               data: { controller: "tom-select", "tom-select-placeholder-value": t(".select_tag"), "tom-select-options-value": '{ "maxItems": 5 , "plugins": { "remove_button": {} , "no_active_items": {},  "checkbox_options": { "checkedClassNames": ["ts-checked"], "uncheckedClassNames": ["ts-unchecked"] } } }' } }
      = select_tag :tags_name_in, options_for_select(available_tags.unshift([t('.tags.none'), @none_tag_value]), tags), select_tag_options
  .submit
    .search-button
      = button_tag t(".search"), class: "secondary icon-search relaxed", name: nil
