-# locals: (form:, product:, product_index:, allowed_producers:, allowed_source_producers:, should_slide_in: false)
= form.fields_for("products", product, index: product_index) do |product_form|
  %tbody.relaxed{ id: dom_id(product), data: { 'record-id': product_form.object.id,
                          controller: "nested-form product",
                          action: 'rails-nested-form:add->bulk-form#registerElements rails-nested-form:remove->bulk-form#toggleFormChanged' },
                  class: (defined?(should_slide_in) && should_slide_in) ? 'slide-in' : '' }
    %tr
      - if allowed_source_producers.include?(product.variants.first.supplier) 
        -# Read only product
        %td.col-image.with-image{ id: "image-#{product.id}" }
          = render partial: "product_image", locals: { product:, readonly: true }
        %td.col-name.field.align-left.header
          = product_form.hidden_field :id
          .content= product.name
        %td.col-sku.field
        %td.col-unit_scale.align-right
          -# empty
        %td.col-unit.align-right
          -# empty
        %td.col-price.align-right
          -# empty
        %td.col-on_hand.align-right
          -# empty
        %td.col-producer.align-right
          -# empty
        %td.col-category.align-left
          -# empty
        %td.col-tax_category.align-left
        - if variant_tag_enabled?(spree_current_user)
          %td.col-tags.align-left
            -# empty
        %td.col-inherits_properties.align-left
          .content= product.inherits_properties ? 'YES' : 'NO' 
        %td.align-right
          -# empty

      - else
        = render partial: 'product_row', locals: { f: product_form, product: }

    - product.variants.each_with_index do |variant, variant_index|

      - next unless variant_displayable?(variant, allowed_producers, allowed_source_producers)

      - #TODO skip if super admin, move to a helper
      - if variant_readonly?(variant, allowed_producers, allowed_source_producers) 
        -# Read only variants
        %tr.condensed.nested-form-wrapper{ id: dom_id(variant) }
          %td.col-image
            -# empty
          %td.col-name
            .content= variant.display_name 
          %td.col-sku
            .content= variant.sku
          %td.col-unit_scale
            .content= variant.variant_unit.capitalize
          %td.col-unit
            .content= variant.unit_presentation
          %td.col-price
            .content= number_to_currency(variant.price, unit: '')
          %td.col-on_hand
            .content= variant.on_demand_desired_or_current ? t(:on_demand) : variant.on_hand_desired_or_current
          %td.col-producer
            .content= variant.supplier.name
          %td.col-category
            .content= variant.primary_taxon.name
          %td.col-tax_category
            .content= variant.tax_category&.name
          - # Tags associated with the source variant are not relevant to the current user
          - if variant_tag_enabled?(spree_current_user)
            %td.col-tags.field.naked_inputs
            -# empty
          %td.col-inherits_properties.align-left
            -# empty
          %td.align-right
            = render(VerticalEllipsisMenuComponent.new) do
              - if variant.persisted?
                - if variant.source_variants.empty? && allowed_source_producers.include?(variant.supplier)
                  = link_to t('admin.products_page.actions.create_linked_variant'), admin_create_linked_variant_path(variant_id: variant.id, product_index:), 'data-turbo-method': :post

      - else
        = form.fields_for("products][#{product_index}][variants_attributes", variant, index: variant_index) do |variant_form|
          %tr.condensed{ id: dom_id(variant), 'data-controller': "variant", 'class': "nested-form-wrapper", 'data-new-record': variant.new_record? ? "true" : false }
            = render partial: 'variant_row', locals: { variant:, f: variant_form, product_index: , allowed_source_producers: }

    = form.fields_for("products][#{product_index}][variants_attributes][NEW_RECORD", prepare_new_variant(product, allowed_producers)) do |new_variant_form|
      %template{ 'data-nested-form-target': "template" }
        %tr.condensed{ 'data-controller': "variant", 'class': "nested-form-wrapper", 'data-new-record': "true" }
          = render partial: 'variant_row', locals: { variant: new_variant_form.object, f: new_variant_form, allowed_source_producers: }

    %tr{ 'data-nested-form-target': "target" }

    - unless allowed_source_producers.include?(product.variants.first.supplier)
      %tr.condensed
        %td
        - colspan = variant_tag_enabled?(spree_current_user) ? 12 : 11
        %td{ colspan: "#{colspan}" }
          %button.secondary.condensed.naked.icon-plus{ 'data-action': "nested-form#add",
                                                        'aria-label': t('.new_variant') }
            =t('.new_variant')
