%tbody.relaxed{ data: { 'record-id': product_form.object.id,
                        controller: "nested-form product",
                        action: 'rails-nested-form:add->bulk-form#registerElements' }, id: "products_#{product.id}"}
  %tr
    = render partial: 'product_row', locals: { product:, f: product_form, product_index: }

  - product.variants.each_with_index do |variant, variant_index|
    = product_form.fields_for("products][#{product_index}][variants_attributes][", variant, index: variant_index) do |variant_form|
      %tr.condensed{ 'data-controller': "variant" }
        = render partial: 'variant_row', locals: { variant:, f: variant_form }

  = product_form.fields_for("products][#{product_index}][variants_attributes][NEW_RECORD", product.variants.build) do |new_variant_form|
    %template{ 'data-nested-form-target': "template" }
      %tr.condensed{ 'data-controller': "variant" }
        = render partial: 'variant_row', locals: { variant: new_variant_form.object, f: new_variant_form }

  %tr{ 'data-nested-form-target': "target" }
  %tr.condensed
    %td
    %td{ colspan: 11 }
      %button.secondary.condensed.naked.icon-plus{ 'data-action': "nested-form#add",
                                                    'aria-label': t('.new_variant') }
        =t('.new_variant')
