%td.col-image.with-image{ id: "image-#{product.id}" }
  = render partial: "product_image", locals: { product: }
%td.col-name.field.align-left.header.naked_inputs
  = f.hidden_field :id
  = f.text_field :name, 'aria-label': t('admin.products_page.columns.name')
  = error_message_on product, :name
%td.col-sku.field.naked_inputs
%td.col-unit_scale.align-right
  -# empty
%td.col-unit.align-right
  -# empty
%td.col-price.align-right
  -# empty
%td.col-on_hand.align-right
  -# empty
%td.col-producer.align-right
  -# empty
%td.col-category.align-left
  -# empty
%td.col-tax_category.align-left
- if variant_tag_enabled?(spree_current_user)
  %td.col-tags.align-left
    -# empty
%td.col-inherits_properties.align-left
  .content= product.inherits_properties ? 'YES' : 'NO' #TODO: consider using https://github.com/RST-J/human_attribute_values, else use I18n.t (also below)
%td.align-right
  = render(VerticalEllipsisMenuComponent.new) do
    = link_to t('admin.products_page.actions.edit'), edit_admin_product_path(product), 'data-turbo': false
    = link_to t('admin.products_page.actions.clone'), admin_clone_product_path(product), 'data-turbo-method': :post
    %a{ "data-controller": "modal-link", "data-action": "click->modal-link#setModalDataSetOnConfirm click->modal-link#open",
        "data-modal-link-target-value": "product-delete-modal", "class": "delete",
        "data-modal-link-modal-dataset-value": {'data-delete-path': admin_product_destroy_path(product)}.to_json }
      = t('admin.products_page.actions.delete')
    = link_to t('admin.products_page.actions.preview'), admin_product_preview_path(product), {"data-turbo-stream": "" } 
