= form_with url: bulk_update_admin_products_v3_index_path, method: :patch, id: "products-form",
            html: {'data-reflex-serialize-form': true, 'data-reflex': 'submit->products#bulk_update',
                   'data-controller': "bulk-form"} do |form|
  %fieldset.form-actions.hidden{ 'data-bulk-form-target': "actions" }
    .container
      .status.ten.columns
        .modified_summary{ 'data-bulk-form-target': "modifiedSummary", 'data-translation-key': 'admin.products_v3.table.modified_summary'}
        - if defined?(error_msg) && error_msg.present?
          .error
            = error_msg
      .form-buttons.six.columns
        = form.submit t('.reset'), type: :reset, class: "medium"
        = form.submit t('.save'), class: "medium"
  %table.products
    %col{ width:"15%" }
    %col{ width:"5%", style: "max-width:5em" }
    %col{ width:"8%" }
    %col{ width:"5%", style: "max-width:5em"}
    %col{ width:"5%", style: "max-width:5em"}
    %col{ width:"10%" }= # producer
    %col{ width:"10%" }
    %col{ width:"5%" }
    %col{ width:"5%", style: "max-width:5em" }
    %thead
      %tr
        %th.align-left.with-input= t('admin.products_page.columns.name')
        %th.align-right= t('admin.products_page.columns.sku')
        %th.align-right= t('admin.products_page.columns.unit')
        %th.align-right= t('admin.products_page.columns.price')
        %th.align-right= t('admin.products_page.columns.on_hand')
        %th.align-left= t('admin.products_page.columns.producer')
        %th.align-left= t('admin.products_page.columns.category')
        %th.align-left= t('admin.products_page.columns.tax_category')
        %th.align-left= t('admin.products_page.columns.inherits_properties')
    - products.each do |product|
      = form.fields_for("products", product, index: nil) do |product_form|
        %tbody.relaxed{ 'data-record-id': product_form.object.id }
          %tr
            %td.align-left.header
              = product_form.hidden_field :id
              = product_form.text_field :name, 'aria-label': t('admin.products_page.columns.name')
            %td.align-right
              = product_form.text_field :sku, 'aria-label': t('admin.products_page.columns.sku')
            %td.align-right
              .line-clamp-1
                = product.variant_unit.upcase_first
                / TODO: properly handle custom unit names
                = WeightsAndMeasures::UNITS[product.variant_unit] && "(" + WeightsAndMeasures::UNITS[product.variant_unit][product.variant_unit_scale]["name"] + ")"
            %td.align-right
              -# empty
            %td.align-right
              -# TODO: new requirement "DISPLAY ON DEMAND IF ALL VARIANTS ARE ON DEMAND". And translate value
              .line-clamp-1= if product.variants.all?(&:on_demand) then "On demand" else product.on_hand || 0 end
            %td.align-left
              .line-clamp-1= product.supplier.name
            %td.align-left
              .line-clamp-1= product.primary_taxon.name
            %td.align-left
            %td.align-left
              .line-clamp-1= product.inherits_properties ? 'YES' : 'NO' #TODO: consider using https://github.com/RST-J/human_attribute_values, else use I18n.t (also below)
          - product.variants.each do |variant|
            - prefix = "[products][][variants_attributes][]" # Couldn't convince the formbuilder to generate this for me, so for now we manually add the prefix
            = form.fields_for(variant) do |variant_form|
              %tr.condensed
                %td.align-left
                  = variant_form.hidden_field :id, name: "#{prefix}[id]"
                  = variant_form.text_field :display_name, name: "#{prefix}[display_name]", 'aria-label': t('admin.products_page.columns.name'), placeholder: product.name
                %td.align-right
                  = variant_form.text_field :sku, name: "#{prefix}[sku]", 'aria-label': t('admin.products_page.columns.sku')
                %td.align-right
                  .line-clamp-1= variant.unit_to_display
                %td.align-right
                  = variant_form.text_field :price, name: "#{prefix}[price]", 'aria-label': t('admin.products_page.columns.price'), value: number_to_currency(variant.price, unit: '')&.strip # TODO: add a spec to prove that this formatting is necessary. If so, it should be in a shared form helper for currency inputs
                %td.align-right
                  .line-clamp-1= variant.on_hand || 0 #TODO: spec for this according to requirements.
                %td.align-left
                  .line-clamp-1= variant.product.supplier.name # same as product
                %td.align-left
                  -# empty
                %td.align-left
                  .line-clamp-1= variant.tax_category&.name || "None" # TODO: convert to dropdown, else translate hardcoded string.
                %td.align-left
                  -# empty
