- content_for :body_class do
  products_v3_page
- content_for :page_title do
  = t('.header.title')
- content_for :page_actions do
  %div{ :class => "toolbar" }
    %ul{ :class => "actions header-action-links inline-menu" }
      %li#new_product_link
        = button_link_to t(:new_product), "/admin/products/new", { :icon => 'icon-plus', :id => 'admin_new_product' }

= render partial: 'spree/admin/shared/product_sub_menu'

#products_v3_page{ "data-controller": "products" }

  .spinner-overlay{ "data-controller": "loading", "data-products-target": "loading" }
    .spinner-container
      .spinner
      = t('.loading')
  #products-content

- delete_product_modal = ConfirmModalComponent.new(id: "delete_product",
    confirm_button_text: t('.delete_product_modal.confirmation_text'),
    cancel_button_text: t('.delete_product_modal.cancellation_text'),
    confirm_button_color: :red,
    controller: "product-actions",
    confirm_actions: "click->product-actions#delete",
    confirm_reflexes: nil)
= render delete_product_modal do
  .margin-bottom-30
    = t('.delete_product_modal.prompt_html')

- delete_variant_modal = ConfirmModalComponent.new(id: "delete_variant",
    confirm_button_text: t('.delete_variant_modal.confirmation_text'),
    cancel_button_text: t('.delete_variant_modal.cancellation_text'),
    confirm_button_color: :red)
= render delete_variant_modal do
  .margin-bottom-30
    = t('.delete_variant_modal.prompt_html')
