<table data-hook="distributors">
  <tr data-hook="name">
    <td>Name:</td>
    <td><%= f.text_field :name %></td>
  </tr>

  <tr data-hook="description">
    <td>Description:</td>
    <td><%= f.text_field :description %></td>
  </tr>

  <tr data-hook="contact">
    <td>Contact:</td>
    <td><%= f.text_field :contact %></td>
  </tr>

  <tr data-hook="phone">
    <td>Phone:</td>
    <td><%= f.text_field :phone %></td>
  </tr>

  <tr data-hook="email">
    <td>Email:</td>
    <td><%= f.text_field :email %></td>
  </tr>

  <tr data-hook="pickup_address">
    <td>Address: </td>
    <td><%= f.text_field :pickup_address %></td>
  </tr>
  <tr data-hook="pickup_city">
    <td>City:</td>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr data-hook="pickup_post_code">
    <td>Post code:</td>
    <td><%= f.text_field :post_code %></td>
  </tr>
  <tr data-hook="pickup_country">
    <td>Country: </td>
    <td><%= f.collection_select(:country_id, @countries, :id, :name, :include_blank => true) %></td>
  </tr>
  <tr data-hook="pickup_state">
    <td>State: </td>
    <td><%= f.collection_select(:state_id, @distributor.country.states, :id, :name, :include_blank => true) %></td>
  </tr>

  <tr data-hook="pickup_times">
    <td>Pickup times:</td>
    <td><%= f.text_field :pickup_times %></td>
  </tr>

  <tr data-hook="url">
    <td>URL:</td>
    <td><%= f.text_field :url %></td>
  </tr>

  <tr data-hook="abn">
    <td>ABN:</td>
    <td><%= f.text_field :abn %></td>
  </tr>

  <tr data-hook="acn">
    <td>ACN:</td>
    <td><%= f.text_field :acn %></td>
  </tr>
</table>