<h1>Distributor</h1>
<table>
  <tr>
    <th>Name</th>
    <td>
      <%= @distributor.name %>
    </td>
  </tr>

  <tr>
    <th>Description</th>
    <td>
      <%= @distributor.description %>
    </td>
  </tr>

  <tr>
    <th>Contact person</th>
    <td>
      <%= @distributor.contact %>
    </td>
  </tr>

  <tr>
    <th>Phone number</th>
    <td>
      <%= @distributor.phone %>
    </td>
  </tr>

    <tr>
    <th>Email</th>
    <td>
      <%= @distributor.email %>
    </td>
  </tr>

  <th>Pickup address</th>
    <td>
      <%= @distributor.pickup_address %>
    </td>
  </tr>
  <th>Pickup city</th>
    <td>
      <%= @distributor.city %>
    </td>
  </tr>
  <th>Pickup post code</th>
    <td>
      <%= @distributor.post_code %>
    </td>
  </tr>
  <th>Pickup country</th>
    <td>
      <%= @distributor.country.name if @distributor.country %>
    </td>
  </tr>
  <th>Pickup state</th>
    <td>
      <%= @distributor.state.name if @distributor.state %>
    </td>
  </tr>

  <th>Pickup times</th>
    <td>
      <%= @distributor.pickup_times %>
    </td>
  </tr>

  <th>ABN</th>
    <td>
      <%= @distributor.abn %>
    </td>
  </tr>

  <th>ACN</th>
    <td>
      <%= @distributor.acn %>
    </td>
  </tr>

  <th>URL</th>
    <td>
      <%= @distributor.url %>
    </td>
  </tr>
</table>

<p>
  <%= link_to :Edit, spree.edit_admin_distributor_path(@distributor), :class => 'edit_distributor' %> <%= t(:or) %>
  <%= link_to t(:back), spree.admin_distributors_path %>
</p>