= content_for :page_title do
  = Spree.t(:editing_product)
  = "\"#{@product.name}\""

= content_for :sidebar_title do
  %span.sku
    = @product.sku

= content_for :sidebar do
  %nav.menu
    %ul
      - if can?(:admin, Spree::Product)
        - klass = current == 'Product Details' ? 'active' : ''
        %li{:class => klass}
          = link_to_with_icon 'icon-edit', Spree.t(:product_details), edit_admin_product_url(@product)
      - if can?(:admin, Spree::Image)
        - klass = current == 'Images' ? 'active' : ''
        %li{:class => klass}
          = link_to_with_icon 'icon-picture', Spree.t(:images), admin_product_images_url(@product)
      - if can?(:admin, Spree::Variant)
        - klass = current == 'Variants' ? 'active' : ''
        %li{:class => klass}
          = link_to_with_icon 'icon-th-large', Spree.t(:variants),  admin_product_variants_url(@product)
      - if can?(:admin, Spree::ProductProperty)
        - klass = current == 'Product Properties' ? 'active' : ''
        %li{:class => klass}
          = link_to_with_icon 'icon-tasks', Spree.t(:product_properties), admin_product_product_properties_url(@product)
      - klass = current == 'Group Buy Options' ? 'active' : ''
      %li{:class => klass}
        = link_to_with_icon 'icon-tasks', t('admin.products.group_buy_options'), group_buy_options_admin_product_url(@product)
      - klass = current == t(:Search) ? 'active' : ''
      %li{:class => klass}
        = link_to_with_icon 'icon-tasks', t(:Search), seo_admin_product_url(@product)
