%a{'ng-click' => "sortOptions.toggle('#{column_name}')"}
  = t(".#{column_name.to_s}")
  %span{'ng-show' => "sorting == '#{column_name} asc'"}= "&#x25B2;".html_safe
  %span{'ng-show' => "sorting == '#{column_name} desc'"}= "&#x25BC;".html_safe
