
- content_for :page_title do
  = t(:account)


- if @invoices.empty?
  %h4 No invoices to display

- @invoices.order('created_at DESC').each do |invoice|
  - month = (invoice.created_at.localtime - 1.day)
  .row.invoice_title
    .eight.columns.alpha
      %h4= "#{month.strftime("%b %Y")}#{( invoice.completed_at ? '' : '*' )}"
    .eight.columns.omega.text-right
      %h4.balance= invoice.display_total
  %table.invoice_summary
    %col{ width: '20%' }
    %col{ width: '60%' }
    %col{ width: '20%' }
    %thead
      %th Date
      %th Description
      %th Charge
    - invoice.adjustments.where(source_type: 'BillablePeriod').each do |adjustment|
      - date = adjustment.label.slice!(/\[[^\]]*\]$/)
      - date = date.slice(1,date.length-2)
      %tr
        %td= date
        %td= adjustment.label
        %td= adjustment.display_amount
    - invoice.adjustments.where('source_type <> (?)', "BillablePeriod").each do |adjustment|
      %tr
        %td &nbsp;
        %td= adjustment.label
        %td= adjustment.display_amount
    %tr.total
      %td &nbsp;
      %td TOTAL
      %td= invoice.display_total

-#   - if @enterprises.empty?
-#     %h4 No enterprises to display
-#
-#   - @enterprises.each do |enterprise|
-#     %h2= enterprise.name
-#     %table
-#       %thead
-#         %th Begins
-#         %th Ends
-#         %th Sells
-#         %th Trial?
-#         %th Turnover
-#         %th Bill
-#       - enterprise.billable_periods.each do |billable_period|
-#         %tr
-#           %td= billable_period.begins_at.localtime.strftime("%F %T")
-#           %td= billable_period.ends_at.localtime.strftime("%F %T")
-#           %td= billable_period.sells
-#           %td= billable_period.trial?
-#           %td= billable_period.display_turnover
-#           %td= billable_period.display_bill
