.row
  .alpha.five.columns
    = f.field_container :name do
      = f.label :name, t(".name")
      %span.required *
      %br/
      = error_message_on :taxon, :name
      = text_field :taxon, :name, class: 'fullwidth'
    = f.field_container :meta_title do
      = f.label :meta_title, t(".meta_title")
      %br/
      = f.text_field :meta_title, class: 'fullwidth', rows: 6
    = f.field_container :meta_description do
      = f.label :meta_description, t(".meta_description")
      %br/
      = f.text_field :meta_description, class: 'fullwidth', rows: 6
    = f.field_container :meta_description do
      = f.label :meta_keywords, t(".meta_keywords")
      %br/
      = f.text_field :meta_keywords, class: 'fullwidth', rows: 6
    = f.field_container :dfc_id do
      = f.label :dfc_id, t(".dfc_id")
      %br/
      = f.text_field :dfc_id, class: 'fullwidth', rows: 6
  .omega.seven.columns
    = f.field_container :description do
      = f.label :description, t(".description")
      %br/
      = f.text_area :description, class: 'fullwidth', rows: 6
