= render partial: 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t(".title")

- content_for :page_actions do
  %li
    = button_link_to t("spree.admin.taxons.back_to_list"), admin_taxons_path, icon: 'icon-arrow-left'

= form_with model: @taxon, url: admin_taxon_path(@taxon.id),
      data: { turbo: true }, id: "edit-taxon-#{@taxon.id}",
      method: :put, html: { multipart: true } do |f|
  = render partial: 'form', locals: { f: f }
  .form-buttons
    = button t('spree.actions.update'), 'icon-refresh'
    = button_link_to t('spree.actions.cancel'), admin_taxons_url, icon: "icon-remove"
