= link_to_with_icon('icon-edit', 'Edit Profile', main_app.edit_admin_enterprise_path(enterprise), class: 'edit')
%br/

- if can? :destroy, enterprise
  = link_to_delete_enterprise enterprise
  %br/

- if enterprise.is_primary_producer
  = link_to_with_icon 'icon-dashboard', 'Properties', main_app.admin_enterprise_producer_properties_path(enterprise_id: enterprise.id)
  (#{enterprise.producer_properties.count})
  %br/

- if enterprise.is_distributor
  - if can?(:admin, Spree::PaymentMethod) && can?(:manage_payment_methods, enterprise)
    = link_to_with_icon 'icon-chevron-right', 'Payment Methods', spree.admin_payment_methods_path(enterprise_id: enterprise.id)
    (#{enterprise.payment_methods.count})
    - if enterprise.payment_methods.count == 0
      %span.icon-exclamation-sign.with-tip{"data-powertip" => "This enterprise has no payment methods", style: "font-size: 16px;color: #DA5354"}
    %br/

  - if can?(:admin, Spree::ShippingMethod) && can?(:manage_shipping_methods, enterprise)
    = link_to_with_icon 'icon-plane', 'Shipping Methods', spree.admin_shipping_methods_path(enterprise_id: enterprise.id)
    (#{enterprise.shipping_methods.count})
    - if enterprise.shipping_methods.count == 0
      %span.icon-exclamation-sign.with-tip{"data-powertip" => "This enterprise has shipping methods", style: "font-size: 16px;color: #DA5354"}
    %br/

- if can?(:admin, EnterpriseFee) && can?(:manage_enterprise_fees, enterprise)
  = link_to_with_icon 'icon-money', 'Enterprise Fees', main_app.admin_enterprise_fees_path(enterprise_id: enterprise.id)
  (#{enterprise.enterprise_fees.count})
  - if enterprise.enterprise_fees.count == 0
    %span.icon-warning-sign.with-tip{"data-powertip" => "This enterprise has no fees", style: "font-size: 16px;color: orange"}
