%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='Primary Details'" } }
  %legend Primary Details
  = render 'admin/enterprises/form/primary_details', f: f

= f.fields_for :address do |af|
  %fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='Address'" } }
    %legend Address
    = render 'admin/enterprises/form/address', af: af

%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='Contact'" } }
  %legend Contact
  = render 'admin/enterprises/form/contact', f: f

%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='Social'" } }
  %legend Social
  = render 'admin/enterprises/form/social', f: f

%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='Business Details'" } }
  %legend Business Details
  = render 'admin/enterprises/form/business_details', f: f

%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='About'" } }
  %legend About Us
  = render 'admin/enterprises/form/about_us', f: f

%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='Images'" } }
  %legend Images
  = render 'admin/enterprises/form/images', f: f

%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='Enterprise Fees'" } }
  %legend Enterprise Fees
  = render 'admin/enterprises/form/enterprise_fees', f: f
