= render 'admin/enterprises/form/primary_details', f: f
= render 'admin/enterprises/form/address', f: f
= render 'admin/enterprises/form/contact_and_social', f: f
= render 'admin/enterprises/form/business_details', f: f
= render 'admin/enterprises/form/about_us', f: f
= render 'admin/enterprises/form/images', f: f
