- content_for :head do
  = render 'shared/cms_elrte_head'

%table{"data-hook" => "distributors"}
  %tr{"data-hook" => "name"}
    %td Name:
    %td= f.text_field :name
  %tr
    %td
    %td
      / what about the data-hook?
      / {'data-hook' => "is_primary_producer"}
      = f.check_box :is_primary_producer
      Producer
      / %tr{'data-hook' => "is_distributor"}
      / here should be a gap
      = f.check_box :is_distributor
      Distributor
      / this should be at the right side
      %a Tell me more?
  %tr
    %th Address
  = f.fields_for :address do |af|
    %tr
      %td Address
      %td= af.text_field :address1
      %td Address (cont.)
      %td= af.text_field :address2
    %tr
      %td Suburb
      %td= af.text_field :city
      %td Postcode
      %td= af.text_field :zipcode
    %tr
      %td
      %td
        = af.collection_select(:state_id, af.object.country.states, :id, :name)
        = af.collection_select(:country_id, available_countries, :id, :name)


