- side_menu_items(@enterprise).each do |item|
  - next unless item[:show]
  - case item[:name]
  - when 'primary_details'
    %fieldset.alpha.no-border-bottom{ id: "#{item[:name]}_form", data: { "enterprise-form-target": "form default"  }}
      %legend= t("#{ item[:name] }")
      = render "admin/enterprises/form/#{ item[:form_name] || item[:name] }", f: f

  - when 'address'
    = f.fields_for :address do |af|
      %fieldset.alpha.no-border-bottom{ id: "#{item[:name]}_form", data: { "enterprise-form-target": "form" }}
        %legend= t("#{ item[:name] }")
        = render 'admin/enterprises/form/address', af: af

  - when 'enterprise_permissions'
    %fieldset.alpha.no-border-bottom{ id: "#{item[:name]}_form", data: { "enterprise-form-target": "form" }}
      %legend= t("#{ item[:name] }")

  - else
    %fieldset.alpha.no-border-bottom{ id: "#{item[:name]}_form", data: { "enterprise-form-target": "form"  }}
      %legend= t("#{ item[:name] }")
      = render "admin/enterprises/form/#{ item[:form_name] || item[:name] }", f: f
