= admin_inject_enterprise(@enterprise)
= admin_inject_taxons(@taxons)
= admin_inject_payment_methods(@payment_methods)
= admin_inject_shipping_methods(@shipping_methods)
= admin_inject_available_countries(module: 'admin.enterprises')
