- content_for :head do
  = render 'shared/cms_elrte_head'

%table{"data-hook" => "distributors"}
  %tr{"data-hook" => "name"}
    %td Name:
    %td= f.text_field :name
  %tr
    %td
    %td
      / what about the data-hook?
      / {'data-hook' => "is_primary_producer"}
      = f.check_box :is_primary_producer
      Producer
      / %tr{'data-hook' => "is_distributor"}
      / here should be a gap
      = f.check_box :is_distributor
      Distributor
      / this should be at the right side
      %a Tell me more?
  %tr
    %th Address
  = f.fields_for :address do |af|
    %tr
      %td Address
      %td= af.text_field :address1
      %td Address (cont.)
      %td= af.text_field :address2
    %tr
      %td Suburb
      %td= af.text_field :city
      %td Postcode
      %td= af.text_field :zipcode
    %tr
      %td
      %td
        = af.collection_select(:state_id, af.object.country.states, :id, :name)
        = af.collection_select(:country_id, available_countries, :id, :name)
  %tr
    %th Contact Details
    %th
    %th Enterprise Details
    %th
  %tr
    %td Name
    %td= f.text_field :contact
    %td ABN / ACN
    %td= f.text_field :abn
  %tr
    %td Email
    %td= f.text_field :email
    %td Website
    %td= f.text_field :website
  %tr
    %td Phone
    %td= f.text_field :phone
    %td Facebook
    %td= f.text_field :twitter
    / TODO: facebook data field
  %tr
    %td
    %td
    %td Twitter
    %td= f.text_field :twitter
  %tr
    %th About Us
  %tr
    %td Short Description
    %td= f.text_field :description
  %tr
    %td About Us
    %td= f.text_area :long_description, :class => 'rich_text'
  %tr
    %td How does it work?
    %td= f.text_area :long_description, :class => 'rich_text'
    / TODO: hub explanation data field
  %tr
    %td Logo
    %td
      = f.file_field :logo
      = image_tag @object.logo.url
    %td Promo
    %td
      = f.file_field :promo_image
      = image_tag @object.promo_image.url


