= admin_inject_enterprise
= admin_inject_taxons
= admin_inject_payment_methods
= admin_inject_shipping_methods
= admin_inject_enterprise_permissions
= admin_inject_available_countries(module: 'admin.enterprises')
