- content_for :head do
  = render 'shared/cms_elrte_head'

%style
  div.enterprise-form {
  border: 1px dashed grey;
  margin-bottom: 1em;
  padding: 1em;
  }
  fieldset {
  font-size: 100%;
  }
  label {
  text-transform:none;
  margin-right: 1em;
  }
  input {
  margin: 0.5em 0em;
  }
  label.leftcol {
  display: inline-block;
  width: 10em;
  }
  label.leftcol+input {
  margin-right: 3em;
  }
  input#enterprise_is_primary_producer {
  margin-left: 10em;
  }
  div.input-compound {
  display: inline-block;
  }

%div.enterprise-form{data-hook: "distributors"}
  %label.leftcol{for: "enterprise_name", 'data-hook' => "name"} Name
  = f.text_field :name
  %div
    = f.check_box :is_primary_producer
    %label{for: "enterprise_is_primary_producer", 'data-hook' => "is_primary_producer"} Producer
    = f.check_box :is_distributor
    %label{for: "enterprise_is_distributor", 'data-hook' => "is_distributor"} Hub
    %a Tell me more?
  = f.fields_for :address do |af|
    %fieldset
      %legend Address
      %label.leftcol{for: "enterprise_address_attributes_address1"} Address
      = af.text_field :address1
      %div.input-compound
        %label.leftcol{for: "enterprise_address_attributes_address2"} Address (cont.)
        = af.text_field :address2
    
    

%table{"data-hook" => "distributors"}
  %tr
    %th Address
  = f.fields_for :address do |af|
    %tr
      %td Address
      %td= af.text_field :address1
      %td Address (cont.)
      %td= af.text_field :address2
    %tr
      %td Suburb
      %td= af.text_field :city
      %td Postcode
      %td= af.text_field :zipcode
    %tr
      %td
      %td
        = af.collection_select(:state_id, af.object.country.states, :id, :name)
        = af.collection_select(:country_id, available_countries, :id, :name)
  %tr
    %th Contact Details
    %th
    %th Enterprise Details
    %th
  %tr
    %td Name
    %td= f.text_field :contact
    %td ABN / ACN
    %td= f.text_field :abn
  %tr
    %td Email
    %td= f.text_field :email
    %td Website
    %td= f.text_field :website
  %tr
    %td Phone
    %td= f.text_field :phone
    %td Facebook
    %td= f.text_field :twitter
    / TODO: facebook data field
  %tr
    %td
    %td
    %td Twitter
    %td= f.text_field :twitter
  %tr
    %th About Us
  %tr
    %td Short Description
    %td= f.text_field :description
  %tr
    %td About Us
    %td= f.text_area :long_description, :class => 'rich_text'
  %tr
    %td How does it work?
    %td= f.text_area :long_description, :class => 'rich_text'
    / TODO: hub explanation data field
  %tr
    %td Logo
    %td
      = f.file_field :logo
      = image_tag @object.logo.url
    %td Promo
    %td
      = f.file_field :promo_image
      = image_tag @object.promo_image.url


