= admin_inject_enterprise
= admin_inject_payment_methods
= admin_inject_shipping_methods

.sixteen.columns.alpha{ ng: { app: 'admin.enterprises', controller: 'enterpriseCtrl' } }
  .twelve.columns.alpha
    = render 'form', f: f
  .four.columns.omega
    = render 'sidebar', f: f
