-# Not all inputs are ng inputs, they don't make the ng-form dirty on change.
-# ng-change is only valid for inputs, not for a form.
-# So we use onchange and have to get the scope to access the ng controller
= form_for [main_app, :admin, @enterprise], html: { name: "enterprise",
  "ng-app" => 'admin.enterprises',
  "ng-submit" => "navClear()",
  "ng-controller" => 'enterpriseCtrl',
  'onchange' => 'angular.element(enterprise).scope().enterprise.$setDirty()',
  } do |f|
  .row
    .sixteen.columns.alpha
      .four.columns.alpha
        = render 'side_menu'
      .one.column &nbsp;
      .eleven.columns.omega.fullwidth_inputs
        = render 'form', f: f
  .row
    .five.columns.alpha
      &nbsp;
    .eleven.columns.alpha
      = render partial: "spree/admin/shared/#{action}_resource_links"
