- payment_methods_color = @payment_methods.count > 0 ? (@enterprise.payment_methods.count > 0 ? "blue" : "red") : "red"
.sidebar_item.four.columns.alpha#payment_methods
  .four.columns.alpha.header{ class: "#{payment_methods_color}" }
    %span.four.columns.alpha.centered Payment Methods
  .four.columns.alpha.list{ class: "#{payment_methods_color}" }
    - if @payment_methods.count > 0
      - @payment_methods.each do |payment_method|
        %a.four.columns.alpha.list-item{ class: "#{cycle('odd','even')}", href: "#{edit_admin_payment_method_path(payment_method)}" }
          %span.three.columns.alpha
            = payment_method.name
          %span.one.column.omega
            = f.check_box :payment_method_ids, { :multiple => true }, payment_method.id, nil
    - else
      .four.columns.alpha.list-item
        %span.three.columns.alpha None Available
        %span.one.column.omega
          %span.icon-remove-sign
  %a.four.columns.alpha.button{ href: "#{new_admin_payment_method_path}", class: "#{payment_methods_color}" }
    CREATE NEW
    %span.icon-arrow-right

- shipping_methods_color = @shipping_methods.count > 0 ? (@enterprise.shipping_methods.count > 0 ? "blue" : "red") : "red"
.sidebar_item.four.columns.alpha#shipping_methods
  .four.columns.alpha.header{ class: "#{shipping_methods_color}" }
    %span.four.columns.alpha.centered Shipping Methods
  .four.columns.alpha.list{ class: "#{shipping_methods_color}" }
    - if @shipping_methods.count > 0
      - @shipping_methods.each do |shipping_method|
        %a.four.columns.alpha.list-item{ class: "#{cycle('odd','even')}", href: "#{edit_admin_shipping_method_path(shipping_method)}" }
          %span.three.columns.alpha
            = shipping_method.name
          %span.one.column.omega
            = f.check_box :shipping_method_ids, { :multiple => true }, shipping_method.id, nil
    - else
      .four.columns.alpha.list-item
        %span.three.columns.alpha None Available
        %span.one.column.omega
          %span.icon-remove-sign
  %a.four.columns.alpha.button{ href: "#{new_admin_shipping_method_path}", class: "#{shipping_methods_color}" }
    CREATE NEW
    %span.icon-arrow-right

- enterprise_fees_color = @enterprise_fees.count > 0 ? "blue" : "red"
.sidebar_item.four.columns.alpha#enterprise_fees
  .four.columns.alpha.header{ class: "#{enterprise_fees_color}" }
    %span.four.columns.alpha.centered Enterprise Fees
  .four.columns.alpha.list{ class: "#{enterprise_fees_color}" }
    - if @enterprise_fees.count > 0
      - @enterprise_fees.each do |enterprise_fee|
        %a.four.columns.alpha.list-item{ class: "#{cycle('odd','even')}", href: "#{main_app.admin_enterprise_fees_path}" }
          %span.three.columns.alpha
            = enterprise_fee.name
          %span.one.column.omega
            &nbsp;
    - else
      .four.columns.alpha.list-item.red
        %span.three.columns.alpha None Available
        %span.one.column.omega
          %span.icon-remove-sign
  %a.four.columns.alpha.button{ href: "#{main_app.admin_enterprise_fees_path}", class: "#{enterprise_fees_color}" }
    CREATE NEW
    %span.icon-arrow-right