.sidebar_item.four.columns.alpha#shipping_methods{ ng: { show: 'Enterprise.sells != "none"' } }
  .four.columns.alpha.header{ ng: { class: "shippingMethodsColor()" } }
    %span.four.columns.alpha.centered Shipping Methods
  .four.columns.alpha.list{ ng: { class: "shippingMethodsColor()" } }
    - if @shipping_methods.count > 0
      - @shipping_methods.each do |shipping_method|
        %span.four.columns.alpha.list-item{ class: "#{cycle('odd','even')}", ng: { controller: 'shippingMethodCtrl', init: "findShippingMethodByID(#{shipping_method.id})" } }
          %span.four.columns
            %span.three.columns.alpha
              %label
                = f.check_box :shipping_method_ids, { :multiple => true, 'ng-model' => 'ShippingMethod.selected' }, shipping_method.id, nil
                = shipping_method.name
            %a.one.columns.omega{ href: "#{edit_admin_shipping_method_path(shipping_method)}" }
              %span.one.column.alpha.icon-arrow-right
    - else
      .four.columns.alpha.list-item
        %span.three.columns.alpha None Available
        %span.one.column.omega
          %span.icon-remove-sign
  %a.four.columns.alpha.button{ href: "#{new_admin_shipping_method_path}", ng: { class: "shippingMethodsColor()" } }
    CREATE NEW
    %span.icon-arrow-right

