= render :partial => 'spree/shared/error_messages', :locals => { :target => @enterprise }

- content_for :page_title do
  Editing:
  = @enterprise.name

= form_for [main_app, :admin, @enterprise] do |f|
  = render 'ng_form', f: f
  .twelve.columns.alpha
    = render partial: 'spree/admin/shared/edit_resource_links'
