= render partial: 'spree/shared/error_messages', locals: { target: @enterprise }

- content_for :page_title do
  = t('.editing')
  = @enterprise.name

- content_for :main_ng_app_name do
  = "admin.enterprises"

- content_for :page_actions do
  %li= select :enterprise, :id, options_for_select(editable_enterprises.collect {|e| [e.name, e.id, {:'data-url' => "#{main_app.edit_admin_enterprise_path(e.permalink)}", :'ng-selected' => "selected==#{e.id}"}]}, @enterprise.id ), {}, {:'enterprise-switcher' => '', 'data-initial' => "#{@enterprise.id}", :'ng-init' => "selected='#{@enterprise.id}'", :'ng-model' => 'selected', :id => 'enterprise_switcher', :class => 'select2'}
  %li= button_link_to t('.back_link'), main_app.admin_enterprises_path, icon: 'icon-arrow-left'

= render 'admin/enterprises/form_data'

= render 'admin/enterprises/ng_form', action: 'edit'
