- content_for :page_title do
  = t('.title')

- content_for :main_ng_app_name do
  = "admin.enterprises"

- content_for :page_actions do
  %li#user_guide_link
    = render 'admin/shared/user_guide_link'

  %li#new_product_link
    - button_href = spree_current_user.can_own_more_enterprises? ? main_app.new_admin_enterprise_path : '#'
    - modal_message = t('js.admin.enterprise_limit_reached', contact_email: ContentConfig.footer_email)
    = button_link_to t('.new_enterprise'), button_href, icon: 'icon-plus', id: 'admin_new_enterprise_link', 'enterprise-limit' => !spree_current_user.can_own_more_enterprises?, 'modal-message' => modal_message

= admin_inject_column_preferences module: 'admin.enterprises', action: "enterprises_index"

= render 'admin/shared/enterprises_sub_menu'

= render partial: 'spree/shared/error_messages', locals: { target: @enterprise_set }

- if spree_current_user.admin?
  = render 'admin_index'
- else
  = render 'enterprise_user_index'
