- content_for :page_title do
  = t('.title')

- content_for :page_actions do
  = render 'admin/shared/user_guide_link'

  - if spree_current_user.can_own_more_enterprises?
    %li#new_product_link
      = button_link_to t('.new_enterprise'), main_app.new_admin_enterprise_path, icon: 'icon-plus', id: 'admin_new_enterprise_link'

= admin_inject_monthly_bill_description
= admin_inject_column_preferences module: 'admin.enterprises', action: "enterprises_index"

= render 'admin/shared/enterprises_sub_menu'

= render partial: 'spree/shared/error_messages', locals: { target: @enterprise_set }

- if spree_current_user.admin?
  = render 'admin_index'
- else
  = render 'enterprise_user_index'
