= render partial: 'spree/shared/error_messages', locals: { target: @enterprise }

- content_for :page_title do
  = t('.title')

- content_for :page_actions do
  %li= button_link_to t('.back_link'), main_app.admin_enterprises_path, icon: 'icon-arrow-left'

- content_for :app_wrapper_attrs do
  = "ng-app='admin.enterprises'"

= admin_inject_available_countries(module: 'admin.enterprises')
= admin_inject_json "admin.enterprises", "defaultCountryID", Spree::Config[:default_country_id]

-# Form

= form_for [main_app, :admin, @enterprise], html: { "nav-check" => '', "nav-callback" => '' } do |f|
  .row
    .twelve.columns.fullwidth_inputs{ ng: { controller: "NewEnterpriseController" } }
      = render 'new_form', f: f
