= render :partial => 'spree/shared/error_messages', :locals => { :target => @enterprise }

- content_for :page_title do
  New Enterprise

= form_for [main_app, :admin, @enterprise] do |f|
  .eleven.columns.alpha
    = render :partial => 'form', :locals => { :f => f }
  .one.column &nbsp;
  .four.columns.omega
    = render :partial => 'sidebar', :locals => { :f => f }
  .twelve.columns.alpha
    -# Save, Save & Close and Cancel button
    = render :partial => 'spree/admin/shared/new_resource_links'
