%fieldset#details
  %accordion-group{"is-open" => "accordion.details"}
    %div{"ng-controller" => "DetailsSubCtrl"}
      {{ detailsValid() }}
      %accordion-heading
        .row
          .large-6.columns
            Customer Details
          .large-6.columns.text-right
            {{ order.bill_address.firstname }}
            {{ order.bill_address.lastname }}
      .row
        .large-6.columns
          = f.email_field :email, required: "", "ng-model" => "order.email",
            "ng-change" => "next()",
            "ng-class" => "{error: '!emailValid()'}"
          %small.error.medium.input-text{"ng-show" => "emailValid()"}
            {{ emailError() }}

        = f.fields_for :bill_address, @order.bill_address do |ba|
          .large-6.columns
            = ba.number_field :phone, "ng-model" => "order.bill_address.phone", required: "",
            "ng-class" => "{error: '!phoneValid()'}"
            %small.error.medium.input-text{"ng-show" => "phoneValid()"}
              {{ phoneError() }}

      = f.fields_for :bill_address, @order.bill_address do |ba|
        .row
          .large-6.columns
            = ba.text_field :firstname, "ng-model" => "order.bill_address.firstname"

          .large-6.columns
            = ba.text_field :lastname, "ng-model" => "order.bill_address.lastname"

