%checkout{"ng-controller" => "CheckoutCtrl"}
  = form_for @order, url: "test" do |f|
    .large-12.columns
      %fieldset#details
        %legend Customer Details
        .row
          .large-6.columns
            = f.label :email, "Email Address"
            = f.text_field :email 
          = f.fields_for @order.bill_address do |ba|
            .large-6.columns
              = ba.label :phone
              = ba.text_field :phone 
        = f.fields_for @order.bill_address do |ba|
          .row
            .large-6.columns
              = ba.label :firstname
              = ba.text_field :firstname
            .large-6.columns
              = ba.label :lastname
              = ba.text_field :lastname

        %fieldset
          %legend Billing Address
          = f.fields_for @order.bill_address do |ba|
            .row
              .large-12.columns
                = ba.label :address1
                = ba.text_field :address1
            .row
              .large-12.columns
                = ba.label :address2
                = ba.text_field :address2
            .row
              .large-6.columns
                = ba.label :city
                = ba.text_field :city
              .large-6.columns
                = ba.label :country
                = ba.text_field :country
            .row
              .large-6.columns.right
                = ba.label :zipcode
                = ba.text_field :zipcode

      %fieldset#shipping
        %legend Shipping 

        - for ship_method in current_distributor.shipping_methods.uniq
          .row
            .large-12.columns
              %label
                = f.radio_button :shipping_method, ship_method.id,
                  "ng-model" => "shipping_method",
                  "ng-change" => "shippingMethodChanged()",
                  "data-require-ship-address" => ship_method.require_ship_address
                = ship_method.name

        = fields_for @order.ship_address do |sa|
          #ship_address{"ng-show" => "require_ship_address"}
            .row
              .large-12.columns
                = sa.label :address1
                = sa.text_field :address1
            .row
              .large-12.columns
                = sa.label :address2
                = sa.text_field :address2

            .row
              .large-6.columns
                = sa.label :city
                = sa.text_field :city
              .large-6.columns
                = sa.label :country
                = sa.text_field :country
            .row
              .large-6.columns.right
                = sa.label :zipcode
                = sa.text_field :zipcode
            .row
              .large-6.columns
                = sa.label :firstname
                = sa.text_field :firstname
              .large-6.columns
                = sa.label :lastname
                = sa.text_field :lastname
      %fieldset#payment
        %legend Payment Details
        - current_order.available_payment_methods.each do |method|
          .row
            .large-12.columns
              %label
                = radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, false,
                  "ng-model" => "payment_method"
                = method.name
          .row{"ng-show" => "payment_method == #{method.id}"}
            .large-12.columns
              = render partial: "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method }
