%checkout{"ng-controller" => "CheckoutCtrl"}
  = f_form_for current_order, url: main_app.shop_update_checkout_path, html: {name: "checkout", id: "checkout_form"} do |f|
    .large-12.columns
      %fieldset#details
        %legend Customer Details
        .row
          .large-6.columns
            = f.text_field :email 
          = f.fields_for :bill_address do |ba|
            .large-6.columns
              = ba.text_field :phone 
        = f.fields_for :bill_address do |ba|
          .row
            .large-6.columns
              = ba.text_field :firstname
            .large-6.columns
              = ba.text_field :lastname

        %fieldset
          %legend Billing Address
          = f.fields_for :bill_address do |ba|
            .row
              .large-12.columns
                = ba.text_field :address1, label: "Billing Address"
            .row
              .large-12.columns
                = ba.text_field :address2
            .row
              .large-6.columns
                = ba.text_field :city
              .large-6.columns
                = ba.select :country_id, Spree::Country.order(:name).select([:id, :name]).map{|c| [c.name, c.id]}
            .row
              .large-6.columns
                = ba.select :state_id, Spree::State.order(:name).select([:id, :name]).map{|c| [c.name, c.id]}
              .large-6.columns.right
                = ba.text_field :zipcode

      %fieldset#shipping
        %legend Shipping
        - checked_id = @order.shipping_method_id || current_distributor.shipping_methods.first.id 
        - for ship_method, i in current_distributor.shipping_methods.uniq
          .row
            .large-12.columns
              = f.radio_button :shipping_method_id, ship_method.id,
                text: ship_method.name,
                "ng-init" => "shipping_method = #{checked_id}",
                "ng-model" => "shipping_method",
                "ng-change" => "shippingMethodChanged()",
                "data-require-ship-address" => ship_method.require_ship_address

        = fields_for current_order.ship_address do |sa|
          #ship_address{"ng-show" => "require_ship_address"}
            .row
              .large-12.columns
                = sa.text_field :address1
            .row
              .large-12.columns
                = sa.text_field :address2

            .row
              .large-6.columns
                = sa.text_field :city
              .large-6.columns
                = sa.text_field :country
            .row
              .large-6.columns.right
                = sa.text_field :zipcode
            .row
              .large-6.columns
                = sa.text_field :firstname
              .large-6.columns
                = sa.text_field :lastname
      %fieldset#payment
        %legend Payment Details
        - current_order.available_payment_methods.each do |method|
          .row
            .large-12.columns
              %label
                = radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, false,
                  "ng-model" => "payment_method"
                = method.name
          .row{"ng-show" => "payment_method == #{method.id}"}
            .large-12.columns
              = render partial: "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method }
