%fieldset#shipping
  %ng-form{"ng-controller" => "ShippingCtrl", name: "shipping"}
    %accordion-group{"is-open" => "accordion.shipping",
      "ng-class" => "{valid: shipping.$valid}"}
      %accordion-heading
        .row
          .large-6.columns
            Shipping 
          .large-6.columns.text-right
            {{ Order.shippingMethod().name }}
      - for ship_method, i in current_distributor.shipping_methods.uniq
        .row
          .large-12.columns
            %label
              = radio_button_tag "order[shipping_method_id]", ship_method.id, false,
                "ng-model" => "order.shipping_method_id"
              = ship_method.name

      #distributor_address.panel{"ng-show" => "!Order.requireShipAddress()"}
        = @order.distributor.distributor_info.andand.html_safe
        = @order.order_cycle.pickup_time_for(@order.distributor)
        = @order.order_cycle.pickup_instructions_for(@order.distributor) 

      = f.fields_for :ship_address, @order.ship_address do |sa|
        #ship_address{"ng-show" => "Order.requireShipAddress()"}
          %label
            = hidden_field_tag "order[ship_address_same_as_billing]", "false"
            = check_box_tag "order[ship_address_same_as_billing]", true, @order.ship_address_same_as_billing, 
              "ng-model" => "order.ship_address_same_as_billing"
            Shipping address same as billing address?

          %div.visible{"ng-show" => "!order.ship_address_same_as_billing"}
            .row
              .large-12.columns
                = validated_input "Address", "order.ship_address.address1"
            .row
              .large-12.columns
                = validated_input "Address (contd.)", "order.ship_address.address2"
            .row
              .large-6.columns
                = validated_input "City", "order.ship_address.city"
              .large-6.columns
                = sa.select :state_id, @order.shipping_address.country.states.map{|c|[c.name, c.id]}
            .row
              .large-6.columns
                = validated_input "Postcode", "order.ship_address.zipcode"
              .large-6.columns.right
                = sa.select :country_id, available_countries.map{|c|[c.name, c.id]},
                  {include_blank: false}
            .row
              .large-6.columns
                = validated_input "First Name", "order.ship_address.firstname"
              .large-6.columns
                = validated_input "Last Name", "order.ship_address.last"
            .row
              .large-6.columns
                = validated_input "Phone", "order.ship_address.phone"

          -##ship_address_hidden{"ng-show" => "order.ship_address_same_as_billing"}
            -#= sa.hidden_field :address1, "ng-value" => "order.bill_address.address1", 
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
            -#= sa.hidden_field :address2, "ng-value" => "order.bill_address.address2",
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
            -#= sa.hidden_field :city, "ng-value" => "order.bill_address.city",
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
            -#= sa.hidden_field :country_id, "ng-value" => "order.bill_address.country_id",
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
            -#= sa.hidden_field :zipcode, "ng-value" => "order.bill_address.zipcode",
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
            -#= sa.hidden_field :firstname, "ng-value" => "order.bill_address.firstname",
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
            -#= sa.hidden_field :lastname, "ng-value" => "order.bill_address.lastname",
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
            -#= sa.hidden_field :phone, "ng-value" => "order.bill_address.phone",
              -#"ng-disabled" => "!order.ship_address_same_as_billing"
