%orderdetails{"ng-controller" => "CheckoutCtrl"}
  = form_for current_order, url: "#", html: {"ng-submit" => "purchase($event)"} do |f|
    %fieldset
      %legend Your Order
      %table
        %tr
          %th Produce 
          %td= current_order.display_item_total

        - checkout_adjustments_for_summary(current_order).each do |adjustment|
          %tr
            %th= adjustment.label 
            %td= adjustment.display_amount.to_html
        %tr
          %th Shipping
          %td {{ Order.shippingPrice() | currency }}
        %tr
          %th Cart total 
          %td {{ Order.cartTotal() | currency }}
        - if current_order.price_adjustment_totals.present?
          - current_order.price_adjustment_totals.each do |label, total|
            %tr
              %th= label
              %td= total

      = f.submit "Purchase", class: "button"
      %a.button.secondary{href: cart_url} Back to Cart

