.darkswarm
  - content_for :order_cycle_form do
    %strong.avenir
      Order ready on
      = pickup_time current_order_cycle

  = render partial: "shop/details"
   
  %checkout{"ng-controller" => "CheckoutCtrl"}
    %accordion.row{"close-others" => "false"}
      .large-9.columns
        - unless spree_current_user
          = render partial: "shop/checkout/authentication"
        .row
          = render partial: "shop/checkout/form"

      .large-3.columns
        .row
          = render partial: "shop/checkout/summary"

