= render :partial => 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t(:accounts_and_billing_settings)

= render 'spree/shared/error_messages', target: @settings

.row{ ng: { app: 'admin.accounts_and_billing_settings' } }
  .twelve.columns.alpha.omega
    = form_for @settings, as: :settings, url: main_app.admin_accounts_and_billing_settings_path, :method => :put do |f|
      %fieldset.no-border-bottom
        %legend Settings
        .field
          = f.label :accounts_distributor_id, t(:accounts_administration_distributor)
          = f.collection_select(:accounts_distributor_id, @distributors, :id, :name, { include_blank: true }, { class: "select2 fullwidth", 'watch-value-as' => "enterprise_id"})

        = f.hidden_field :default_accounts_payment_method_id, value: ''
        = f.hidden_field :default_accounts_shipping_method_id, value: ''
        %div{ 'method-settings-for' => 'enterprise_id' }

        .form-buttons{"data-hook" => "buttons"}
          = button t(:update), 'icon-refresh', value: "update"

.row
  .six.columns.alpha
    %fieldset.no-border-bottom
      %legend Billing Information

      %p
        Use this button to calculate the billable total for the month to date for each enterprise in the system. Do this before generating invoices on the right.

      %br

      .form-buttons{"data-hook" => "buttons"}
        = link_to_with_icon "icon-bar-chart", "Calculate Totals Now", main_app.start_job_admin_accounts_and_billing_settings_path(job_name: "billable_periods"), { class: 'button', disabled: @billing_period_job.present?}


      - if @billing_period_job
        %p.text-center
          - if @billing_period_job.run_at < Time.now
            %strong In Progress
            %br
            Started at:
          - else
            %strong Queued
            %br
            Scheduled for:
          = @billing_period_job.run_at

  .six.columns.alpha
    %fieldset.no-border-bottom
      %legend User Invoices

      %p
        Use this button to update invoices for the month to date for each enterprise user in the system. Do this after calculating totals on the left.

      %br

      .form-buttons{"data-hook" => "buttons"}
        = link_to_with_icon "icon-undo", "Update Invoices Now", main_app.start_job_admin_accounts_and_billing_settings_path(job_name: "user_invoices"), class: 'button', disabled: @user_invoice_job.present?

      - if @user_invoice_job
        %p.text-center
          - if @user_invoice_job.run_at < Time.now
            %strong In Progress
            %br
            Started at:
          - else
            %strong Queued
            %br
            Scheduled for:
          = @user_invoice_job.run_at
