= render :partial => 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t(:accounts_and_billing_settings)

= render 'spree/shared/error_messages', target: @settings

%div{ ng: { app: 'admin.accounts_and_billing_settings' } }
  = form_for @settings, as: :settings, url: main_app.admin_accounts_and_billing_settings_path, :method => :put do |f|
    .row
      .twelve.columns.alpha.omega
        .field
          = f.label :accounts_distributor_id, t(:accounts_administration_distributor)
          = f.collection_select(:accounts_distributor_id, @distributors, :id, :name, { include_blank: true }, { class: "select2 fullwidth", 'watch-value-as' => "enterprise_id"})

    = f.hidden_field :default_accounts_payment_method_id, value: ''
    = f.hidden_field :default_accounts_shipping_method_id, value: ''
    %div{ 'method-settings-for' => 'enterprise_id' }

    -# .row
    -#   .six.columns.alpha
    -#     %fieldset.no-border-bottom
    -#       %legend Billing Information
          -# .field
          -#   = f.hidden_field :collect_billing_information, value: '0'
          -#   = f.check_box :collect_billing_information, value: '1'
          -#   = f.label :collect_billing_information, t(:collect_billing_information)
          -# .field
          -#   = button t(:collect_now), 'icon-forward'

      -# .six.columns.omega
      -#   %fieldset.no-border-bottom
      -#     %legend User Invoices
          -# .field
          -#   = f.hidden_field :create_invoices_for_enterprise_users, value: '0'
          -#   = f.check_box :create_invoices_for_enterprise_users, value: '1'
          -#   = f.label :create_invoices_for_enterprise_users, t(:create_invoices_for_enterprise_users)
          -# .field
          -#   = button t(:create_now), 'icon-forward'

    .form-buttons{"data-hook" => "buttons"}
      = button t(:update), 'icon-refresh', value: "update"
      or
      = button t(:update_and_create_invoices_now), 'icon-undo', value: 'update_and_run_job'
