- intro_key = "email_so_empty_intro_html"
= render 'header', intro: t(intro_key, distributor: @order.distributor.name)

%p.callout
  = t("email_so_empty_explainer_html")
  = t("email_so_contact_distributor_html", distributor: @order.distributor.name, email: @order.distributor.email)

%p &nbsp;
%h4
  = t :email_confirm_customer_number_html, number: @order.number
%p
  = t("email_so_empty_details_html", distributor: @order.distributor.name)

= render 'spree/order_mailer/order_summary'

= render 'spree/order_mailer/signoff'
