- search_url_query = {report_type: :enterprise_fee_summary, report_subtype: :enterprise_fees_with_tax_report_by_producer}
.row
  .alpha.two.columns= label_tag nil, t(:report_hubs)
  .omega.fourteen.columns
    = render(SearchableDropdownComponent.new(form: f,
      name: :distributor_id_in,
      options: [],
      selected_option: params.dig(:q, :distributor_id_in),
      multiple: true,
      remote_url: admin_reports_search_distributors_url))
.row
  .alpha.two.columns= label_tag nil, t(:report_producers)
  .omega.fourteen.columns
    = render(SearchableDropdownComponent.new(name: :supplier_id_in,
      options: [],
      selected_option: params.dig(:supplier_id_in),
      multiple: true,
      remote_url: admin_reports_search_suppliers_url))

.row
  .alpha.two.columns= label_tag nil, t(:report_customers_cycle)
  .omega.fourteen.columns
    = render(SearchableDropdownComponent.new(form: f,
      name: :order_cycle_id_in,
      options: [],
      selected_option: params.dig(:q, :order_cycle_id_in),
      multiple: true,
      remote_url: admin_reports_search_order_cycles_url))
.row
  .alpha.two.columns= label_tag nil, t(:fee_name)
  .omega.fourteen.columns
    = render(SearchableDropdownComponent.new(form: f,
      name: :enterprise_fee_id_in,
      options: [],
      selected_option: params.dig(:q, :enterprise_fee_id_in),
      multiple: true,
      remote_url: admin_reports_search_enterprise_fees_url(search_url_query)))

.row
  .alpha.two.columns= label_tag nil, t(:fee_owner)
  .omega.fourteen.columns
    = render(SearchableDropdownComponent.new(form: f,
      name: :enterprise_fee_owner_id_in,
      options: [],
      selected_option: params.dig(:q, :enterprise_fee_owner_id_in),
      multiple: true,
      remote_url: admin_reports_search_enterprise_fee_owners_url(search_url_query)))

.row
  .alpha.two.columns= label_tag nil, t(:report_customers)
  .omega.fourteen.columns
    = render(SearchableDropdownComponent.new(form: f,
      name: :customer_id_in,
      options: [],
      selected_option: params.dig(:q, :customer_id_in),
      multiple: true,
      remote_url: admin_reports_search_order_customers_url))
