%h5.inline-header
  = "#{line_item.full_product_name}"
  - if line_item.display_name.present? && !line_item.full_product_name.include?(line_item.display_name)
    %span= "- #{line_item.display_name}"
- if line_item.unit_to_display
  = "(#{line_item.unit_to_display})"
