%h5.inline-header
  = "#{raw(line_item.product.name)}"
  - unless line_item.product.name.include? line_item.name_to_display
    %span= "- #{raw(line_item.name_to_display)}"
- if line_item.options_text
  = "(#{raw(line_item.options_text)})"
