<div class="row steps-data">

  <% if order.has_step?("address") %>
    <div class="columns alpha six">
      <h6><%= "Customer Details" %> <%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
      <div class="address">
        <%= render 'enterprises/distributor_details', :distributor => order.distributor %>
      </div>
    </div>

    <div class="columns alpha two">
	</div>

    <div class="columns alpha six">
      <h6><%= t(:billing_address) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
      <div class="address">
        Distributor: <%= order.distributor.name %><br />
		Address: <%= order.distributor.address.address1 + ", " + order.distributor.address.city %>
      </div>
    </div>
  <% end %>

</div>

<div class="row steps-data">
	
  <div class="columns alpha six">
    <h6><%= t(:payment_information) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:payment) unless @order.completed? %></h6>
    <div class="payment-info">
	  <% if order.payments.any? { |payment| payment.payment_method.name.include? "PayPal" } %>
	    <div class="flash notice">Your payment via PayPal has been processed successfully.</div>
	  <% end %>
      <%= render order.payments.valid %>
    </div>
  </div>

</div>
