<div class="row steps-data">

  <% if order.has_step?("address") %>
    <div class="columns alpha six">
      <h6><%= "Customer Details" %> <%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
      <div class="address">
        <%= "#{t(:name)}: #{order.bill_address.full_name}" %><br />
        <%= "#{t(:address)}: #{order.bill_address.address1}, #{order.bill_address.city}" %>
      </div>
      <br/>
      <div class="row steps-data">
        <% order.payments.each do |payment| %>
          <div <% if payment.payment_method.name.include? "EFT" %>id="eft-payment-alert"<% end %>>
            <h6><%= t(:payment_information) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:payment) unless @order.completed? %></h6>
            <div class="payment-info">
              <% if payment.payment_method.name.include? "PayPal" %>
              <div class="flash notice"><% t(:order_payment_paypal_successful) %></div>
            <% elsif payment.payment_method.name.include? "EFT" %>
                <span><%= payment.payment_method.description.html_safe %></span>
              <% elsif order.credit_cards.empty? == false %>
                <span class="cc-type">
                  <%= image_tag "credit_cards/icons/#{order.credit_cards.first.cc_type}.png" %>
                  <%= t(:ending_in)%> <%= order.credit_cards.first.last_digits %>
                </span>
              <br />
                <span class="full-name">
                  <%= order.credit_cards.first.first_name %>
                  <%= order.credit_cards.first.last_name %>
                </span>
            <% elsif payment.payment_method.type == "Spree::PaymentMethod::Check" %>
              <span><%= payment.payment_method.description %></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="columns alpha six">
      <h6><% t(:order_hub_info) %></h6>
      <div class="address">
        <%= render 'enterprises/distributor_details', :distributor => order.distributor %>
      </div>
    </div>
  <% end %>

</div>

