.row
  .columns.large-6
    .order-summary.text-small
      .right
        - if @order.paid?
          PAID
        - else
          NOT PAID
      %span 
        Total order
        %strong
          = order.display_total.to_html
          / = link_to "(#{t(:edit)})", checkout_state_path(:payment) unless @order.completed?
    %p.text-big
      Paying via:
      %strong=  @order.payments.first.andand.payment_method.andand.name.andand.html_safe  
      %br
      %span.text-small
        %em
          = order.payments.first.andand.payment_method.andand.description.andand.html_safe
    .order-summary.text-small
      %strong
        Billing address
        = link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed?
    %p.text-small
      = order.bill_address.firstname + " " + order.bill_address.lastname
      %br
      = order.bill_address.full_address

  .columns.large-6
    .order-summary.text-small
      %strong= order.shipping_method.name

    - if @order.has_step?("delivery")
      %p.text-big
        Delivery on
        %strong #{@order.order_cycle.pickup_time_for(@order.distributor)}
        %br
        %span.text-small
          %em= order.shipping_method.description.html_safe
      .order-summary.text-small
        %strong Delivery address
      %p.text-small
        = order.ship_address.firstname + " " + order.ship_address.lastname
        %br
        = order.ship_address.full_address
  
    - else
      .order-summary.text-small
        %strong
          Shipping address
          = link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed?
      %p.text-small
        = order.ship_address.firstname + " " + order.ship_address.lastname
        %br
        = order.ship_address.full_address

    %p.light
      %small
        %strong Your notes / custom instructions:
        %br
        = order.special_instructions
      
%br
%table#line-items{"data-hook" => "order_details"}
  %col{halign: "center", valign: "middle", width: "15%"}/
  %col{valign: "middle", width: "70%"}/
  %col{halign: "center", valign: "middle", width: "5%"}/
  %col{halign: "center", valign: "middle", width: "5%"}/
  %col{halign: "center", valign: "middle", width: "5%"}/
  %thead{"data-hook" => ""}
    %tr{"data-hook" => "order_details_line_items_headers"}
      %th{colspan: "2"}= t(:item)
      %th.price= t(:price)
      %th.qty= t(:qty)
      %th.total
        %span= t(:total)
  %tbody{"data-hook" => ""}
    - @order.line_items.each do |item|
      %tr{"data-hook" => "order_details_line_item_row"}
        %td{"data-hook" => "order_item_image"}
          - if item.variant.images.length == 0
            = link_to small_image(item.variant.product), item.variant.product
          - else
            = link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product
        %td(data-hook = "order_item_description")
          - if item.variant.product.name == item.variant.name_to_display
            %h5= item.variant.product.name
          - else
            %h5
              %span= item.variant.product.name
              %span= "- " + item.variant.name_to_display
          %p= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty?
        %td.price{"data-hook" => "order_item_price"}
          %span= item.single_display_amount_with_adjustments.to_html
        %td{"data-hook" => "order_item_qty"}= item.quantity
        %td.total{"data-hook" => "order_item_total"}
          %span= item.display_amount_with_adjustments.to_html

  %tfoot#order-total{"data-hook" => "order_details_total"}
    %tr.total
      %td{colspan: "4"}
        %b
          = t(:order_total)
          \:
      %td.total
        %span#order_total= @order.display_total.to_html

  - if order.price_adjustment_totals.present?
    %tfoot#price-adjustments{"data-hook" => "order_details_price_adjustments"}
      - @order.price_adjustment_totals.each do |key, total|
        %tr.total
          %td{colspan: "4"}
            %strong
              = key
              \:
          %td.total
            %span= total

  %tfoot#subtotal{"data-hook" => "order_details_subtotal"}
    %tr#subtotal-row.total
      %td{colspan: "4"}
        Produce:
      %td.total
        %span= display_checkout_subtotal(@order)

  %tfoot#order-charges{"data-hook" => "order_details_adjustments"}
    - checkout_adjustments_for(@order, exclude: [:line_item]).reject{ |a| a.amount == 0 }.reverse_each do |adjustment|
      %tr.total
        %td{:colspan => "4"}
          = adjustment.label + ":"
        %td.total
          %span= adjustment.display_amount.to_html
