.row
  .columns.large-6
    .order-summary.text-small
      .right
        - if order.paid?
          = t :order_paid
        - else
          = t :order_not_paid
      %span
        = t :order_total
        %strong
          = order.display_total.to_html
    .pad
      - if (order_payment_method = last_payment_method(order))
        .text-big
          = t :order_payment
          %strong= order_payment_method&.name
        %p.text-small.text-skinny.pre-line.word-wrap
          %em= order_payment_method&.description
      - else
        .text-big
          = t(:no_payment_required)

    .order-summary.text-small
      %strong
        = t :order_billing_address
    .pad
      %p.text-small
        = order.bill_address.firstname + " " + order.bill_address.lastname
        %br
        = order.bill_address.full_address
        %br
        = order.bill_address.phone

  .columns.large-6
    - if order.shipping_method&.require_ship_address
      = render 'spree/shared/shipment_delivery_details', order: order
    - else
      = render 'spree/shared/shipment_pickup_details', order: order
%br
.row
  .columns.large-12
    - if order.changes_allowed?
      .alert-box.order-summary{ "ofn-inline-alert" => true, "ng-show" => "visible" }
        = t(:orders_changeable_orders_alert_html, oc_close: l(order.order_cycle.orders_close_at, format: "%b %d, %Y %H:%M"))
        %a.close{ "ng-click" => "close()" } &times;

    = form_for order, url: main_app.order_path(order), html: {id: 'update-order', name: 'update_order_form' } do |order_form|
      - if order.changes_allowed?
        = render 'spree/orders/form', order_form: order_form
      -else
        = render 'spree/orders/summary', order: order
      = render 'spree/orders/form/update_buttons', order: order
