.row
  .columns.large-6
    .order-summary.text-small
      .right
        - if order.paid?
          = t :order_paid
        - else
          = t :order_not_paid
      %span
        = t :order_total
        %strong
          = order.display_total.to_html
    .pad
      .text-big
        = t :order_payment
        %strong=  order.payments.first.andand.payment_method.andand.name.andand.html_safe
      %p.text-small.text-skinny.pre-line
        %em= order.payments.first.andand.payment_method.andand.description.andand.html_safe

    .order-summary.text-small
      %strong
        = t :order_billing_address
    .pad
      %p.text-small
        = order.bill_address.firstname + " " + order.bill_address.lastname
        %br
        = order.bill_address.full_address
        %br
        = order.bill_address.phone

  .columns.large-6
    - shipment = order.shipments.last
    - if shipment.shipping_method.andand.require_ship_address
      = render 'spree/shared/delivery_shipment_details', order: order, shipment: shipment
    - else
      = render 'spree/shared/pickup_shipment_details', order: order, shipment: shipment
%br
.row
  .columns.large-12
    - if order.changes_allowed?
      .alert-box.order-summary{ "ofn-inline-alert" => true, "ng-show" => "visible" }
        = t(:orders_changeable_orders_alert_html, oc_close: l(order.order_cycle.orders_close_at, format: "%b %d, %Y %H:%M"))
        %a.close{ "ng-click" => "close()" } &times;

    = form_for order, html: {id: 'update-order', name: 'update_order_form' } do |order_form|
      - if order.changes_allowed?
        = render 'spree/orders/form', order_form: order_form
      -else
        = render 'spree/orders/summary', order: order
      = render 'spree/orders/form/update_buttons', order: order
