%p.callout
  %span{:style => "float:right;"}
    - if @order.outstanding_balance?
      = outstanding_balance_label(@order)
      \:
      %strong= @order.display_outstanding_balance
    - else
      - if @order.paid?
        = t :email_payment_paid
      - else
        = t :email_payment_not_paid
  %strong
    = t :email_payment_summary
- if @order.payments.any?
  = render partial: 'spree/shared/payments_list', locals: { payments: @order.payments }
  - if last_payment_method(@order).present?
    %p.callout{style: "margin-top: 40px"}
      %strong
        = t :email_payment_description
    %p{style: "margin: 5px"}= last_payment_method(@order).description
