%p.callout
  %span{:style => "float:right;"}
    - if OpenFoodNetwork::FeatureToggle.enabled?(:customer_balance, @order.user)
      - if !@order.new_outstanding_balance.zero?
        = @order.new_outstanding_balance.negative? ? t(:credit_owed) : t(:balance_due)
        \:
        %strong= Spree::Money.new(@order.new_outstanding_balance, currency: @order.currency)
      - else
        - if @order.paid?
          = t :email_payment_paid
        - else
          = t :email_payment_not_paid
    - else
      - if !@order.outstanding_balance.zero?
        = @order.outstanding_balance.negative? ? t(:credit_owed) : t(:balance_due)
        \:
        %strong= Spree::Money.new(@order.outstanding_balance, currency: @order.currency)
      - else
        - if @order.paid?
          = t :email_payment_paid
        - else
          = t :email_payment_not_paid
  %strong
    = t :email_payment_summary
- if @order.payments.any?
  = render partial: 'spree/shared/payments_list', locals: { payments: @order.payments }
