%p.callout
  %span{:style => "float:right;"}
    - if !@order.outstanding_balance.zero?
      = @order.outstanding_balance.to_html
    - else
      - if @order.paid?
        = t :email_payment_paid
      - else
        = t :email_payment_not_paid
  %strong
    = t :email_payment_summary
- if @order.payments.any?
  = render partial: 'spree/shared/payments_list', locals: { payments: @order.payments }
