%div(data-hook='homepage_products')
  = home_page_cms_content

  - if @products
    #products= render 'spree/shared/products', :products => @products, :taxon => @taxon
  - else
    #products-local
      %h2
        = t :products
        = t :products_in, oc: current_order_cycle.name if current_order_cycle
        = t :products_at, distributor: current_distributor.name if current_distributor
      = render 'spree/shared/products', :products => @products_local, :taxon => @taxon
    #products-remote
      %h2
        = t :products_elsewhere
      = render 'spree/shared/products', :products => @products_remote, :taxon => @taxon
