%p
  = f.label :email, Spree.t(:email)
  %br
  = f.email_field :email, class: 'title'

- if @unconfirmed_email
  %p.alert-box
    = t('spree.users.show.unconfirmed_email', unconfirmed_email: @unconfirmed_email)

%div
  %p
    = f.label :name, t(:name)
    %br
    = f.text_field :name, class: 'title'

  %p
    = f.label :phone, Spree.t(:phone)
    %br
    = f.text_field :phone, class: 'title', placeholder: t("registration.steps.contact.phone_field_placeholder")

%div
  %p
    = f.label :enterprises, "Shops"
    %br
    %select{name: "enterprises"}
      - @user.enterprises.each do |enterprise|
        %option{value: enterprise.id}= enterprise.name

%div{"id" => "password-credentials"}
  %p
    = f.label :password, Spree.t(:password)
    %br
    = f.password_field :password, class: 'title'

  %p
    = f.label :password_confirmation, t(:password_confirmation)
    %br
    = f.password_field :password_confirmation, class: 'title'
