= turbo_frame_tag "shop-products" do
  .loading{ style: "display: none;", "data-product-grid-view-target": "loading" }
    = render partial: "shop/products/product_spinner"

  .products-container{ "data-product-grid-view-target": "products" }
    - @products.each do |product|
      .product-item
        %a{ href:"#", "data-controller": "modal-link", "data-action": "click->modal-link#open", "data-modal-link-target-value": "product-modal-#{product.id}" }
          %p
            - if product.image
              = image_tag(product.image.url(:small))
            - else
              = image_tag(Spree::Image.default_image_url(:small), class: "placeholder")
            = product.name

        = render ModalComponent.new(id: "product-modal-#{product.id}", modal_class: "big") do
          = render partial: "shared/product/product_details", locals: { product: }
