- content_for :injection_data do
  = inject_available_payment_methods
  = inject_saved_credit_cards

%div.checkout-step.medium-6
  = form_with url: checkout_update_path(@checkout_step), model: @order, method: :put do |f|
    = render "split_checkout/#{@checkout_step}", f: f
