- content_for :injection_data do
  = inject_available_shipping_methods
  = inject_available_payment_methods
  = inject_saved_credit_cards

= form_with url: update_checkout_path, model: @order, method: :put do |f|

  %div.checkout-step.medium-6
    - if true ## test step
      = render "split_checkout/your_details", f: f
