.medium-6
  %div.checkout-substep{"data-controller": "paymentmethod"}
    - if @order.distributor.vouchers.present?
      .checkout-title
        = t("split_checkout.step2.voucher.apply_voucher")

      .checkout-input
        .two-columns-inputs.voucher
          -if @voucher_adjustment.present?
            %span.button.voucher-added
              %i.ofn-i_051-check-big
                = "#{@voucher_adjustment.originator.display_value} #{t("split_checkout.step2.voucher.voucher")}"
            = link_to t("split_checkout.step2.voucher.remove_code"), checkout_destroy_path(adjustment_id: @voucher_adjustment.id), method: "delete", data: { confirm: t("split_checkout.step2.voucher.confirm_delete") }
          - else
            = f.text_field :voucher_code, { placeholder: t("split_checkout.step2.voucher.placeholder"), class: "voucher" }
            - # TODO: enable button when code entered
            = f.submit t("split_checkout.step2.voucher.apply"), class: "button cancel voucher", disabled: false 
        
    %div.checkout-title
      = t("split_checkout.step2.payment_method.title")

    - selected_payment_method = @order.payments&.with_state(:checkout)&.first&.payment_method_id
    - selected_payment_method ||= available_payment_methods[0].id if available_payment_methods.length == 1
    - available_payment_methods.each do |payment_method| 
      %div.checkout-input.checkout-input-radio
        = f.radio_button :payment_method_id, payment_method.id,
          id: "payment_method_#{payment_method.id}",
          name: "order[payments_attributes][][payment_method_id]",
          checked: (payment_method.id == selected_payment_method),
          "data-action": "paymentmethod#selectPaymentMethod",
          "data-paymentmethod-id": "#{payment_method.id}",
          "data-paymentmethod-target": "input"
        = f.label :payment_method_id, "#{payment_method.name}", for: "payment_method_#{payment_method.id}"
        %em.fees=payment_or_shipping_price(payment_method, @order)

      .paymentmethod-container{"data-paymentmethod-id": "#{payment_method.id}", style: "display: #{payment_method.id == selected_payment_method ? "block" : "none"}"}
        - if payment_method.description && !payment_method.description.empty?
          .paymentmethod-description.panel
            #{payment_method.description}
        .paymentmethod-form
          = render partial: "split_checkout/payment/#{payment_method.method_type}", locals: { payment_method: payment_method, f: f }

    = f.error_message_on :payment_method, standalone: true
      
  %div.checkout-substep
    = t("split_checkout.step2.explaination")

  %div.checkout-submit
    = f.submit t("split_checkout.step2.submit"), class: "button primary", disabled: @terms_and_conditions_accepted == false || @platform_tos_accepted == false
    %a.button.cancel{href: main_app.checkout_step_path(:details)}
      = t("split_checkout.step2.cancel")
