%div.summary
  %span.summary-label
    = t("split_checkout.step1.address.address1.label")
  %span.summary-value
    = address.address1

- unless @order.bill_address.address2.blank?
  %div.summary
    %span.summary-label
      = t("split_checkout.step1.address.address2.label")
    %span.summary-value
      = address.address2

%div.summary
  %span.summary-label
    = t("split_checkout.step1.address.city.label")
  %span.summary-value
    = address.city

%div.summary
  %span.summary-label
    = t("split_checkout.step1.address.state_id.label")
  %span.summary-value
    = address.state

%div.summary
  %span.summary-label
    = t("split_checkout.step1.address.zipcode.label")
  %span.summary-value
    = address.zipcode

%div.summary
  %span.summary-label
    = t("split_checkout.step1.billing_address.country.label")
  %span.summary-value
    = address.country
