%div.checkout-substep
  %div.checkout-input
    - if platform_terms_required? && distributor_terms_required?
      = f.check_box :accept_terms, { name: "accept_terms", checked: all_terms_and_conditions_already_accepted? }, 1, nil
      = f.label :accept_terms do
        = t('split_checkout.step3.all_terms_and_conditions.message_html', terms_and_conditions_link: link_to( t("split_checkout.step3.terms_and_conditions.link_text"), @order.distributor.terms_and_conditions, target: '_blank'), tos_link: link_to_platform_terms)
    - elsif platform_terms_required?
      = f.check_box :accept_terms, { name: "accept_terms", checked: platform_tos_already_accepted? }, 1, nil
      = f.label :accept_terms do
        = t('split_checkout.step3.platform_terms_of_service.message_html', tos_link: link_to_platform_terms)
    - elsif distributor_terms_required?
      = f.check_box :accept_terms, { name: "accept_terms", checked: terms_and_conditions_already_accepted? }, 1, nil
      = f.label :accept_terms do
        = t('split_checkout.step3.terms_and_conditions.message_html', terms_and_conditions_link: link_to( t("split_checkout.step3.terms_and_conditions.link_text"), @order.distributor.terms_and_conditions, target: '_blank'))

  = f.error_message_on :terms_and_conditions, standalone: true
