%div#voucher-section
  .checkout-title
    = t("split_checkout.step2.voucher.apply_voucher")
  .checkout-input{"data-controller": "toggle-button-disabled"}
    = form_with url: voucher_adjustments_path, model: @order, method: :post, data: { remote: true } do |form|
      - if voucher_adjustment.present?
        .two-columns-inputs.voucher
          %span.button.voucher-added
            %i.ofn-i_051-check-big
              = t("split_checkout.step2.voucher.voucher", voucher_amount: voucher_adjustment.originator.display_value)
          = link_to t("split_checkout.step2.voucher.remove_code"), voucher_adjustment_path(id: voucher_adjustment.id), method: "delete", data: { confirm: t("split_checkout.step2.voucher.confirm_delete") }

          - # This might not be true, ie payment method including a fee which wouldn't be covered by voucher or tax implication raising total to be bigger than the voucher amount ?
          - if voucher_adjustment.originator.amount > order.pre_discount_total
            .checkout-input
              %span.formError.standalone
                = t("split_checkout.step2.voucher.warning_forfeit_remaining_amount")
      - else
        .two-columns-inputs
          %div.checkout-input
            = form.text_field :voucher_code, value: params.dig(:order, :voucher_code), data: { action: "input->toggle-button-disabled#inputIsChanged" }, placeholder: t("split_checkout.step2.voucher.placeholder"), class: "voucher"
            = form.error_message_on :voucher_code

          %div.checkout-input
            = form.submit t("split_checkout.step2.voucher.apply"), disabled: true, class: "button cancel voucher-button", "data-disable-with": false, data: { "toggle-button-disabled-target": "button" }
