- content_for(:title) do
  = t :checkout_title

.darkswarm.footer-pad{"data-turbo": "true"}
  - content_for :order_cycle_form do
    %closing
      = t :checkout_now
    %p
      = t :checkout_order_ready
      %strong
        = pickup_time current_order_cycle

  - content_for :ordercycle_sidebar do
    .show-for-large-up.large-4.columns
      = render partial: "shopping_shared/order_cycles"

  = render partial: "shopping_shared/header"

  .sub-header.show-for-medium-down
    = render partial: "shopping_shared/order_cycles"

  %div{ "data-controller": "guest-checkout", "data-guest-checkout-distributor-value": @order.distributor.id }
    %div{ style: "display: #{spree_current_user ? 'block' : 'none'}", "data-guest-checkout-target": "checkout" }
      = render partial: "checkout"

    - unless spree_current_user
      %div{ style: "display: block", "data-guest-checkout-target": "guest" }
        = render partial: "guest"

= render partial: "shared/footer"
