= form_for @report_parameters, as: :report, url: main_app.order_management_reports_bulk_coop_path, method: :post do |f|
  .row.date-range-filter
    .sixteen.columns.alpha
      = label_tag nil, t(".date_range")
      %br

      = f.label :start_at, class: "inline"
      = f.text_field :start_at, class: "datetimepicker datepicker-from"

      %span.range-divider
        %i.icon-arrow-right

      = f.text_field :end_at, class: "datetimepicker datepicker-to"
      = f.label :end_at, class: "inline"

  .row
    .sixteen.columns.alpha
      = f.label :distributor_ids
      = f.collection_select(:distributor_ids, @permissions.allowed_distributors, :id, :name, {}, {class: "select2 fullwidth", multiple: true})

  .row
    .sixteen.columns.alpha
      = f.label :report_type
      = f.collection_select(:report_type, OrderManagement::Reports::BulkCoop::BulkCoopReport::REPORT_TYPES.map { |report_type| [t(".#{report_type}"), report_type] }, :last, :first, {}, {class: "select2 fullwidth", multiple: false})

  .row
    .sixteen.columns.alpha
      = check_box_tag :report_format, "csv", false, id: "report_format_csv"
      = label_tag :report_format_csv, t(".report_format_csv")

  = button t(".generate_report")

  = render partial: "spree/admin/reports/customer_names_message"

