= component_controller do
  .super-selector.selector
    .selector-main{ data: { action: "click->selector-with-filter#toggle" } }
      .super-selector-label
        = @title
      .super-selector-selected-items
        - case @selected_items.length
        - when 1, 2
          - @selected_items.each do |item|
            .super-selector-selected-item
              = item[:label]
        - else
          .super-selector-selected-item
            = t(@selected_items_i18n_key, count: @selected_items.length)
      .selector-arrow
    .selector-wrapper
      .super-selector-search
        %input{type: "text", placeholder: t("components.selector_with_filter.search_placeholder"), data: reflex_data_attributes("debounced:input->search"), value: @query}
      .selector-items
        - @filtered_items.each do |item|
          .selector-item{ class: ("selected" if item[:selected]), data: @data, "data-value": item[:value] }
            = item[:label]
