!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/

    %title= content_for?(:title) ? yield(:title) : 'Welcome to Open Food Network'
    = favicon_link_tag "favicon.png"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700", rel: "stylesheet", type: "text/css"}/

    = yield :scripts
    %script{src: "//maps.googleapis.com/maps/api/js?sensor=false"}
    = stylesheet_link_tag "darkswarm/all"
    = javascript_include_tag "darkswarm/all"


    = render "layouts/bugherd_script"
    = csrf_meta_tags

  %body.off-canvas{"ng-app" => "Darkswarm"}
    /[if lte IE 8]
      #ie-warning
        Your browser is very old! To use our site, you'll need to upgrade to 
        something a bit more modern, such as 
        %a{href: "https://www.google.com/intl/en_au/chrome/browser/"} Google Chrome


    = inject_json "currentHub", "current_hub"
    = inject_json "currentOrder", "current_order"
    = inject_json "user", "current_user"
    = inject_json "railsFlash", "flash"

    .off-canvas-wrap{offcanvas: true}
      .inner-wrap
        = render partial: "shared/menu/menu"

        %section{ role: "main" }
          = yield
          
          #footer
    %loading
