%html{ "ng-csp": "no-unsafe-eval" }
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/
    %meta{property: "og:title", content: content_for?(:title) ? yield(:title) : t(:title)}
    %meta{property: "og:description", content: content_for?(:description) ? yield(:description) : t(:site_meta_description)}
    %meta{property: "og:image", content: content_for?(:image) ? yield(:image) : ContentConfig.url_for(:logo)}
    - if !Rails.env.production? || @noindex_meta_tag
      %meta{name: "robots", content: "noindex"}
    %title= content_for?(:title) ? "#{yield(:title)} - #{t(:title)}".html_safe : "#{t(:welcome_to)} #{t(:title)}"
    - if Rails.env.production?
      = favicon_link_tag "/favicon.ico"
    - else
      = favicon_link_tag "/favicon-staging.ico"
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,300,700,700italic|Oswald:300,400,700", rel: "stylesheet", type: "text/css"}
    %link{href: asset_pack_path("media/fonts/OFN-v2.woff"), rel: "preload", as: "font", crossorigin: "anonymous"}
    = render "layouts/matomo_tag"
    = language_meta_tags

    = stylesheet_pack_tag "darkswarm", "data-turbo-track": "reload"
    = javascript_pack_tag "application", "data-turbo-track": "reload"

    = render "layouts/shopfront_script" if @shopfront_layout
    = render "layouts/bugsnag_js"

    - if Spree::Config.stripe_connect_enabled
      = render "shared/stripe_js"

    = javascript_include_tag "darkswarm/all", "data-turbo-track": "reload"
    = javascript_include_tag "web/all", "data-turbo-track": "reload"
    = render "layouts/i18n_script"

    = csrf_meta_tags
    %meta{name: "turbo-cache-control", content: "no-cache"}

    = action_cable_meta_tag

  %body{ class: body_classes, "body-scroll": "true", "data-turbo": "false" }
    .off-canvas-wrap{ offcanvas: true }
      .fixed.off-canvas-fixed
        = render "shared/menu/menu" unless @hide_menu
        = yield :page_alert

      .inner-wrap
        %section{ role: "main" }
          = yield

          #footer

    = yield :scripts
    = inject_current_hub
    = inject_current_user
    = inject_rails_flash
    = inject_current_order
    = inject_currency_config
    = yield :injection_data


    = render "layouts/login_modal"
