!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/

    %title= content_for?(:title) ? yield(:title) : 'Welcome to Open Food Network'
    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag "search/all"
    = javascript_include_tag "search/all"
    = render "layouts/bugherd_script"

    = csrf_meta_tags
  %body.off-canvas
    = render "layouts/become_distributor"
    = render "layouts/become_farmer"

    %nav.top-bar
      %section.top-bar-section
        %ul.left
          %li= link_to image_tag("ofn_logo_small.png"), new_landing_page_path
          %li.divider
          - if spree_current_user.nil?
            %li#login-link= link_to "Login", "#sidebar", id: "sidebarLoginButton", class: "sidebar-button"
            %li#login-name.hide
            %li.divider
            %li#sign-up-link= link_to "Sign Up", "#sidebar", id: "sidebarSignUpButton", class: "sidebar-button"
            %li#sign-out-link.hide= link_to "Sign Out", "/logout"
          - else
            %li#login-link.hide= link_to "Login", "#sidebar", id: "sidebarLoginButton", class: "sidebar-button"
            %li#login-name= link_to "#{spree_current_user.email}", "#"
            %li.divider
            %li#sign-up-link.hide= link_to "Sign Up", "#"
            %li#sign-out-link= link_to "Sign Out", "/logout"

        %ul.right
          %li= link_to "Distributors", "#", :data => { "reveal-id" => "become-distributor" }
          %li.divider
          %li= link_to "Farmers", "#", :data => { "reveal-id" => "become-farmer" }
    %section{ role: "main" }
      = yield
    %section#sidebar{ role: "complementary" }
      .login-panel
        #login-content.hide
          = render "home/login"
        #sign-up-content.hide
          = render "home/signup"
    = yield :scripts

