%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/

    %title= content_for?(:title) ? "#{yield(:title)} - #{Spree::Config[:site_name]}" : "#{t(:welcome_to)} #{Spree::Config[:site_name]}"
    - if Rails.env.production?
      = favicon_link_tag
    - else
      = favicon_link_tag "/favicon-staging.ico"
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,300,700,700italic|Oswald:300,400,700", rel: "stylesheet", type: "text/css"}

    = yield :scripts
    %script{src: "//maps.googleapis.com/maps/api/js?libraries=places"}
    = stylesheet_link_tag "darkswarm/all"
    = javascript_include_tag "darkswarm/all"


    = render "layouts/bugherd_script"
    = csrf_meta_tags

  %body.off-canvas{"ng-app" => "Darkswarm", style: 'background-image: url("/assets/tile-wide.png")' }
    / [if lte IE 8]
      = render partial: "shared/ie_warning"
      = javascript_include_tag "iehack"

    = inject_json "user", "current_user"

    .off-canvas-wrap{offcanvas: true}
      .inner-wrap

        %section{ role: "main" }
          = yield

          #footer
    %loading
