%html{ "ng-csp": "no-unsafe-eval" }
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: "width=device-width,initial-scale=1.0"}/

    %title= content_for?(:title) ? "#{yield(:title)} - #{Spree::Config[:site_name]}".html_safe : "#{t(:welcome_to)} #{Spree::Config[:site_name]}"
    - if Rails.env.production?
      = favicon_link_tag "/favicon.ico"
    - else
      = favicon_link_tag "/favicon-staging.ico"
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,300,700,700italic|Oswald:300,400,700", rel: "stylesheet", type: "text/css"}
    = render "layouts/matomo_tag"
    = language_meta_tags

    = stylesheet_pack_tag "darkswarm"
    = javascript_include_tag "darkswarm/all"
    = javascript_pack_tag "application"

    = csrf_meta_tags

  %body.off-canvas{ style: "background-image: url(#{image_pack_path('tile-wide.png')})", "data-turbo": "false" }
    .off-canvas-wrap{offcanvas: true}
      .inner-wrap

        %section{ role: "main" }
          = yield

          #footer
    %loading

    = yield :scripts
    = inject_current_user
    = yield :injection_data

    = render "layouts/i18n_script"
