= form_for @enterprise_fee_set, :url => main_app.bulk_update_admin_enterprise_fees_path do |enterprise_fee_set_form|
  - if @enterprise_fee_set.errors.present?
    %h2 Errors
    %ul
      - @enterprise_fee_set.errors.each do |error|
        %li= error
  %table.index#listing_enterprise_fees
    %thead
      %tr
        %th Enterprise
        %th Fee Type
        %th Name
        %th Calculator
        %th Calculator values
        %th
    %tbody
      = enterprise_fee_set_form.fields_for :collection do |f|
        - enterprise_fee = f.object
        %tr
          %td= f.collection_select :enterprise_id, Enterprise.all, :id, :name, :include_blank => true
          %td= f.select :fee_type, enterprise_fee_options
          %td= f.text_field :name
          %td= f.collection_select :calculator_type, @calculators, :name, :description, {}, {:class => 'calculator_type'}
          %td
            - if !enterprise_fee.new_record?
              .calculator-settings
                = f.fields_for :calculator do |calculator_form|
                  = preference_fields(enterprise_fee.calculator, calculator_form)
          %td= link_to_delete enterprise_fee unless enterprise_fee.new_record?
  = enterprise_fee_set_form.submit 'Update'
