%div.hubs_tab{ ng: { show: "activeTab == 'hubs'"} }
  %div.sixteen.columns.alpha.list-title
    %span.five.columns.alpha Name
    %span.centered.three.columns Payment Methods
    %span.centered.three.columns Shipping Methods
    %span.centered.three.columns Enterprise Fees
  %div.sixteen.columns.alpha.list
    - @enterprises.is_distributor.each do |enterprise|
      %a.sixteen.columns.alpha.list-item{ class: "#{cycle('odd','even')}", href: "#{main_app.edit_admin_enterprise_path(enterprise)}" }
        %span.five.columns.alpha
          = enterprise.name
        %span.symbol.three.columns.centered
          - payment_method_count = enterprise.payment_methods.count
          - if payment_method_count < 1 && enterprise.is_distributor
            %span.icon-remove-sign.with-tip{ title: "#{enterprise.name} has no Payment Methods" }
          - elsif enterprise.is_primary_producer
            %span.icon-ok-sign.with-tip{ title: "Producers (like #{enterprise.name}) do not require Payment Methods." }
          - else
            %span.icon-ok-sign.with-tip{ title: "#{payment_method_count} Payment Method#{payment_method_count > 1 ? "s" : ""}" }
        %span.symbol.three.columns.centered
          - shipping_method_count = enterprise.shipping_methods.count
          - if shipping_method_count < 1 && enterprise.is_distributor
            %span.icon-remove-sign.with-tip{ title: "#{enterprise.name} has no Shipping Methods" }
          - elsif enterprise.is_primary_producer
            %span.icon-ok-sign.with-tip{ title: "Producers (like #{enterprise.name}) do not require Shipping Methods." }
          -else
            %span.icon-ok-sign.with-tip{ title: "#{shipping_method_count} Shipping Method#{shipping_method_count > 1 ? "s" : ""}" }
        %span.symbol.three.columns.centered
          - fee_count = enterprise.enterprise_fees.count
          - if fee_count > 0
            %span.icon-ok-sign.with-tip{ title: "#{fee_count} Fee#{fee_count > 1 ? "s" : ""}" }
          - else
            %span.icon-warning-sign.with-tip{ title: "#{enterprise.name} has no Enterprise Fees" }
        %span.two.columns.omega.right
          %span.icon-arrow-right
