%div.dashboard_item.sixteen.columns.alpha#enterprises{ 'ng-controller' => "enterprisesDashboardCtrl" }
  = render 'enterprises_header'

  - if @enterprises.empty?
    = render 'enterprises_none'

  - else
    = render 'enterprises_tabs'
    = render 'enterprises_hubs_tab'
    = render 'enterprises_producers_tab'
    = render 'enterprises_footer'
