%div.producers_tab{ ng: { show: "activeTab == 'producers'"} }
  %div.list-title.sixteen.columns.alpha
    %span.five.columns.alpha
      = t "spree_admin_enterprises_producers_name"
    - if can? :admin, Spree::Product
      %span.centered.three.columns
        = t "spree_admin_enterprises_producers_total_products"
      %span.centered.three.columns
        = t "spree_admin_enterprises_producers_active_products"
    - if can? :admin, OrderCycle
      %span.centered.three.columns
        = t "spree_admin_enterprises_producers_order_cycles"
  %div.sixteen.columns.alpha.list
    - @enterprises.is_primary_producer.each do |enterprise|
      %a.sixteen.columns.alpha.list-item{ class: "#{cycle('odd','even')}", href: "#{main_app.edit_admin_enterprise_path(enterprise)}" }

        %span.five.columns.alpha
          = enterprise.name

        %span.symbol.three.columns.centered
          - if can? :admin, Spree::Product
            %span.one.column.alpha &nbsp;
            %span.text-icon.one.column.centered{ class: "#{enterprise.supplied_products.not_deleted.any? ? "green" : "red" }" }
              = enterprise.supplied_products.not_deleted.count
            %span.one.column.omega &nbsp;
          - else
            &nbsp;
        %span.symbol.three.columns.centered
          - if can? :admin, Spree::Product
            %span.one.column.alpha &nbsp;
            %span.text-icon.one.column.centered{ class: "#{enterprise.supplied_and_active_products_on_hand.any? ? "green" : "red" }" }
              = enterprise.supplied_and_active_products_on_hand.count
            %span.one.column.omega &nbsp;
          - else
            &nbsp;

        %span.symbol.three.columns.centered
          - if can? :admin, OrderCycle
            %span.one.column.alpha &nbsp;
            %span.text-icon.one.column.centered{ class: "#{enterprise.active_products_in_order_cycles.any? ? "green" : "orange" }" }
              = enterprise.active_products_in_order_cycles.count
            %span.one.column.omega &nbsp;
          - else
            &nbsp;

        %span.two.columns.omega.right
          %span.icon-arrow-right
