%div.dashboard_item.seven.columns.omega#order_cycles
  %div.header.sixteen.columns.alpha{:class => "#{@order_cycle_count > 0 ? "" : "red"}"}
    %h3.ten.columns.alpha
      = t ".order_cycles"
    - if @order_cycle_count > 0
      %a.six.columns.omega.icon-plus.button.blue{ href: main_app.new_admin_order_cycle_path }
        = t "spree_admin_enterprises_create_new"
    - else
      %a{ "ofn-with-tip" => t(".order_cycles_tip") }
        = t "admin.whats_this"
  %div.sixteen.columns.alpha.list
    - if @order_cycle_count > 0
      %div.sixteen.columns.alpha.list-item
        %span.thirteen.columns.alpha
          = t('.you_have_active', count: @order_cycle_count)
        %span.three.columns.omega
          %span.icon-ok-sign
      %a.sixteen.columns.alpha.button.bottom.blue{ href: main_app.admin_order_cycles_path}
        = t ".manage_order_cycles"
        %span.icon-arrow-right
    - else
      %div.sixteen.columns.alpha.list-item.red
        %span.thirteen.columns.alpha
          = t('.you_have_active', count: @order_cycle_count)
        %span.three.columns.omega
          %span.icon-remove-sign
      %a.sixteen.columns.alpha.button.bottom.red{ href: main_app.admin_order_cycles_path}
        = t ".manage_order_cycles"
        %span.icon-arrow-right