%div.dashboard_item.seven.columns.omega#order_cycles
  %div.header.seven.columns.alpha{ :class => "#{@order_cycle_count > 0 ? "" : "orange"}"}
    %h3.four.columns.alpha Order Cycles
    - if @order_cycle_count > 0
      %a.three.columns.omega.icon-plus.button.blue{ href: "#{main_app.new_admin_order_cycle_path}" }
        CREATE NEW
    - else
      %a.with-tip{ title: "Order cycles determine when and where your products are available to customers." } What's this?
  %div.seven.columns.alpha.list
    - if @order_cycle_count > 0
      %div.seven.columns.alpha.list-item
        %span.six.columns.alpha
          = "You have #{@order_cycle_count} active order cycle#{@order_cycle_count > 1 ? "s" : ""}."
        %span.one.column.omega
          %span.icon-ok-sign
      %a.seven.columns.alpha.button.bottom.blue{ href: "#{main_app.admin_order_cycles_path}" }
        MANAGE ORDER CYCLES
        %span.icon-arrow-right
    - else
      %div.seven.columns.alpha.list-item.orange
        %span.six.columns.alpha You don't have any active order cycles.
        %span.one.column.omega
          %span.icon-warning-sign
      %a.seven.columns.alpha.button.bottom.orange{ href: "#{main_app.admin_order_cycles_path}" }
        MANAGE ORDER CYCLES
        %span.icon-arrow-right