%div.dashboard_item.seven.columns.alpha#products
  %div.header.sixteen.columns.alpha{ :class => "#{@product_count > 0 ? "" : "red"}"}
    %h3.ten.columns.alpha
      = t "products"
    - if @product_count > 0
      %a.six.columns.omega.icon-plus.button.blue{ href: "#{new_admin_product_path}" }
        = t "spree_admin_enterprises_create_new"
    - else
      %a{ "ofn-with-tip" => "The products that you sell through the Open Food Network." }
        = t "admin.whats_this"
  %div.sixteen.columns.alpha.list
    - if @product_count > 0
      %div.sixteen.columns.alpha.list-item
        %span.thirteen.columns.alpha
          = t(".active_products", count: @product_count )
        %span.three.columns.omega
          %span.icon-ok-sign
      %a.sixteen.columns.alpha.button.bottom.blue{ href: "#{admin_products_path}" }
        = t "spree_admin_enterprises_producers_manage_products"
        %span.icon-arrow-right
    - else
      %div.sixteen.columns.alpha.list-item.red
        %span.thirteen.columns.alpha
          = t(".active_products", count: @product_count )
        %span.three.columns.omega
          %span.icon-remove-sign
      %a.sixteen.columns.alpha.button.bottom.red{ href: "#{new_admin_product_path}" }
        = t "spree_admin_enterprises_create_new_product"
        %span.icon-arrow-right
