- content_for :page_actions do
  = render 'admin/shared/user_guide_link'


%div{ 'ng-app' => 'ofn.admin' }
  %h1{ :style => 'margin-bottom: 30px' }
    = t 'dashboard'

  - if @enterprises.empty?

    = render partial: "enterprises"

  - else

    - if can? :admin, Spree::Product
      = render partial: "products"

      %div.two.columns
        &nbsp;

    - if can? :admin, OrderCycle
      = render partial: "order_cycles"

    = render partial: "enterprises"

  = render partial: "version"
