- content_for :page_title do
  = @enterprise.name
  %span.small<
    = "(#{enterprise_type_name(@enterprise)})"

- content_for :page_actions do
  %li#user_guide_link
    = render 'admin/shared/user_guide_link'

  :javascript
    function toggleType(){
      if( $('#package_selection').is(":visible") ){
        $('button#toggle_type i').switchClass("icon-chevron-up","icon-chevron-down")
      }
      else {
        $('button#toggle_type i').switchClass("icon-chevron-down","icon-chevron-up")
      }
      $("#package_selection").slideToggle()
    }
  %li#package_button
    %button#toggle_type{ onClick: 'toggleType()' }
      = t "change_package"
      %i.icon-chevron-down


#package_selection{ hidden: true }
  = render partial: "/admin/enterprises/change_type_form"

- unless @enterprise.public?
  .alert-box
    %strong
      = t "spree_admin_single_enterprise_hint"
    %strong= "#{t 'manage'} #{@enterprise.name}."
    %a.close{ href: "#" } ×

.row
  .alpha.eight.columns.dashboard_item.single-ent#map
    .header
      %h3
        %span.icon-user
        = t "your_profil_live"
    .list
      %a.button.bottom{href: enterprise_url_selector(@enterprise), target: '_blank'}
        = t "see"
        = @enterprise.name
        = t "live"
        %span.icon-arrow-right

  .eight.columns.omega.dashboard_item.single-ent#edit
    .header
      %h3
        %span.icon-edit
        = t "edit_profile_details"
      %p
        = t "edit_profile_details_etc"
    .list
      %a.button.bottom{href: main_app.edit_admin_enterprise_path(@enterprise)}
        = t "manage"
        = @enterprise.name
        %span.icon-arrow-right

.row
  - if can? :admin, Spree::Product
    .eight.columns.alpha.dashboard_item.single-ent#products
      .header
        %h3
          %span.icon-th-large
          = t "add_and_manage_products"
      .list
        %a.button.bottom{href: admin_products_path}
          = t "manage_products"
          %span.icon-arrow-right

  - if can? :admin, OrderCycle
    .eight.columns.omega.dashboard_item.single-ent#order_cycles
      .header
        %h3
          %span.icon-shopping-cart
          = t "add_and_manage_order_cycles"
      .list
        %a.button.bottom{href: main_app.admin_order_cycles_path}
          = t "manage_order_cycles"
          %span.icon-arrow-right

  = render partial: "version"
