- content_for :page_title do
  %h1
    = @enterprise.name
    %span.small<
      = "(#{enterprise_type_name(@enterprise)})"

- content_for :page_actions do
  :javascript
    function toggleType(){
      $("#type_selection").slideToggle()
    }
  #type_button
    %button#toggle_type{ onClick: 'toggleType()' } Change type


#type_selection{ hidden: true }
  = render partial: "change_type_form"

// Contextual messages. Hide if not being used:
.alert-box{"data-alert" => ""}
  Alert box. Timely and contextual messages go here. Should animate in and be closeable.
  %a.close{:href => "#"} ×
  

.row
  .alpha.seven.columns.dashboard_item
    .header 
      %h3 
        %span.icon-map-marker
        Your profile live
      %p on the Open Food Network map
    .list
      /-# Can we pass an anchor here to zoom to our enterprise?
      %a.button.bottom{href: main_app.map_path, target: '_blank'}
        See
        = @enterprise.name 
        live
        %span.icon-arrow-right
  .two.columns
    &nbsp;

  .seven.columns.omega.dashboard_item
    .header 
      %h3 
        %span.icon-edit 
        Edit profile details
      %p Change your profile description, images, etc.
    .list
      %a.button.bottom{href: main_app.edit_admin_enterprise_path(@enterprise)}
        Manage
        = @enterprise.name 
        %span.icon-arrow-right

.row
  .seven.columns.alpha.dashboard_item
    - if can? :admin, Spree::Product
      .header 
        %h3 
          %span.icon-th-large
          Add &amp; manage products
      .list
        %a.button.bottom{href: bulk_edit_admin_products_path}
          Manage products
          %span.icon-arrow-right

  .two.columns
    &nbsp;

  .seven.columns.omega.dashboard_item
    - if can? :admin, OrderCycle
      .header 
        %h3 
          %span.icon-shopping-cart
          Add &amp; manage order cycles
      .list
        %a.button.bottom{href: main_app.admin_order_cycles_path}
          Manage order cycles
          %span.icon-arrow-right




